Fix/address a bunch of documentation and design issues as outlined.

### Submission type

 - Bug report
 - Request for enhancement (RFE)

### systemd version the issue has been seen with

`master`

### Used distribution

N/A

### RFE

The following post has a few issues ranging from documentation problems to wrong behaviour outright. Please fix them or atleast address the problems that have been raised. Most of them do not call for a redesign, just more transparency about behaviour in documentation and some rewording, and in some cases, compliance with existing standards used elsewhere.

http://fromthecodefront.blogspot.in/2017/07/systemd-pitfalls.html

I am not convinced this is really the right place for discussing this, as this is a bug tracking and feature request system, not a discussion forum. If you have explicit requests or bugs, then please file explict github issues, that's how this works. Posting blog stories really is not.

Anyway, here are a few comments:

> journald completely disregards RFC 5424, section 6.3, including no support for picking up structured log data nor forwarding its own structured data. It does forward existing structured syslog data by virtue of leaving log messages unaltered.

It appears to me the structure log stuff in RFC 5424 is not actually used much in real-life. It appears if people do structured logging they use greylog or journald's structured logging, but not the stuff from RFC 5424 (which isn't a "standard" even, just a "proposed" one). We collect data from stdout/stderr of services, via our native protocol, from kmsg and the audit subsystem. We also listen on /dev/log. Neither of these inputs provides RFC 5424 data, at least I have never seen that. glibc's syslog() call for example does not generate that.

I am mostly interested in supporting what is actually used, but RFC 5424 structured logging doesn't appear to be used IRL (and yes, i know rsyslog implements it, but that doesn't mean it's widely adopted) 

>    journald makes it impossible for syslog implementations to pick up trusted metadata via the kernel. Since it imposes itself between the syslog daemon and the logging service, all kernel-obtainable metadata is from the journal server. If you need that, you must interface with journald. (workaround module for rsyslog, which has trouble with corrupted journal files).

This isn't really much of a limitation. Whether clients get the metadata from the userspace component called "journald" or the userspace component called "rsyslog" doesn't mean much from a security pov. As long as its privileged code, and the data is picked up from the kernel, it's fine.

>    journald stores its file descriptors in PID1 when it is stopped via sd_pid_notify_with_fds(). As this is not implemented as a reliable transmission, journald restarts have a chance of losing all logging streams.

Well, AF_UNIX is reliable transport. AF_UNIX isn't AF_INET after all...

>    Journald automatically attempts to set nocow if /var/log/journal is on a btrfs filesystem 📚. Nocow also disables btrfs checksumming and thus potential data recovery from multiple block copies. This is not mitigated by the journal's limited checksumming. nocow is re-enabled when a journal file is put offline 📚.

It would be good if btrfs would allow nocow behaviour with checksumming. It does not, which is a pity indeed, but not really a systemd limitation.

>    📚 The journal file format description is --to this date-- still incomplete. There is no mention of --for example-- sealing and LZ4 compression.

There's plenty "mention" of sealing. There's even a scientific paper about it. Could there be more documentation? Yes, absolutely. Please file a bug requesting more if you intend to reimplement this. And yes, the LZ4 compression bit is not documented yet. Similar situation.

>    📚 The journal still seems to strip white space from log messages before forwarding them to syslog. This means, that e.g. multiline log entries with whitespace indentation a continuation marker are mangled.

Yes, journald will sanitize input to a certain point, including dropping empty lines for messages from stdout/stderr, and dropping trailing whitespace, in order to reduce noise. However, leading whitespace is left as-is, as it is used for indentation and stuff.  It appears the blogger didn't read the sources properly, as the code he linked only truncates trailing whitespace during stream operation (it skips leading whitespace during stream setup too, but not during operation, i.e. `orig` is used for that, not `p`).

>    📚 The journald query API is  documented by completely avoiding any of the well-known jargon (conjunctive query, predicate, variable, literal, atom) for database/datalog queries and instead uses custom idioms.

Uh, the journald API is not supposed to be a scientific paper. I am not even sure where I would use words such as "atom" and this would be helpful to people. But by all means, please provide documentation patches that improves things, we are always interested, but please focus on real users, not scientists.

>    StartLimitInterval= was silently moved from the [Service] to the [Unit] section. Compatibility is provided for StartLimitInterval=, but not for StartLimitIntervalSec=.📚 for such changes does not appear where it should.

We usually are pretty good at documenting such changes in NEWS. We forgot it in this case, definitely something we can still update in the NEWS files.

>    Interaction with journald via PID1 is a deadlock candidate (PID1 blocked on writing to DBUS, dbus blocked on logging to journald, journald blocked on sd_notify), worked around by write-polling the notify socket and issuing a non-blocking write. Again, this might mean you loose all logging streams on restart if the system is busy. 

Yupp, but the alternative is to lose it *always* on restart. And losing the stdout/stderr streams only on overload is much better than losing them unconditionally.

>    📚 In general, interaction with the systemd bus by various components is a mix of blocking and non-blocking IO, including silent dropping of messages on EAGAIN. Messaging is either unreliable or contains more possible deadlock candidates.

I'd be curious about details about what the blogger specifically means by this. He must have some place in the code in mind.

>    The initial kill for KillMode=process and KillMode=mixed are sent from PID1 as root, ignoring hardening even in previous SysV implementations. Combined with PIDFile=, this allows an unprivileged service to kill an arbitrary process when the service is stopped.

The sysv concept of PIDFile= should not be something untrusted code should be able write to. That said I'd be open to being more strict there, and requiring that any PID specified with that needs to be part of the service's cgroup or the owner of the file must be root. (But note that we leave SysV compat territory then, as sysv had no such logic)

>    PID1 has a single-threaded message loop with only limited QoS. For example, a unit can cause a denial of service in PID1 by repeatedly sending file descriptors to PID1. This requires fdstore to be enabled explicitly, though.

Yes, accepting fds via sockets is not entirely safe on Linux, and it is DoS-able, which is why this is a per-service opt-in, and should not be permitted to untrusted clients.

So the PID file code has been updated a bit in db256aab13d8a89d583ecd2bacf0aca87c66effc, i think that settles that part.

I also retroactively added the NEWS thing in dd95b381b26369c02a3ca03585184cb2ea17295b.

These were the two actionable things listed I think. Let's close this hence here.

@bl33pbl0p he's a bit confused there... we don't eat up any EAGAIN there, the return value matters... if it's 0 we couldn't do anything, if it's > 1 we did. EAGAIN is one of the reasons if we couldn't do it, hence we return 0.