networkd: assigning IA_PD address to upstream, wrong subnet size

systemd 250.3

**Used distribution**
 > Debian 11, with bullseye-backports

**Linux kernel version used** (`uname -a`)
<!-- Make sure to enclose the pasted kernel version in `backticks`, so that
     GitHub doesn't convert the `#` character typically included in it into a
     reference to old GitHub issues. -->
 > `Linux nexushw 5.10.0-11-amd64 #1 SMP Debian 5.10.92-1 (2022-01-18) x86_64 GNU/Linux`

**CPU architecture issue was seen on**
 > x86_64

**Expected behaviour you didn't see**
 > On a systemd-networkd-powered CE router with one upstream and several internal interfaces, connected to a v4/v6 dual-stack link: Using the config example in fc2161e5b98d35c971d0b9b3446fffd1f7f0a2f4, I would expect networkd to assign a /64 address to my upstream/WAN interface, honouring the `[DHCPPrefixDelegation]` parameters like SubnetId, Token, etc. just like it already works fine for internal LAN interfaces. As a consequence, the router itself would be able to use this address for v6 connections to WAN.

**Unexpected behaviour you saw**
 > Using below's interface configuration, and with an ISP-delegated prefix of 2001:db8:205:e900::/56, the upstream/WAN interfaces gets an eui-64 address assigned in 2001:db8:205:e9**00::/56** instead of 2001:db8:205:e9**SubnetId::/64**. A respective route with /56 is added, potentially messing with the also-existing unreachable route for the delegated prefix.

**Steps to reproduce the problem**
`wan.network` (truncated)
```
[Match]
Name=wan

[Network]
DHCP=yes
IPv6AcceptRA=yes
IPv6SendRA=no
# we want a delegated-prefix address also on WAN
DHCPPrefixDelegation=yes

[DHCPv6]
UseDelegatedPrefix=yes
PrefixDelegationHint=::/56
WithoutRA=solicit

[DHCPPrefixDelegation]
UplinkInterface=:self
SubnetId=0xf
Announce=no
```


**Additional program output to the terminal or log subsystem illustrating the issue**

Interface status:
```
$ ip -br a s dev wan
wan  UP  x.y.220.189/30 2001:db8:205:e900:225:90ff:fef2:c636/56 metric 256 2001:db8:0:97:24e2:418:61c8:2433/128 fe80::225:90ff:fef2:c636/64 
```
The first v6 is the wrongly assigned /56 WAN IP (instead of /64), and ignoring the `SubnetId=0xf`. The second v6 is the IA_NA assigned IP (not relevant for the issue, would be removed in the future with `UseAddress=no`)

For comparison, the properly assigned /64 subnet on LAN-side, with `SubnetId=0x0a` taken into account:
```
$ ip -br a s dev vlan10
vlan10  UP  192.168.1.1/24 2001:db8:205:e90a::1/64 metric 256 fe80::b8c5:82ff:fe11:fab5/64
```
using this config (`Assign` primarily for visibility):
```
[Match]
Name=vlan10

[Network]
IPv6AcceptRA=no
IPv6SendRA=yes
DHCPPrefixDelegation=yes

[DHCPPrefixDelegation]
SubnetId=0x0a
Announce=yes
Assign=yes
Token=::1
```

Resulting route table (truncated):
```
$ ip -6 route
2a02:8106:205:e90a::/64 dev vlan10 proto kernel metric 256 expires 5382sec pref medium
2a02:8106:205:e900::/56 dev wan proto kernel metric 256 expires 5382sec pref medium
unreachable 2a02:8106:205:e900::/56 dev lo proto dhcp metric 1024 pref medium
```

Is this a misconfiguration on my side, or a misbehaviour of the special case when assigning a PD address on WAN? I would expect a /64 assigned to WAN exactly the same way as LAN interfaces, no?

Thanks and regards


Thanks. This is not your misconfiguration. Actually, the current implementation sounds spurious, and I agree your opinion that networkd should also assign /64 address for WAN interface. But, before fixing this issue, I tried to find documents which explain WAN interface addressing with DHCPv6-PD, but I found nothing... Do you know any documents about the WAN interface addressing with DHCPv6-PD?

Note, from https://www.rfc-editor.org/rfc/rfc7084#section-4.2,
> WAA-7:   If the IPv6 CE router does not acquire a global IPv6
            address(es) from either SLAAC or DHCPv6, then it MUST create
            a global IPv6 address(es) from its delegated prefix(es) and
            configure those on one of its internal virtual network
            interfaces, unless configured to require a global IPv6
            address on the WAN interface.

From [TR-124 Issue 6](https://www.broadband-forum.org/technical/download/TR-124_Issue-6.pdf)
> WAN.IPv6.12 
If the RG does not have a globally-scoped address on its WAN
interface after having been delegated a prefix, it MUST create
addresses for itself from the delegated prefix. It MUST have at least
one address and MAY have more.
There is currently no algorithm defined for address creation. It
should be assumed that different service providers will want
different rules for how to create the address, how many addresses to
create, and in the case of multiple addresses, how the different
addresses are used.

From [IPv6家庭用ルータガイドライン（2.0版 2010年7月29日発行）](https://www.v6pc.jp/jp/upload/pdf/v6hgw_Guideline_2.0.pdf) (sorry, in Japanese)
> ユーザの利便性を考えると、WAN 側のアドレスを自動的に設定する仕組みを家庭用ルータに用意する必要があるが、標準的な手法は確立されていない。
備考：上述した割り当てルールの一例を示す。
ユーザ割り当てプレフィックス： 2001:db8:2000::/48
WAN 側プレフィックス： 2001:db8:2000::/64
サービス提供者側ルータアドレス： 2001:db8:2000::1/64
家庭用ルータアドレス： 2001:db8:2000::2/64
LAN 側プレフィックス： 2001:db8:2000:1::/64

Fix is waiting in #22574.

This is great, appreciate your time+work @yuwata! Unfortunately I cannot test the fix due to the lack of a DHCPv6-PD test env.

As you asked for some references, I did some research on this matter and came up with the following findings:

- The now-obsolete RFC3633 (DHCPv6-PD) explicitly forbade assigning a PD subnet on the upstream interface:

> [12.1](https://datatracker.ietf.org/doc/html/rfc3633#section-12.1).  Requesting router behavior
Upon the receipt of a valid Reply message, for each IA_PD the requesting router assigns a subnet from each of the delegated prefixes to each of the links to which the associated interfaces are attached, with the following exception: the requesting router MUST NOT assign any delegated prefixes or subnets from the delegated prefix(es) to the link through which it received the DHCP message from the delegating router.

- RFC6603 (Prefix Exclude for DHCPv6-PD) addresses the situation of using a PD subnet on upstream/WAN, even explicitly mentioning /64 size:

> [3](https://datatracker.ietf.org/doc/html/rfc6603#section-3).  Problem Background
There are architectures and link models where a host (e.g., a mobile router, also acting as a requesting router) always has a single (/64) prefix configured on its uplink interface and the delegating router is also the requesting router's first-hop router.  Furthermore, it may be required that the prefix configured on the uplink interface has to be aggregatable with the delegated prefixes.

- The now-valid RFC8415 (DHCpv6) which replaced 3633 completely got rid of the abovementioned restriction.

Some input can also be found [here](https://support.qacafe.com/knowledge-base/dhcpv6-prefix-exclude-configuration/) (I am not affiliated nor familiar with CDRouter). Interestingly, it allows configuring arbitrary subnet sizes which networkd does not support today: The original implementation of `SubnetId` in https://github.com/systemd/systemd/pull/15669 mentioned potential challenges with arbitrary, non-/64 subnet sizes in networkd.
> In contrast to the request (https://github.com/systemd/systemd/issues/13638) I did not implement arbitrary subnet sizes. The main reason was that so far networkd only tracks network addresses and assumes all the assigned prefixes have a prefix length of 64 bit. Changing this to support the requested "IPv6PDNetworkSize=" option would probably a larger refactoring of the whole code. While not completely unfeasible I consider this current approach as a good first step.

Besides, I am aware of ISPs which do NOT use IA_NA at all (nor RA) and ONLY provide a v6 prefix via IA_PD. In consequence, the CPE has to select one subnet and assign an address to its WAN interface to allow v6 connectivity for the CPE itself. I'll try to provide a CPE routing table example for reference.

Overall, for the intended situation I think allowing the assignment of a fixed-length /64 subnet on WAN is the right approach for now. Just curious, would this then potentially allow `IPv6PrivacyExtensions` to kick in on WAN, just like on LAN interfaces (and something which of course does not work with an IA_NA /128 address)?

Regards

Thank you for the references. I have not read RFC6603, as we do not support the Prefix Exclude option.

> Overall, for the intended situation I think allowing the assignment of a fixed-length /64 subnet on WAN is the right approach for now. Just curious, would this then potentially allow `IPv6PrivacyExtensions` to kick in on WAN, just like on LAN interfaces (and something which of course does not work with an IA_NA /128 address)?

Yeah, assigning a /64 prefix to WAN sounds to be reasonable choice, at least with the current features which networkd supports.