resolved should send unicast mDNS responses when appropriate

RFC 6762 (section 6, and section 6.7) specifies that the resolver must respond to mDNS queries with unicast packets:
* when the unicast-response bit is explicitly set in the query (https://github.com/systemd/systemd/issues/17973)
* when answering a legacy/one-shot query (one whose source port is not 5353) (sections 5.1 and 6.7)
* when answering a direct unicast query (section 5.5)