Request support Semantically Opaque Interface Identifiers with IPv6 (SLAAC) RFC 7217

### Submission type

  - [ ] Bug report
  - [x] Request for enhancement (RFE)

*NOTE: Do not submit anything other than bug reports or RFEs via the issue tracker!*

### systemd version the issue has been seen with

> systemd 231
+PAM -AUDIT -SELINUX -IMA -APPARMOR +SMACK -SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD +IDN

*NOTE: Do not submit bug reports about anything but the two most recently released systemd versions upstream!*

### Used distribution

> Arch Linux

### In case of bug report: Expected behaviour you didn't see

> …

### In case of bug report: Unexpected behaviour you saw

> …

### In case of bug report: Steps to reproduce the problem

> …

#### Additional Information
RFC 4862 defines how to create an GUA (Global Unique Address) via SLAAC. But a GUA based on MAC address (EUI64) has limitations as referenced in RFC 7707, and a new unguessable method has been created via RFC 7217. iOS 10, and Mac OSX 10.12 support RFC 7217.


I recently started using IPV6, and i'm wondering why the EUI64 addresses are still used by networkd, when RFC7217 has been around for years. Is this very complicated to implement? Has anyone tried?

Is RFC 7217 still not implemented? It's terrible.😥

Time for joy we implemented. 

@ssahani is this already released?

yes it's released and in 245. https://github.com/systemd/systemd/blob/master/man/systemd.network.xml#L311

> yes it's released and in 245. https://github.com/systemd/systemd/blob/master/man/systemd.network.xml#L311

Thanks @ssahani 

In the original PR we had `mode:ip6_address`, both being optional. But the now released version seems to require an ip6_address (prefix) and `stableprefix` is only applied when this prefix/ip6_address matches the RA's prefix. So there doesn't seem to exist an universal way to activate this feature...
How can it be applied for any prefix (provided via RA) of a given network interface?

The backward compatibility also there. Providing a `IPv6Token=` will get into `static` mode and the token is used to generate the lower part of the address. As per generating prefix stable from any random prefix is not supported now. May be a RFE. For now you need to know the prefix and it should match.

@slyon I prepared PR #16618.