src/libsystemd-network/sd-dhcp-lease.c filters out “localhost” DHCP search domain

Commit https://github.com/systemd/systemd/commit/784d9b9c09aa1ecdc688f251ea423fb47892f498 by @teg filters out localhost/localdomain as DHCP search domain, but doesn’t refer to any rationale for that.

I’ve looked through https://tools.ietf.org/html/rfc3646, but can’t find a recommendation for clients to do so. Is it specified in another RFC that I couldn’t find?

I’m using “localhost” as the domain of my local network, because it’s the only reserved top-level domain that seemed somewhat appropriate, meaning it will never clash with anything officially registered.

I’m aware the literate isn’t clearly documenting that “localhost” can be used like that. Yet, I’m wondering about the specific rationale for this filtering.


We try to validate all input we get, and we need to make sure that rogue DHCP servers don't pass borked data to us. Specifically, "localhost" comes with a certain level of trust: everything on localhost is generally assumed to be on the local host, and thus is assumed to not involve communication via external transports. If we'd allow "localhost" passed in via DHCP then this assumption is broken possibly leaking assumed-to-be-private communication to external networks.

The assumptions around "localhost" are documented in RFC 6761 section 6.3. (paragraph 7 kinda vaguely could be read as saying that "localhost" should also not be handed out via DHCP).

Anyway, I am pretty sure we do the right thing here, hence closing.
