networkd: IPv6 prefix delegation not updated correctly when prefix changes

**systemd version the issue has been seen with**
> 244.3 (from Debian buster backports) and git master at commit ac24e418d9bc988ecf114c464701b35934948178

<!-- **NOTE:** Do not submit bug reports about anything but the two most recently released systemd versions upstream! -->
<!-- For older version please use distribution trackers (see https://systemd.io/CONTRIBUTING#filing-issues). -->

**Used distribution**
 > Debian stable (Buster)

**Expected behaviour you didn't see**
 > I have an internet connection via a router provided by my ISP (called "CPE" from here on) and use a Linux box as a router in between the CPE and my internal network. Thus, my internal network needs its own IPv6 prefix. The CPE supports IPv6 prefix delegation via DHCPv6. My internet connection does not have stable IPv6 prefixes, so each time the connection is reset, the delegated prefixes become invalid. (Unfortunately, the CPE does not send a Reconfigure message.)

> Using tcpdump I found: When systemd-networkd wants to renew the prefixes, it sends a DHCPv6 Renew message and gets a NoBinding response if the prefix is no longer valid. My reading of RFC 8415 (Sec. 18.2.10.1) is that in this case the DHCPv6 client should request a new prefix. Instead, systemd-networkd continuously retries renewing the expired prefix without success. After some time, it switches to Rebind messages, with the same effect. IPv6 connectivity is lost. I would expect that systemd-networkd would switch to trying to obtain a new prefix.

**Unexpected behaviour you saw**
 > I also encounter #13564, i.e., systemd-networkd never cleans up routes for delegated prefixes that are no longer valid. These prefixes are no longer advertised downstream by networkd, so that part seems to work, but the routes remain, leading to possible problems since they no longer "belong" to me.

**Steps to reproduce the problem**
Config files:
```
#/etc/systemd/network/10-enp3s0.network <- the "external" interface

[Match]
Name=enp3s0

[Network]
Address=<some RFC1918 IPv4 address>
Gateway=<IPv4 gateway>
Address=fdxx:xxxx:xxxx:xxxx::1/64
IPv6AcceptRA=yes
DHCP=ipv6
IPv6PrivacyExtensions=true

[DHCPv6]
# Note: usually, the CPE is configured to only set the "Other
# Configuration" flag. I also tried changing it to set the "Managed"
# flag in router advertisements, but with the setting below, there
# is no difference in the behavior of networkd. In git master I hit
# issue #15375 instead without the "Managed" flag.
ForceDHCPv6PDOtherInformation=yes


#/etc/systemd/network/20-br0.network <- the "internal" interface

[Match]
Name=br0

[Network]
Address=<some RFC1918 IPv4 address>
Address=fdxx:xxxx:xxxx:yyyy::1/64
IPv6PrefixDelegation=yes

[IPv6PrefixDelegation]
Managed=yes
OtherInformation=yes
RouterLifetimeSec=7200
EmitDNS=yes
DNS=fdxx:xxxx:xxxx:yyyy::1
DNSLifetimeSec=7200

[IPv6Prefix]
Prefix=fdxx:xxxx:xxxx:yyyy::/64
ValidLifetimeSec=7200
PreferredLifetimeSec=3600
```

To "fix" this, running `networkctl reconfigure enp3s0` helps, but does not remove old routes.

> Using tcpdump I found: When systemd-networkd wants to renew the prefixes, it sends a DHCPv6 Renew message and gets a NoBinding response if the prefix is no longer valid. My reading of RFC 8415 (Sec. 18.2.10.1) is that in this case the DHCPv6 client should request a new prefix. Instead, systemd-networkd continuously retries renewing the expired prefix without success. After some time, it switches to Rebind messages, with the same effect. IPv6 connectivity is lost. I would expect that systemd-networkd would switch to trying to obtain a new prefix.

Can you please quote the section where it's points that if NoBinding in the status code then it should request a new prefix.  

I think the reply should be `NoAddrsAvai`l or `NoPrefixAvail` status code.

Can you paste in tcpdump where `NoBinding` message is encoded.  This can be fixed in networkd by resting  the state and restart the client.

At the end of section 18.2.10.1 you can find:

>   When the client receives a Reply message in response to a Renew or
>   Rebind message, the client:
>
>   -  Sends a Request message to the server that responded if any of the
>      IAs in the Reply message contain the NoBinding status code.  The
>      client places IA options in this message for all IAs.  The client
>      continues to use other bindings for which the server did not
>      return an error.

NoAddrsAvail and NoPrefixAvail makes no sense at all, since the router does have addresses and prefixes available, just not the ones requested by the client.

I don't have much time right now, so here just a copy-paste of the relevant packages from wireshark, please let me know if you need more info/different format. Thanks!

The rebind package sent by systemd (some data anonymized):
```
DHCPv6
    Message type: Rebind (6)
    Transaction ID: 0xb0456c
    Fully Qualified Domain Name
        Option: Fully Qualified Domain Name (39)
        Length: 6
        Value: 01046361746f
        0000 0... = Reserved: 0x00
        .... .0.. = N bit: Server should perform DNS updates
        .... ..0. = O bit: Server has not overridden client's S bit preference
        .... ...1 = S bit: Server should perform forward DNS updates
        Client FQDN: cato
    Identity Association for Prefix Delegation
        Option: Identity Association for Prefix Delegation (25)
        Length: 41
        Value: xxxxxx...
        IAID: cb390ac7
        T1: 1800
        T2: 2880
        IA Prefix
            Option: IA Prefix (26)
            Length: 25
            Value: ...
            Preferred lifetime: 3600
            Valid lifetime: 7200
            Prefix length: 62
            Prefix address: xxxx:xxxx:7e:c6fc::
    Option Request
        Option: Option Request (6)
        Length: 10
        Value: 001700180038001f000e
        Requested Option code: DNS recursive name server (23)
        Requested Option code: Domain Search List (24)
        Requested Option code: NTP Server (56)
        Requested Option code: Simple Network Time Protocol Server (31)
        Requested Option code: Rapid Commit (14)
    Client Identifier
        Option: Client Identifier (1)
        Length: 14
        Value: xxxx
        DUID: xxxx
        DUID Type: assigned by vendor based on Enterprise number (2)
        Enterprise ID: Tom Gundersen (systemd) (43793)
        Identifier: xxxx
    Elapsed time
        Option: Elapsed time (8)
        Length: 2
        Value: ffff
        Elapsed time: 655350ms
```

The reply by the router:
```
DHCPv6
    Message type: Reply (7)
    Transaction ID: 0xb0456c
    NTP Server
        Option: NTP Server (56)
        Length: 20
        Value: xxxxxxxx
        NTP Server Address
            Suboption: NTP Server Address (1)
            Length: 16
            NTP Server Address: xxxxxxxx
    Client Identifier
        Option: Client Identifier (1)
        Length: 14
        Value: xxxx
        DUID: xxxx
        DUID Type: assigned by vendor based on Enterprise number (2)
        Enterprise ID: Tom Gundersen (systemd) (43793)
        Identifier: xxxx
    Server Identifier
        Option: Server Identifier (2)
        Length: 10
        Value: xxxx
        DUID: xxxx
        DUID Type: link-layer address (3)
        Hardware type: Ethernet (1)
        Link-layer address: xxxxxx
    Status code
        Option: Status code (13)
        Length: 17
        Value: xxxx
        Status Code: NoBinding (3)
        Status Message: iapd not found
```

Based on the quoted excerpt from RFC 8415, I believe that systemd should now regard the old delegated prefix as invalid and request a new one immediately.


> At the end of section 18.2.10.1 you can find:
> 
> > When the client receives a Reply message in response to a Renew or
> > Rebind message, the client:
> > 
> > * Sends a Request message to the server that responded if any of the
> >   IAs in the Reply message contain the NoBinding status code.  The
> >   client places IA options in this message for all IAs.  The client
> >   continues to use other bindings for which the server did not
> >   return an error.

Can you explain how do you interpret this to your issue.

> 
> NoAddrsAvail and NoPrefixAvail makes no sense at all, since the router does have addresses and prefixes available, just not the ones requested by the client.

Then what actually makes sense ?

> 
> I don't have much time right now, so here just a copy-paste of the relevant packages from wireshark, please let me know if you need more info/different format. Thanks!

What do you mean by dont have time. ?>




> > At the end of section 18.2.10.1 you can find:
> > > When the client receives a Reply message in response to a Renew or
> > > Rebind message, the client:
> > > 
> > > * Sends a Request message to the server that responded if any of the
> > >   IAs in the Reply message contain the NoBinding status code.  The
> > >   client places IA options in this message for all IAs.  The client
> > >   continues to use other bindings for which the server did not
> > >   return an error.
> 
> Can you explain how do you interpret this to your issue.

Systemd sends a Rebind (first package quoted above), for a given delegated prefix. But, the router does no longer have this prefix, since it changed upstream at my ISP. Therefore, it replies with "NoBinding". Then I read the above as following: The client received a NoBinding as an answer to a Renew or Rebind and should therefore send a (new) Request message to obtain a completely new prefix (in this case). That is my understanding and it seems pretty clear and unambiguous to me. Am I missing something or what exactly is unclear?

> > NoAddrsAvail and NoPrefixAvail makes no sense at all, since the router does have addresses and prefixes available, just not the ones requested by the client.
> 
> Then what actually makes sense ?

Based on the client behavior described in the RFC, NoBinding makes sense to me, which is what the router sends. My reading of the RFC is that NoPrefixAvail would mean that the router has no prefix available *at all*. That is obviously not the case.

> > I don't have much time right now, so here just a copy-paste of the relevant packages from wireshark, please let me know if you need more info/different format. Thanks!
> 
> What do you mean by dont have time. ?>

I was in a hurry is what I meant. If the package information copy-pasted above is sufficient for you, feel free to ignore this.

Thank you.

@t-brink If possible, could you test PR #16585?