Unable to assign address from ISP prefix-delegation on receiving interface (WAN/uplink)

### systemd version the issue has been seen with

253

### Used distribution

Ubuntu Server 23.10

### Linux kernel version used

6.5.0-25-generic

### CPU architectures issue was seen on

x86_64

### Component

systemd-networkd

### Expected behaviour you didn't see

My ISP assigns a /56 PD prefix via DHCPv6 (No SLAAC), and I want to assign an IPv6 address to the uplink interface enp1s0 using this PD prefix. The server has only one interface enp1s0. I hope my server can access the IPv6 internet through this interface.

For example, if my ISP provides: 2001:db8::/56, I want to automatically assign a 2001:db8::1/64 on the uplink interface.

### Unexpected behaviour you saw

I referred to this[ issue ](https://github.com/systemd/systemd/issues/20808)to write the wan.network, attempting to assign a specific IPv6 address to the uplink interface, but it didn't work.

```
[Match]
Name=enp1s0

[Network]
DHCP=ipv6
IPv6AcceptRA=yes
DHCPPrefixDelegation=yes
DNS=2404:1a8:7f01:a::3
DNS=2404:1a8:7f01:b::3

[DHCPv6]
UseDelegatedPrefix=yes
WithoutRA=solicit
DUIDType=link-layer
IAID=0

[DHCPPrefixDelegation]
UplinkInterface=:self
SubnetId=0
Assign=yes
Token=::1
```


### Steps to reproduce the problem

```
[Match]
Name=enp1s0

[Network]
DHCP=ipv6
IPv6AcceptRA=yes
DHCPPrefixDelegation=yes
DNS=2404:1a8:7f01:a::3
DNS=2404:1a8:7f01:b::3

[DHCPv6]
UseDelegatedPrefix=yes
WithoutRA=solicit
DUIDType=link-layer
IAID=0

[DHCPPrefixDelegation]
UplinkInterface=:self
SubnetId=0
Assign=yes
Token=::1
```


### Additional program output to the terminal or log subsystem illustrating the issue

```sh
Mar 16 09:35:43 jptest systemd-networkd[1793]: lo: Link UP
Mar 16 09:35:43 jptest systemd-networkd[1793]: lo: Gained carrier
Mar 16 09:35:43 jptest systemd-networkd[1793]: enp1s0: Link UP
Mar 16 09:35:43 jptest systemd-networkd[1793]: enp1s0: Gained carrier
Mar 16 09:35:43 jptest systemd-networkd[1793]: enp1s0: Gained IPv6LL
Mar 16 09:35:43 jptest systemd-networkd[1793]: Enumeration completed
Mar 16 09:35:43 jptest systemd[1]: Started systemd-networkd.service - Network Configuration.
░░ Subject: A start job for unit systemd-networkd.service has finished successfully
░░ Defined-By: systemd
░░ Support: http://www.ubuntu.com/support
░░
░░ A start job for unit systemd-networkd.service has finished successfully.
░░
░░ The job identifier is 1439.
Mar 16 09:35:43 jptest systemd-networkd[1793]: enp1s0: Configuring with /run/systemd/network/10-netplan-enp1s0.network.
Mar 16 09:35:45 jptest systemd-networkd[1793]: enp1s0: DHCP: received delegated prefix 2400:xxxx:xxxx:xxxx::/56
```


How "it didn't work"? Please explain more. Also, please provide debugging logs of networkd.

> ```shell
> enp1s0: DHCP: received delegated prefix
> ```


Just like in the Additional program output, the networkd logs up to "enp1s0: DHCP: received delegated prefix". enp1s0 has not been assigned an IPv6 address.

> How "it didn't work"? Please explain more. Also, please provide debugging logs of networkd.

My ISP does not support providing an IPv6 address for the WAN interface via ICMPv6; they only provide a PD prefix through DHCPv6. After requesting the prefix according to the configuration above, the WAN interface enp1s0 was not properly assigned an IPv6 address, and only a route pointing to the upstream gateway could be seen in the routing table. The logs are just like the Additional program output, with all logs related to systemd-networkd after startup being like that. Therefore, I wonder if this is due to my misconfiguration or a bug in networkd.

Delegated prefix cannot be assigned to the link used to request this prefix unless delegating router explicitly excluded it using Prefix Exclude Option. If networkd does it, it is incorrect.

[Prefix Exclude Option for DHCPv6-based Prefix Delegation](https://datatracker.ietf.org/doc/html/rfc6603)

> DHCPv6 Prefix Delegation (DHCPv6-PD) [[RFC3633](https://datatracker.ietf.org/doc/html/rfc3633)] has an explicit
   limitation described in [Section 12.1 of [RFC3633]](https://datatracker.ietf.org/doc/html/rfc3633#section-12.1) that a **prefix
   delegated to a requesting router cannot be used by the delegating
   router.**




> Delegated prefix cannot be assigned to the link used to request this prefix unless delegating router explicitly excluded it using Prefix Exclude Option. If networkd does it, it is incorrect.
> 
> [Prefix Exclude Option for DHCPv6-based Prefix Delegation](https://datatracker.ietf.org/doc/html/rfc6603)
> 
> > DHCPv6 Prefix Delegation (DHCPv6-PD) [[RFC3633](https://datatracker.ietf.org/doc/html/rfc3633)] has an explicit
> > limitation described in [Section 12.1 of [RFC3633]](https://datatracker.ietf.org/doc/html/rfc3633#section-12.1) that a **prefix
> > delegated to a requesting router cannot be used by the delegating
> > router.**

I’m trying to get my Ubuntu setup with just one network interface to connect to the internet using IPv6. Any tips or steps on how to make that work? Thanks!

> Delegated prefix cannot be assigned to the link used to request this prefix unless delegating router explicitly excluded it using Prefix Exclude Option. If networkd does it, it is incorrect.
> 
> [Prefix Exclude Option for DHCPv6-based Prefix Delegation](https://datatracker.ietf.org/doc/html/rfc6603)
> 
> > DHCPv6 Prefix Delegation (DHCPv6-PD) [[RFC3633](https://datatracker.ietf.org/doc/html/rfc3633)] has an explicit
> > limitation described in [Section 12.1 of [RFC3633]](https://datatracker.ietf.org/doc/html/rfc3633#section-12.1) that a **prefix
> > delegated to a requesting router cannot be used by the delegating
> > router.**

My ISP only provides a PD prefix, and my PC has only one interface enp1s0 serving as WAN. If networkd cannot assign an IPv6 address to WAN, does this mean I cannot access the internet?

I'm very confident that this is the same issue: https://github.com/systemd/systemd/issues/31349

I tripped over this doing a similar thing. It silently fails with `NoAddrsAvail` when client requests an address but the DHCPv6 server only assigns IPv6 prefix (IA_PD), not IPv6 address (IA_NA).

The solution/workaround is as yuwata mentioned in the references issue:

              Ouch. Please try to set `UseAddress=no` in `[DHCPv6]` section as a workaround.

_Originally posted by @yuwata in https://github.com/systemd/systemd/issues/31349#issuecomment-1949165385_  



I think issue #31349 is a regression in v255, and is not related.
There was a similar issue #29979, and fixed by #29981, which is backported to v254-stable, but not for v253-stable yet.

> Delegated prefix cannot be assigned to the link used to request this prefix unless delegating router explicitly excluded it using Prefix Exclude Option. If networkd does it, it is incorrect.
> 
> [Prefix Exclude Option for DHCPv6-based Prefix Delegation](https://datatracker.ietf.org/doc/html/rfc6603)
> 
> > DHCPv6 Prefix Delegation (DHCPv6-PD) [[RFC3633](https://datatracker.ietf.org/doc/html/rfc3633)] has an explicit
> > limitation described in [Section 12.1 of [RFC3633]](https://datatracker.ietf.org/doc/html/rfc3633#section-12.1) that a **prefix
> > delegated to a requesting router cannot be used by the delegating
> > router.**

@arvidjaar Interesting. Then, maybe we should change the default value.

@missing233 The log you provide does not contain debugging logs. Please create the following drop-in config with `sudo systemctl edit systemd-networkd.service`, 
```
# /etc/systemd/system/systemd-networkd.service.d/override.conf
[Service]
Environment=SYSTEMD_LOG_LEVEL=debug
```
and restart networkd. Then, you can find debugging logs in journal. Please provide them.

> @missing233 The log you provide does not contain debugging logs. Please create the following drop-in config with `sudo systemctl edit systemd-networkd.service`,
> 
> ```
> # /etc/systemd/system/systemd-networkd.service.d/override.conf
> [Service]
> Environment=SYSTEMD_LOG_LEVEL=debug
> ```
> 
> and restart networkd. Then, you can find debugging logs in journal. Please provide them.

Sorry for the late reply. Since I'm not by the server right now, I will provide the debug log in a few days. 
Also, I noticed you're in Japan too. I encountered this issue on NTT Flet's Hikari Cross, maybe you could give it a try as well?