Announce deprecated IPv6 prefix

### Component

systemd-networkd

### Is your feature request related to a problem? Please describe

When using DHCPv6 Prefix Delegation, the assigned prefix can change during renewal or reconfiguration. When this happens, networkd announces the new prefix in an RA, but nodes using SLAAC still use the old prefix in addition to the new one. If the old prefix is no longer routable, connectivity can be broken for those nodes.

### Describe the solution you'd like

An option similar to `DeprecatePrefix` from `radvd`: 

> Upon shutdown, this option will cause radvd to deprecate the prefix by announcing it in the radvd shutdown RA with a zero preferred lifetime and a valid lifetime slightly greater than 2 hours. This will encourage end-nodes using this prefix to deprecate any associated addresses immediately. Note that this option should only be used when only one router is announcing the prefix onto the link, otherwise end-nodes will deprecate associated addresses despite the prefix still being valid for preferred use.
> 
> See RFC4862, section 5.5.3., "Router Advertisement Processing", part (e).
>
> Default: off

In networkd, this could be a `Deprecate=` boolean option in the `[DHCPPrefixDelegation]` section of a network config.

### Describe alternatives you've considered

A workaround may be to set a very short `RouterLifetimeSec=` in `[IPv6SendRA]`. This does not fully solve the problem and could create other issues.

### The systemd version you checked that didn't have the feature you are asking for

253.6

I would also like to have this feature, especially because I have to cope with an ISP which rotates my IPv6 prefix at random times (i.e. when the upstream connection gets renegotiated, which happens if either my upstream router or their router gets restarted).

As of now, even when using `systemd-networkd` on the clients as well, they consistently find themselves with the old & the new IPv6 prefix after rotation and then seem to often prefer the old address rather than the new address as their source IP, leading to broken IPv6 connectivity.

If someone listening here has more experience with C and/or the systemd code base, I have nearly implemented a patch for this feature in #34244 (it already fades out a prefix, as described [here](https://github.com/systemd/systemd/issues/29651#issue-1954693273), on a deletion request rather than just deleting it), but I still have the issue that I cannot compile a variant which immediately triggers sending a router advertisement afterwards. Without this, clients may still experience no internet connectivity for up to minutes until systemd-network sends the next normally scheduled unsolicited advertisement.