resolved returns either IPv4 or IPv6 results for mDNS, but not both

**systemd version the issue has been seen with**
 > systemd 248 (v248~rc2-6.fc34)

```
$ resolvectl query -6 sergey-pc.local
sergey-pc.local: 2a00:1370:811d:79ff:b45c:dbbd:230:6e80 -- link: wlp5s0
                 2a00:1370:811d:79ff:94a9:392b:3cd7:dfa -- link: wlp5s0
                 fd94:b499:7018:1:bdd:f8b6:842:d899 -- link: wlp5s0

-- Information acquired via protocol mDNS/IPv6 in 1.1770s.
-- Data is authenticated: no; Data was acquired via local or encrypted transport: no
-- Data from: cache
$ resolvectl query sergey-pc.local
sergey-pc.local: 2a00:1370:811d:79ff:b45c:dbbd:230:6e80 -- link: wlp5s0
                 2a00:1370:811d:79ff:94a9:392b:3cd7:dfa -- link: wlp5s0
                 fd94:b499:7018:1:bdd:f8b6:842:d899 -- link: wlp5s0

-- Information acquired via protocol mDNS/IPv6 in 2.2ms.
-- Data is authenticated: no; Data was acquired via local or encrypted transport: no
-- Data from: cache
$ resolvectl query -4 sergey-pc.local
sergey-pc.local: 192.168.1.76                  -- link: wlp5s0

-- Information acquired via protocol mDNS/IPv4 in 1.4091s.
-- Data is authenticated: no; Data was acquired via local or encrypted transport: no
-- Data from: cache
$ resolvectl query sergey-pc.local
sergey-pc.local: 192.168.1.76                  -- link: wlp5s0

-- Information acquired via protocol mDNS/IPv4 in 793us.
-- Data is authenticated: no; Data was acquired via local or encrypted transport: no
-- Data from: cache
$ resolvectl query -6 sergey-pc.local
sergey-pc.local: 2a00:1370:811d:79ff:b45c:dbbd:230:6e80 -- link: wlp5s0
                 2a00:1370:811d:79ff:94a9:392b:3cd7:dfa -- link: wlp5s0
                 fd94:b499:7018:1:bdd:f8b6:842:d899 -- link: wlp5s0

-- Information acquired via protocol mDNS/IPv6 in 2.4ms.
-- Data is authenticated: no; Data was acquired via local or encrypted transport: no
-- Data from: cache
```

Killing resolved with USR1 confirms that it has both IPv4 and IPv6 in cache.

The varlink interface is affected as well:

```
$ getent ahosts sergey-pc.local
192.168.1.76    STREAM sergey-pc.local
192.168.1.76    DGRAM  
192.168.1.76    RAW
$ getent ahostsv6 sergey-pc.local
fd94:b499:7018:1:f72b:196f:3938:9553 STREAM sergey-pc.local
fd94:b499:7018:1:f72b:196f:3938:9553 DGRAM  
fd94:b499:7018:1:f72b:196f:3938:9553 RAW    
2a00:1370:811d:79ff:a49e:4707:8277:94b3 STREAM 
2a00:1370:811d:79ff:a49e:4707:8277:94b3 DGRAM  
2a00:1370:811d:79ff:a49e:4707:8277:94b3 RAW    
2a00:1370:811d:79ff:16f8:9a69:5a07:ff22 STREAM 
2a00:1370:811d:79ff:16f8:9a69:5a07:ff22 DGRAM  
2a00:1370:811d:79ff:16f8:9a69:5a07:ff22 RAW    
$ getent ahosts sergey-pc.local
fd94:b499:7018:1:f72b:196f:3938:9553 STREAM sergey-pc.local
fd94:b499:7018:1:f72b:196f:3938:9553 DGRAM  
fd94:b499:7018:1:f72b:196f:3938:9553 RAW    
2a00:1370:811d:79ff:a49e:4707:8277:94b3 STREAM 
2a00:1370:811d:79ff:a49e:4707:8277:94b3 DGRAM  
2a00:1370:811d:79ff:a49e:4707:8277:94b3 RAW    
2a00:1370:811d:79ff:16f8:9a69:5a07:ff22 STREAM 
2a00:1370:811d:79ff:16f8:9a69:5a07:ff22 DGRAM  
2a00:1370:811d:79ff:16f8:9a69:5a07:ff22 RAW  
```

Debug log for the call which results in just IPv4 reply:

```
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Got message type=method_call sender=:1.211 destination=org.freedesktop.resolve1 path=/org/freedesktop/resolve1 interface=org.freedesktop.resolve1.Manager member=ResolveHostname cookie=2 reply_cookie=0 signature=isit error-name=n/a error-message=n/a
Mar 14 16:47:35 badwolf systemd-resolved[1016]: idn2_lookup_u8: sergey-pc.local → sergey-pc.local
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Sent message type=method_call sender=n/a destination=org.freedesktop.DBus path=/org/freedesktop/DBus interface=org.freedesktop.DBus member=GetConnectionUnixProcessID cookie=947 reply_cookie=0 signature=s error-name=n/a error-message=n/a
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Got message type=method_return sender=org.freedesktop.DBus destination=:1.10 path=n/a interface=n/a member=n/a cookie=4294967295 reply_cookie=947 signature=u error-name=n/a error-message=n/a
Mar 14 16:47:35 badwolf systemd-resolved[1016]: D-Bus hostname resolution request from client PID 23723 (n/a) with UID 4294967295
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Looking up RR for sergey-pc.local IN A.
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Looking up RR for sergey-pc.local IN AAAA.
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Sent message type=method_call sender=n/a destination=org.freedesktop.DBus path=/org/freedesktop/DBus interface=org.freedesktop.DBus member=AddMatch cookie=948 reply_cookie=0 signature=s error-name=n/a error-message=n/a
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Sent message type=method_call sender=n/a destination=org.freedesktop.DBus path=/org/freedesktop/DBus interface=org.freedesktop.DBus member=GetNameOwner cookie=949 reply_cookie=0 signature=s error-name=n/a error-message=n/a
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Got message type=method_return sender=org.freedesktop.DBus destination=:1.10 path=n/a interface=n/a member=n/a cookie=4294967295 reply_cookie=949 signature=s error-name=n/a error-message=n/a
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Positive cache hit for sergey-pc.local IN A
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Regular transaction 65064 for <sergey-pc.local IN A> on scope mdns on wlp5s0/INET now complete with <success> from cache (unsigned; non-confidential).
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Positive cache hit for sergey-pc.local IN AAAA
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Regular transaction 3096 for <sergey-pc.local IN AAAA> on scope mdns on wlp5s0/INET6 now complete with <success> from cache (unsigned; non-confidential).
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Freeing transaction 65064.
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Freeing transaction 3096.
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Sent message type=method_return sender=n/a destination=:1.211 path=n/a interface=n/a member=n/a cookie=950 reply_cookie=2 signature=a(iiay)st error-name=n/a error-message=n/a
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Sent message type=method_call sender=n/a destination=org.freedesktop.DBus path=/org/freedesktop/DBus interface=org.freedesktop.DBus member=RemoveMatch cookie=951 reply_cookie=0 signature=s error-name=n/a error-message=n/a
Mar 14 16:47:35 badwolf systemd-resolved[1016]: Got message type=method_return sender=org.freedesktop.DBus destination=:1.10 path=n/a interface=n/a member=n/a cookie=4294967295 reply_cookie=948 signature= error-name=n/a error-message=n/a
```

AFAICS this is caused by mDNS v4/v6 being separate `DnsScope`s, and all `DnsQueryCandidate`s racing against each other.

https://github.com/systemd/systemd/issues/942 seems related.

RFC 6762 is quite clear in that mDNS responses are supposed to return both IPv4 and IPv6 addresses (though it's talking about actual mDNS queries, not the interface between the resolver and its local clients):

>  For example, one might imagine that a query for qtype "ANY" for name
   "host.example.com" would return both the IPv4 (A) and the IPv6 (AAAA)
   address records for that host.  In reality, what happens is that it
   depends on the history of what queries have been previously received
   by intervening caching servers.  If a caching server has no records
   for "host.example.com", then it will consult another server (usually
   the authoritative name server for the name in question), and, in that
   case, it will typically return all IPv4 and IPv6 address records.
   However, if some other host has recently done a query for qtype "A"
   for name "host.example.com", so that the caching server already has
   IPv4 address records for "host.example.com" in its cache but no IPv6
   address records, then it will return only the IPv4 address records it
   already has cached, and no IPv6 address records.
>
>   Multicast DNS does not share this property that qtype "ANY" and
   qclass "ANY" queries return some undefined subset of the matching
   records.  When responding to queries using qtype "ANY" (255) and/or
   qclass "ANY" (255), a Multicast DNS responder MUST respond with *ALL*
   of its records that match the query.

>    When a Multicast DNS responder places an IPv4 or IPv6 address record
   (rrtype "A" or "AAAA") into a response message, it SHOULD also place
   any records of the other address type with the same name into the
   additional section, if there is space in the message.  This is to
   provide fate sharing, so that all a device's addresses are delivered
   atomically in a single message, to reduce the risk that packet loss
   could cause a querier to receive only the IPv4 addresses and not the
   IPv6 addresses, or vice versa.

To clarify: what I consider the bug here is that resolved returns either IPv4 or IPv6 RRs *even when both are already in its cache*, i.e. it doesn't have to actually go and query them via mDNS over the network.

When there's no entries in the cache and it *does* have to send out the queries & wait for responses, it makes sense to reply to the client (possibly with just a subset of addresses) as soon as resolved receives the first response packet. Although ideally that first packet would carry all of the addresses, according to RFC 6762 section 6.2 (cited above).

> mDNS v4/v6 being separate `DnsScope`s

Apparently this is also causing a different issue: resolved will not respond to mDNS queries for AAAA made over IPv4, and vice versa. But this is something that's supposed to work — it's mentioned a few times in the RFC, and mDNSResponder does send that kind of queries (resolved does not respond, causing address resolution to fail on OS X side).

While this could be patched by making `mdns_scope_process_query()` look at both the current scope and its sibling scope, I can't help but wonder if it would be cleaner to have a *single* scope for mDNS on each link. I don't think I understand the reason why the scopes are kept separate. Sure, it makes sense to send A queries via IPv4 & AAAA queries via IPv6, and it also makes sense to send two queries in parallel if we're interested in both A & AAAA. But other than that, it sounds like it should behave as a single scope and a single zone (and that would also solve my original issue, since there'd be a single cache both both A and AAAA records). What am I missing?

hmm, so on the local scope it shouldn't matter much which protocol is used no? my thinking was that by only looking for ipv4 on ipv4 and for ipv6 on ipv6 we maximize the chance we get a working reply, because we implicitly verified that the respective protocol works at least well enough to issue the query and get a response.

i.e. on the local scope it shouldn't matter which address you get as long as you get one that is correct. and that's the case here, no?


> my thinking was that by only looking for ipv4 on ipv4 and for ipv6 on ipv6 we maximize the chance we get a working reply, because we implicitly verified that the respective protocol works at least well enough to issue the query and get a response.

Yes, that part makes perfect sense.

However,
* if another host is asking us for AAAA over IPv4, we should be able to reply
* if another host is asking us for A over IPv4, we should include AAAA our RRs too, as additional RRs ("fate sharing")
* if another host is broadcasting a reply containing AAAA RRs over IPv4, we *probably* want to put them in our cache (that doesn't provide the implicit verification you're talking about, though)

(all of this applies to A RRs over IPv6 as well).

And (my original issue) if we get a query from a local client (over e.g. Varlink), and we already have both A and AAAA RRs cached (meaning both protocols work well enough, and since we have everything cached we don't have to do any actual mDNS to answer this query), we should reply with both A and AAAA records.

Am I making any sense? :slightly_smiling_face:

So there's also this thing with returning both A and AAAA always is that in mDNS there's no concept of "host no found". There's just "timeout". This means, if a host that is ipv4-only participates in mDNS and you ask for both its A and AAAA, you will get the A answer quickly, but the AAAA answer will have to time out, and thus even though you have an answer you still need to wait for the other question to finish. And that sucks of course. if however we return immediately once one of the two returned we don#t have to insert any artificial slowness, we are as quick as we can.

For classic DNS this is all much easier: there we can ask for A and AAAA in parallel and if one doesn't exist we'll get an error back instantly and we can return the other RR that we got. No timeouts we run into here.

What we could do to address this issue once we have a good reply for one of the two address requests not reply immediately, but continue processing all transactions that already have a pending reply. And only return answers once there are no further pending replies. As long as an mDNS peer puts the A and the AAAA responses in the same packet we should thus be able to pass them back to the client together too. But quite frankly I am not sure I like this very much, it's such a racy affair, and I don#t see the big benefit: on the local network it doesn't matter whether we use IPv4 or IPv6, and the client app after all told us explicitly it is fine with either address type.



So there are really two separate (but related) issues here:

1. **A network peer** querying resolved over mDNS. For instance, a peer might ask, over mDNS/IPv4, about AAAA records for `myhostname.local`.

    Here, resolved acts as a mDNS responder, not an mDNS querier/resolver. It doesn't have to do any network communication to figure out the answer to the question (it still of course would need to use network communication to actually send the reply), it only has to look the question up in its local "zone". No timeouts apply, and the answer can be prepared instantly.

    Yet, because of its internal architecture (scopes and zone being separate for mDNS/IPv4 and mDNS/IPv6) resolved is unable to reply to AAAA over IPv4 and A over IPv6 questions.

    This is quite problematic. If the other hosts don't follow the "ask about A on IPv4, AAAA on IPv6" heuristic, not only will they be sometimes unable to resolve `myhostname.local` — they may even claim `myhostname.local` for themselves, because resolved won't respond to their probes as they would expect it to.

2. **A local client** asking resolved about a `foo.local` name (via Varlink, D-Bus, ...). In this case, resolved is acting as a mDNS querier.

    I totally agree with you that:
    * it's not super important to return both IPv4 and IPv6 records in this case, because it doesn't matter on the local network that much
    * it's a good idea to send A questions via IPv4 and AAAA questions via IPv6 (unless the client explicitly requests that we do otherwise by specifying e.g. `SD_RESOLVED_MDNS_IPV4`, in that case we have to look up AAAA records via mDNS/IPv4, too)
    * it's suboptimal to make a client wait for the other address family to time out if we already have a response for the other address family

    So it is understandable that resolved replies with either IPv4 or IPv6 address, whichever reply it gets first.

    But consider what happens once resolved replies to its local client with just the IPv4 address. A few (milli)seconds later, it finally gets the other response, carrying the AAAA record via IPv6. And naturally, it caches the RR, even though it can no longer be matched to any outstanding query. Then, some local client asks resolved about the same `foo.local` name again.

    This second time, resolved already has both A and AAAA records cached. It does not have to use the network, or actual mDNS, to get the answer. And yet, it only replies with either IPv4 or IPv6 addresses, despite already having both locally. And again, this happens not because of a mDNS limitation, but simply because of how resolved is structured internally.

To reiterate, I don't consider replying to the very first query for `foo.local`, when nothing is cached, with just IPv4 or just IPv6 addresses to be a bug — that is somewhat unfortunate, but it makes sense. But I do consider it a bug when the same happens when resolved already has both IPv4 and IPv6 addresses cached; and I also consider it a bug when resolved is unable to reply to AAAA queries for `myhostname.local` done by peers over IPv4 and vice versa.

The solution I could think of (and started prototyping) is:
* have a single mDNS scope per link, with a single cache and zone containing both A and AAAA (and other) records, just like unicast DNS
* still preferably send A queries via IPv4 and AAAA queries via IPv6, but respect it if the local client requests otherwise
* when assessing whether a `dns_query_candidate` is done, if its scope is a mDNS scope, don't necessarily wait for *all* transactions to complete or error out, but be smarter about it, somehow (e.g. once the AAAA transaction is done, only wait a little for the A transaction — this would still allow it to get the results from the cache, and will still work if both IPv6 and IPv4 response packets arrive at nearly the same time)

> and the client app after all told us explicitly it is fine with either address type.

By the way, does specifying `AF_UNSPEC` (i.e. 0) in `ResolveHostname()` mean the client is fine with *either* family, or that the client wants results for *both* families? I have been reading it as the latter...

> By the way, does specifying `AF_UNSPEC` (i.e. 0) in `ResolveHostname()` mean the client is fine with _either_ family, or that the client wants results for _both_ families? I have been reading it as the latter...

So assumed it to be DNS-style "ANY" (i.e. give me as much or as little as you can), but we never specified this in detail. 

hmm, so maybe announcing AAAA via IPv4 and A via IPv6 might indeed be OK, you are right that we might do something different for the client-side than for the server-side.

The internal architecture allows it just fine to announce either on either scope btw, it was a concious decision to not do this, it's trivial to add. See `link_address_add_rrs()` which manages that and calls dns_zone_put() as necessary. We could just add more there if we wanted.

Ah yes, this could be (partially) addressed by putting RRs in both zones, or (perhaps less clean) by peeking into the sibling zone when answering a mDNS question from a peer, or by making the two scopes share a single zone (not straightforward, given that zones contain backpointers to their scopes/links).

That wouldn't help with supporting local clients that explicitly ask to get an IPv4 address (an A record) using mDNS/IPv6, but perhaps that's not too important. And to return both cached A and AAAA records, there'd need to be a mechanism to accept results from multiple query candidates, which is problematic (but that's a separate question).

I still don't see what's the point of having mDNS/IPv4 and mDNS/IPv6 be separate scopes if they are to, effectively, share their zones. It kind of makes more sense if there's a single scope, with a single zone and a single cache, and the only place where the v4 vs v6 thing matters is we try to send A questions via IPv4 and AAAA questions via IPv6 (and similarly for inverse lookups).

(But to be clear, I'm in no way married to the single scope approach. I'll be glad if this issue gets fixed either way.)

the zone are distinct since we need to check for conflicts separately on both, i.e. do the full probing/announcement logic on both protocols, hence we need the data structures on both.

> So there's also this thing with returning both A and AAAA always is that in mDNS there's no concept of "host no found". There's just "timeout". This means, if a host that is ipv4-only participates in mDNS and you ask for both its A and AAAA, you will get the A answer quickly, but the AAAA answer will have to time out, and thus even though you have an answer you still need to wait for the other question to finish.

Is this really a problem? In mdns we are allowed submit multiple questions in one packet, so can't we just ask for A+AAAA in one query on each mdns scope, assume that whatever is returned first has all the available answers, and return then?

I don't think we're guaranteed answers to both questions in the first reply, and then we will return before learning about the other addrfamily, but that's no worse than the current behavior I think. What we should do is remember the answer in any of the remaining transactions in the cache, in case they update our knowledge.

One issue with returning only IPv4 when it is available is the inability to access services only reachable through IPv6 on the target device. Having a service listen only on the IPv6 link-local addresses means it cannot be reached from outside the local network.

I ended up here trying to figure out why neither `ssh -6` nor `dig -6` seem to work even though the servers are listening on both IPv4 and IPv6 and all hosts in my network have both IPv4 and IPv6.

This all just boils down to `getaddrinfo` with `AF_INET6` resulting in a query for both `A` and `AAAA` records, and then failing if no `AAAA` records are returned. In my setup, the first query often works and returns only `AAAA` records, but all subsequent queries only return `A`:

```
$ sudo resolvectl flush-caches

$ python -c 'import socket; print(socket.getaddrinfo("home.local", None, socket.AF_INET6))'
[ ... 12 results ... ]

$ python -c 'import socket; print(socket.getaddrinfo("home.local", None, socket.AF_INET6))'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
    import socket; print(socket.getaddrinfo("home.local", None, socket.AF_INET6))
                         ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/nix/store/wdn4pwj4rvsmac5kkfp5565l1mdb4bg0-python3-3.13.12-env/lib/python3.13/socket.py", line 977, in getaddrinfo
    for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
               ~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
socket.gaierror: [Errno -2] Name or service not known
```

And this is what I see in `resolvectl monitor` at the same time:

```
→ Q: home.local IN A
→ Q: home.local IN AAAA
← S: success
← A: home.local IN AAAA <ipv6 address 1>
← A: home.local IN AAAA <ipv6 address 2>
← A: home.local IN AAAA <ipv6 address 3>
← A: home.local IN AAAA <ipv6 address 4>

→ Q: home.local IN A
→ Q: home.local IN AAAA
← S: success
← A: home.local IN A <ipv4 address>
```

I understand the “mDNS needs a timeout” argument and I would reluctantly accept that the first query might fail (although, I think, having a reasonable default timeout would be a good idea). However, for the subsequent queries, when all records are already in the cache, it absolutely _has_ to return both types rather than having them race.