IPv6 Compliance RFC7217: Stable addresses (Host Only) [v6LC.3.2.6]

### systemd version the issue has been seen with

255

### Used distribution

Ubuntu 23

### Linux kernel version used

6.5.0-17-generic

### CPU architectures issue was seen on

x86_64

### Component

systemd-networkd

### Expected behaviour you didn't see

#### Test v6LC.3.2.6: Stable addresses (Host Only) - Part A: Link-Local vs. Global
**Purpose**: Verify that the HUT keeps the network interface constant across system network 
events.
**Reference**: [RFC 7217, Section 5](https://www.ietf.org/rfc/rfc7217.html#section-5)

#### Network Configuration
```
       TR1
        |
    +---+---+
        |
       HUT
```

```
$ cat /etc/systemd/network/10-enp0s9.network 
[Match]
Name=enp0s9

[Link]
RequiredForOnline=no

[Network]
Description="Internal Network: Private VM-to-VM IPv6 interface"
DHCP=no
LLDP=no
EmitLLDP=no

IPv6LinkLocalAddressGenerationMode=random
```

#### Procedure
| Step | Action | Expected Behavior of HUT<sup>(1)</sup> |
|--------|--------|--------|
| 1 | Initialize the interface on the HUT. | |
| 2 | Wait for HUT to perform stateless address autoconfig and DAD. | The HUT performs DAD on its tentative address for its interface by sending DAD NS. Address must use the algorithm in RFC7217. |
| 3 | TR1 sends `RA Prefix="Global Prefix X"`. | |
| 4 | Wait for HUT to perform stateless address autoconfig and DAD. | The HUT performs DAD on its tentative _global address_ by sending DAD NS. Address must use the algorithm in RFC7217. The Interface ID should be different to the id used in Step 2. |
* **(1)** - Host Under Test


### Unexpected behaviour you saw

In Step 4, the HUT assigns a Global Address with an EUI-64 interface ID, rather than a secret ID, as per RFC7217.


### Steps to reproduce the problem

[v6LC_3_2_06a.zip](https://github.com/systemd/systemd/files/14401135/v6LC_3_2_06a.zip)


### Additional program output to the terminal or log subsystem illustrating the issue

```sh
enp0s9: Flags change: -UP -LOWER_UP -RUNNING
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=38 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Link DOWN
enp0s9: Lost carrier
enp0s9: DHCPv6 lease lost
enp0s9: NDISC: Stopping IPv6 Router Solicitation client
enp0s9: Removing NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 17h 56min 3s, preferred for 17h 56min 3s), flags: manage-temporary-address,no-prefixroute, scope: global
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=39 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=40 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Forgetting removed foreign route (n/a): dst: fe80::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 256, proto: kernel, scope: global, type: unicast, flags: n/a
enp0s9: Forgetting removed foreign route (n/a): dst: 2001:2:0:1000:a00:27ff:fe1a:432/128, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 0, proto: kernel, scope: global, type: local, flags: n/a
enp0s9: Forgetting removed foreign route (n/a): dst: fe80::838:a7e0:6c21:68ba/128, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 0, proto: kernel, scope: global, type: local, flags: n/a
enp0s9: Forgetting removed foreign route (n/a): dst: ff00::/8, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 256, proto: kernel, scope: global, type: multicast, flags: n/a
enp0s9: Forgetting removed NDisc address (n/a): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 17h 56min 3s, preferred for 17h 56min 3s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Forgetting removed foreign address (n/a): fe80::838:a7e0:6c21:68ba/64 (valid forever, preferred forever), flags: permanent,stable-privacy, scope: link
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=41 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Could not drop address: Cannot assign requested address
enp0s9: Flags change: +UP
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=42 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Link UP
enp0s9: Received new foreign route (configured): dst: ff00::/8, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 256, proto: kernel, scope: global, type: multicast, flags: n/a
enp0s9: Received new foreign route (configured): dst: fe80::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 256, proto: kernel, scope: global, type: unicast, flags: n/a
enp0s9: Flags change: +LOWER_UP +RUNNING
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=43 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Gained carrier
enp0s9: found matching network '/etc/systemd/network/10-enp0s9.network'.
enp0s9: Received new foreign address (configured): fe80::838:a7e0:6c21:68ba/64 (valid forever, preferred forever), flags: permanent,stable-privacy, scope: link
enp0s9: Gained IPv6LL
enp0s9: Discovering IPv6 routers
enp0s9: NDISC: Started IPv6 Router Solicitation client
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=44 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Received new foreign route (configured): dst: fe80::838:a7e0:6c21:68ba/128, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 0, proto: kernel, scope: global, type: local, flags: n/a
enp0s9: NDISC: Sent Router Solicitation, next solicitation in 4s
enp0s9: NDISC: Received Router Advertisement: flags none preference medium lifetime 2h 30min
enp0s9: NDISC: Invoking callback for 'router' event.
enp0s9: Requesting NDisc route (n/a): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
Setting '/proc/sys/net/ipv6/icmp/ratelimit' to '1000'
No change in value '1000', suppressing write
Setting '/proc/sys/net/ipv6/neigh/enp0s9/base_reachable_time_ms' to '30000'
No change in value '30000', suppressing write
Setting '/proc/sys/net/ipv6/neigh/enp0s9/retrans_time_ms' to '1000'
No change in value '1000', suppressing write
Setting '/proc/sys/net/ipv6/conf/enp0s9/hop_limit' to '64'
No change in value '64', suppressing write
enp0s9: Requesting NDisc route (n/a): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Requesting NDisc address (n/a): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 18h 12min 14s, preferred for 18h 12min 14s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Setting SLAAC addresses and router.
enp0s9: State changed: configured -> configuring
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=45 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: Configuring NDisc route (requesting): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Configuring NDisc route (requesting): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Configuring NDisc address (requesting): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 18h 12min 14s, preferred for 18h 12min 14s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Received new NDisc route (configured): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: ndisc_check_ready(): SLAAC addresses and routes are not set.
enp0s9: Received new NDisc route (configured): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: ndisc_check_ready(): SLAAC addresses and routes are not set.
enp0s9: Received new NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 18h 12min 14s, preferred for 18h 12min 14s), flags: tentative,manage-temporary-address,no-prefixroute, scope: global
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: ndisc_check_ready(): no SLAAC address is ready.
enp0s9: Received updated NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 18h 12min 13s, preferred for 18h 12min 13s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: SLAAC addresses and routes set.
enp0s9: link_check_ready(): IPv4LL:no DHCPv4:no DHCPv6:no DHCP-PD:no NDisc:yes
enp0s9: State changed: configuring -> configured
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=46 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=47 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=48 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Received new foreign route (configured): dst: 2001:2:0:1000:a00:27ff:fe1a:432/128, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 0, proto: kernel, scope: global, type: local, flags: n/a
```


There is a related failing test, _3.2.7b  Resolving DAD Conflicts Part B: Global (Host Only)_.

Similar to this issue that causes 3.2.6a to fail, test 3.2.7b also relies on the GA being assigned as per RFC7217. I suspect that when networkd supports RFC7217 for the GA, then we should also see 3.2.7b pass.

I'll refrain from raising an issue on 3.2.7b until after this issue is resolved and I can retest.

> [Network]
> IPv6LinkLocalAddressGenerationMode=random

> the HUT assigns a Global Address with an EUI-64 interface ID, rather than a secret ID, as per RFC7217.

The config is for LLA though? Maybe I'm misunderstanding, but surely you're looking for

> [IPv6AcceptRA]
> Token=prefixstable

right? That should give an RFC7217 address for ULA/GUA prefix advertised by the router. I don't think DAD is implemented for these though.

Yes, please use `Token=` setting rather than `IPv6LinkLocalAddressGenerationMode=`.

@rpigott, thank you for pointing that out.

I reran the test and it passes for both LLA and GA addressing. I am closing this issue.

For completeness, my network file now looks like this:

```
$ cat /etc/systemd/network/10-enp0s9.network
[Match]
Name=enp0s9

[Link]
RequiredForOnline=no

[Network]
Description="Internal Network: Private VM-to-VM IPv6 interface"
DHCP=no
LLDP=no
EmitLLDP=no

#IPv6LinkLocalAddressGenerationMode=random
IPv6StableSecretAddress=b097:975e:b207:bae5:afab:d7b7:c53c:9fc1

[IPv6AcceptRA]
Token=prefixstable
UseDNS=true
UseDomains=true
```

> There is a related failing test, _3.2.7b Resolving DAD Conflicts Part B: Global (Host Only)_.
> 
> Similar to this issue that causes 3.2.6a to fail, test 3.2.7b also relies on the GA being assigned as per RFC7217. I suspect that when networkd supports RFC7217 for the GA, then we should also see 3.2.7b pass.
> 
> I'll refrain from raising an issue on 3.2.7b until after this issue is resolved and I can retest.

I have raised a new bug for tracking 3.2.7b.  See https://github.com/systemd/systemd/issues/31605.