Ignore IPv6 RA MTU bigger than interfaces own MTU

### systemd version the issue has been seen with

247.3-7

### Used distribution

Debian 11 Bullseye

### Linux kernel version used

5.10.0-15-amd64

### CPU architectures issue was seen on

x86_64

### Component

systemd-networkd

### Expected behaviour you didn't see

Systemd acts differently in regards to MTU options received via router advertisements (RA) as the defaults in the Kernel. The Kernel only updates its tunables in `/proc/sys/net/ipv6/conf/<interface>/mtu` or per-route MTU in the routing table (ex. default route in `ip -6 r`), when the received RA MTU is equal or smaller than the interfaces own MTU (`ip a`, `ip l`). Which by default for Ethernet is `1500`.

I think the relevant patch is: https://github.com/torvalds/linux/commit/77751427a1ff25b27d47a4c36b12c3c8667855ac and [RFC4861](https://datatracker.ietf.org/doc/html/rfc4861), [RFC2464 Section 2](https://datatracker.ietf.org/doc/html/rfc2464#section-2) for Ethernet seems to confirm this:

> The default MTU size for IPv6 [[IPV6](https://datatracker.ietf.org/doc/html/rfc2464#ref-IPV6)] packets on an Ethernet is 1500 octets.  This size may be reduced by a Router Advertisement [[DISC](https://datatracker.ietf.org/doc/html/rfc2464#ref-DISC)] containing an MTU option which specifies a smaller MTU, or by manual configuration of each node.  If a Router Advertisement received on an Ethernet interface has an MTU option specifying an MTU larger than 1500, or larger than a manually configured value, that MTU option may be logged to system management but must be otherwise ignored.

### Unexpected behaviour you saw

Using the following config in `/etc/systemd/network/host.network`:

```
[Match]
Name=eth0

[Network]
Address=x.x.x.x/25
Gateway=x.x.x.y
DNS=x.x.z.z
Domains=our.domains
Address=x:x:x:x::x/118
DNS=x:x:x::y
```

will use the default `IPv6AcceptRA=true` and a default MTU of `1500` for the interface.

Once a router advertisement with MTU option is received, it will update the routing table (default route) using the RA's MTU even if this value is bigger than the interfaces MTU. For example an RA with MTU `9000` will result in:

```
+phd-test-dc2745:~# ip -6 r
::1 dev lo proto kernel metric 256 pref medium
x:x:x:x::/118 dev eth0 proto kernel metric 256 pref medium
x:x:x:x::/118 dev eth0 proto ra metric 1024 expires 7182sec pref medium
fe80::/64 dev eth0 proto kernel metric 256 pref medium
default via fe80::x:x:x:aa dev eth0 proto ra metric 1024 expires 1782sec mtu 9000 pref medium
```

which increases the likelihood of packet drops destined to off-link targets using the default route.

### Steps to reproduce the problem

We use the awesome systemd-networkd to manage our whole Linux infrastructure and are in the process of deploying and learning IPv6 in our networks. Our network infrastructure (routers, switches) is managed by a different unit and to our surprise is mostly configured to support jumboframes and announce MTU `9000` via router advertisements. While I think the RA MTU setting of our routers needs to be changed, let's not discuss this here and assume we have no control over it. We also use libvirt KVM hypervisors with many involved interfaces (bonds, vlan tagged interfaces and bridges) which all use mostly default values (default MTU `1500`). A VM on such a hypervisor with the systemd.network config shown above will receive MTU `9000` option via RA and update its default route with the MTU. This breaks IPv6 traffic to off-link targets that use the default route, when bigger packets are sent than the supported MTU of `1500` along the path, as packets get silently dropped at various interfaces. One such example is `ssh`, which just hangs.

One option of course is to configure all interfaces with MTU 9000, which would resolve the problem. But we have many unmanaged hosts out of our control.

In the future when our distro will ship systemd v250+, we could use the new option to ignore only MTU in RAs:

```
[IPv6AcceptRA]
UseMTU=false 
```

Until then we could completely ignore IPv6 RAs and manually configure the IPv6 default gateway (in our case sufficient):

```
[Network]
...
Gateway=fe80::x:x:x:aa
IPv6AcceptRA=false
```

I think the Kernel uses a more sane default for this situation (which seems mandatory from interpreting the RFC?), by ignoring any IPv6 RA MTU that is bigger than the default or manually configured MTU on the interface. If it is not manually changed it is likely that the admin is not aware of this and chances are there, that other interfaces on the link will drop oversized packets.

### Additional program output to the terminal or log subsystem illustrating the issue

_No response_

As you already mentioned, please use `UseMTU=no`. At least for already released versions, we cannot change default behavior.
Please contact to your downstream about backporting the option.

BTW, why the kernel accepts route MTU larger than the interface MTU (or IPv6 MTU)?? In what situation, such configuration is useful? If it always causes issues, then why not the kernel refuse such configuration??

Anyway, there is nothing we can do on upstream. Sorry.

> As you already mentioned, please use `UseMTU=no`. At least for already released versions, we cannot change the default behavior. Please contact to your downstream about backporting the option.

Sure, this is clear and was not in question.

> BTW, why the kernel accepts route MTU larger than the interface MTU (or IPv6 MTU)?? In what situation, such configuration is useful? If it always causes issues, then why not the kernel refuse such configuration??

The Kernel already implements it correctly in my opinion, by checking that RA MTU is >= MIN_MTU (1280) and <= interface MTU. But systemd-networkd does not, it only checks if RA MTU is >= MIN_MTU (1280). According to RFC2464 an RA MTU may only trigger the MTU on the host to be reduced, but it is not allowed to increase it (for IPv6 over Ethernet to something larger than 1500 or manually set values).

The problem is not the route, the route is only the result of the possibly incorrect RA validation in systemd-networkd. It should not update the route with larger than default/configured MTU in the first place.

[man/systemd.network](https://www.freedesktop.org/software/systemd/man/systemd.network.html) mentions that systemd uses *a userspace implementation of the IPv6 RA protocol is used, and the kernel's own implementation remains disabled*. I thought maybe it could be a bug in this implementation and wanted to report it, so someone more experienced than me can have a look.

Already fixed in v256 by 8c9ef90b19a1fc4ca2a9c2d28895bef19030b861 and 2e73aa507b9f1d5d74e43cd9b812fc1cfff795cb.