resolved: shouldn't follow CNAME redirects of unicast DNS on LLMNR

In my local network, I have a machine (`galois`) with a public name `galois.public.domain` and a local name `galois.local.domain` within my home network. I inject a `CNAME` dns record (in the router's DNS server) from `galois.public.domain` to `galois`, so that when I ssh the public fqdn `galois.public.domain`, I reach `galois` without leaving my local network.

After the recent resolved changes in current git (c5c41f1e57a6 on arch linux), this no longer works. resolved does follow the `CNAME` record, but it then fails to resolve the non-fqdn `galois`. It looks like after following the `CNAME`, it only tries llmnr but no dns. 

Trying to resolve `galois` (without the `CNAME` indirection) works fine, I assume because it uses the configured search domains to complete the name to `galois.local.domain`. Also there is an A record for `galois` on my local dns server, which I believe is not used.

I can avoid my particular problem by using a fully qualified `CNAME` target `galois.local.domain`. In that case, resolved follows the `CNAME` and performs a dns query for `galois.local.domain`, with success. This may even be a better practice.

However,
- Should resolved try to resolve a non-fully qualified name via dns?
- Should it use search domains to complete a non-fqdn after a CNAME indirection?

The current behaviour is a bit misleading, since `galois` gets resolved from a direct query, but not after a CNAME indirection.


resolved will never allow single-label lookups to leak onto unicast DNS, i.e. the Internet. It will resolve them only via LLMNR or expand them via the search list if one is configured. This is in-line with what Internet bodies such as the IAB suggest for single-label names:

https://www.iab.org/documents/correspondence-reports-documents/2013-2/iab-statement-dotless-domains-considered-harmful/

Basically, single-label hostnames are considered "private", something that should be made sense of locally only, and as such should never end up on the public Internet.

So, I am pretty sure resolved should not look for A/AAAA on single-label if those are passed in from user requests. Whether to follow them on CNAME is a different story admitedly, but I'd still claim that we shouldn't follow them then either, as serving A/AAAA on TLDs is still a bad idea then as well...

It should never apply a search list to the result of a CNAME redirection, that's what I am very sure off.

However, I think we should make one change to the current behaviour: we should probably not allow CNAME redirects from unicast DNS to LLMNR, as it's security-wise not cool to access locally defined stuff under public names... (but then again, DNS can do that anyway, by simply putting public A/AAAA RRs into place that point to IPs used on people's private LANs...)

The inverse, i.e. allowing CNAME redirects from LLMNR to unicast DNS sounds OK to me however.


Thanks for the explanation! Makes sense.


Oh man. I get the technical reason for doing this, but this really breaks backwards compatibility. And now when Ubuntu rolled out systemd-resolved, the user experience wasn't exactly great. Suddenly all single-label DNS requests effectively get black-holed. I had a nice debugging session with my local compy, the local router, dnsmasqs, systemd-resolvd, tcpdump and everything just to figure out what the heck was going on. It would be fine if the change was advertised properly, but Linux really lacks a communication channel for advertising changes like this.

poettering: in your reply 3 Feb 2016 you referred to a document that discusses dotless domains in the root domain and you claim that this document is telling the community that search domains should not be used.

But I've read the text and I don't see anything indicating this.

> The IAB therefore feels compelled to state the following:
>The IAB strongly recommends against considering, implementing, or deploying dotless domains.
>The IAB believes that dotless domains are inherently harmful to Internet security.
>**Applications and platforms that apply a suffix search list to a single-label name are in conformance with IETF standards track RFCs**. Furthermore, applications and platforms that do not query DNS for a TLD are in conformance with IETF standards track recommendations intended to minimize security vulnerabilities and reduce load on the root servers.

I think there is misunderstanding of the intent and scope of that document and this has created a situation where a great many of us contemplate disabling systemd-resolved since it is breaking every existing standard out there.

What the standard is saying is that a TLD, top level domain should not be queried using any query which is composed of a short name + search domain, and indeed nobody is asking for that, but there isn't anything stating that a local DNS server cannot be queried:

>This standard approach enables single-label names to be conveniently used as shortcuts to hosts within a local administration, while also shielding the root zone from a potentially excessive number of queries for single-label names. Since the configuration of the search list has security implications, it is under the control of local host and network administrators, and completely outside the control of TLD operators.

This means in my view that "search domain" should be appended (as stated in that document) but the search must never leave the local network and certainly not be sent to any TLD. I don't know how easy it is to append and filter out queries from attempting to query an official TLD but that is the solution which is required IMHO.

Hmm, I think different people are talking past one another. The ticket was originally also closed by mistake, afaict, because the title that @poettering changed to wasn't handled. But I don't think recycling this ticket is useful, let's just discuss separate issues in separate tickets.

@atorstling, @perolausson: please open new tickets with specific examples of stuff that you expect to work and which doesn't. ("Suddenly all single-label DNS requests effectively get black-holed." is too generic, because search domains work in general with systemd-resolved.)

I understand that you feel this ticket was hijacked, but it is the only one that actually talks about the problem which so many users are experiencing, which is that search domains isn't working. I have no idea why you claim it is working, when @poettering 's response is that it doesn't work, because it has been programmed not to work that way. There is a whole community out with their pitch forks de-selecting this addition to systemd just because of it, and yet we just hear one of two: a) it is working (it isn't) b) we changed it to work this way because it is the right way to do it (no it isn't).

Above @poettering say:

> It will resolve them only via LLMNR or expand them via the search list if one is configured.

That's wrong. A search list should never be appended (if that is what he means) when doing LLMNR.

RFC4795:

>    By default, an LLMNR sender SHOULD send LLMNR queries only for
   single-label names.  Stub resolvers supporting both DNS and LLMNR
   SHOULD avoid sending DNS queries for single-label names, in order to
   reduce unnecessary DNS queries.  An LLMNR sender SHOULD NOT be
   enabled to send a query for any name, except where security
   mechanisms (described in Section 5.3) can be utilized.  *An LLMNR
   query SHOULD only be sent for the originally requested name; a
   searchlist is not used to form additional LLMNR queries.*

...

>    When LLMNR is configured as a secondary name resolution mechanism,
   LLMNR queries SHOULD only be sent when all of the following
   conditions are met:
> ...
> (2) *All attempts to resolve the name via DNS on all interfaces have
       failed after exhausting the searchlist.*  This can occur because
       DNS servers did not respond, or because they responded to DNS
       queries with RCODE=3 (Authoritative Name Error) or RCODE=0, and
       an empty answer section.  Where a single resolver call generates
       DNS queries for A and AAAA RRs, an implementation MAY choose not
       to send LLMNR queries if any of the DNS queries is successful.

Yet as far as I can tell the current version assumes LLMNR is the primary method for resolving single host names. This is in direct contrast to the standard.

I can bang my head against your issue tracker all day long, but it won't change until someone reads the standards and understands the frustration the changes made have caused.

Frankly I am now going to capitulate and de-install it like everyone else is doing. It's not worth my time any more to convince you that there was a mistake made because nobody seem willing to admit to it.

> poettering: in your reply 3 Feb 2016 you referred to a document that discusses dotless domains in the root domain and you claim that this document is telling the community that search domains should not be used.

Hmm? I am saying that single-label address look-ups should not hit unicast DNS servers as-is. Instead, they should be either sent to LLMNR or be subject to search list expansion before sending them to unicast DNS. And that is implemented that way already.

Do note that if you do not use nss-resolve but talk to resolved via the 127.0.0.53 stub resolver then search lists need to be applied client side, not server side, and currently resolved doesn't generate a resolv.conf file for that case that includes search lists. We really should fix that however.

I think there's a misunderstanding here really: what I am saying is *not* that single-label queries are generally incompatible with unicast DNS. All I am saying is that they should not be sent to unicast DNS *as-is*. Instead they should be expanded by a search list first. And if no such search list is defined, the lookup should fail.

I filed #7009 explaining the issue with search lists and the stub resolver. Is it possible that the issue you ran into is just that?

*Lennart explanation about this behaviour should be written on systemd-resolved' man page*. 

I've spent  *hours* trying to find why my "server", "laptop1","laptop2", etc names listed in my dnsmasq  private DNS server' /etc/hosts file didn't worked anymore in my (now managed by systemd-resolved) client laptops.

I came here with a pitchfork myself. poettering has managed to talk me down somewhat.

However, that man page quote in the previous comment is obviously incorrect, that is, it is quoted correctly, but it does not describe what Lennart describes.

From this page (which is decidedly different from how systemd is described or appears to work in centos 7) https://www.freedesktop.org/software/systemd/man/systemd-resolved.service.html

> Single-label names are routed to all local interfaces capable of IP multicasting, using the LLMNR protocol. Lookups for IPv4 addresses are only sent via LLMNR on IPv4, and lookups for IPv6 addresses are only sent via LLMNR on IPv6. Lookups for the locally configured host name and the "_gateway" host name are never routed to LLMNR.

There is NO room in this description to assume that search domains are ever added to single-label names for lookup in unicast DNS. If this is not correct, as poettering says it isn't, then why isn't it updated?

Further, as I understand the standard discussed above, I really don't think it even means just "single-label + seach-domain" names should not be routed to tld root servers. It means ONLY the **tld** _itlself_ should _**ever**_ be routed to and queried against a tld root server. Further, any such queries SHOULD come from a **caching** local DNS **server** (not a leaf client). See also: recursive lookups vs iterative lookups.

For example, if I, a client, wish to resolve mail, and my search domain is example.com, I should not construct a query for "mail.example.com" and send it to a root server! Instead I should a) (preferred) send the query "mail.example.com." to a configured DNS server in **my** domain (local router, company server, etc) or b) construct a query for "com." and send **that** to a root server (_and cache it!_) followed by sending a query for "example.com." to the _example.com._ server, etc. (the latter is what a configured site dns server should do as well, but that is out of scope here)

I also came here from [this question](https://askubuntu.com/questions/917784/systemd-resolved-does-not-query-dns-server-for-local-domain) which **also** says that systemd resolved NEVER uses DNS when resolving single-label names. Either this misinformation must stop or (I currently can't verify with an apparently broken centos7 version) it must be admitted that resolved is doing this (and it's very wrong)

This behavior is very confusing and disruptive. I don't think it's a great idea to change things in a way that causes users to spend hours debugging the problems that arise. I am one of those users, and it seems I am not alone.

First of all, there is a problem with how to announce changes like this to your users and the community. It would be good to figure out a way to make such an announcement, so that users are not put at a loss.

Secondly, it seems like an overreaction. If you are worried about security, it would seem to be enough to refrain from sending single-label DNS queries to a non-local DNS server. My DNS server is 127.0.0.1, which points to 192.168.1.1. If either of these leak single-label lookups to the Internet At Large, then it is their fault, not Systemd's fault. I would much rather Systemd forward single-label requests to local servers by default, rather than breaking our networks by trying to be overprotective.


At the *very least* running `systemd-resolve` with a single-label lookup should communicate that it's a special case and doesn't follow normal rules. I second that this change is disruptive and has been handled without any apparent consideration how it will affect users and the cases where the new behavior amounts to unwanted nannying.

+1 for all the reasons mentioned why NOT to change this behaviour, we're breaking BASIC local name resolution for security reasons that shouldn't be owned by systemd-resolve; (if it is a local DNS server, let that decide!) - how do we get this reverted? 

Since this issue has not been getting attention for re-open, I have submitted #13763 

> This is in-line with what Internet bodies such as the IAB suggest for single-label names:

That is **NOT** what the IAB was suggesting, at all.  The link cited pointed it out quite clearly.   The root.cache and root zone files mitigate actual requests hitting root servers.  You infact violate one of the cited texts on your own link - 
```
 [RFC1536] section 6 also addresses this vulnerability, and recommends that resolvers:
[1]   Use searchlists only when explicitly specified; ***no implicit
       searchlists should be used.***
```

That isn't what you "fixed", nor continue to break.

The IAB was referring to "dotless domains", it was NOT TALKING ABOUT HOST NAMES and specifically the operational impact on PUBLIC GLOBAL DNS.   The proposal would have allowed "google"  for example to resolve as "google.com", much the same way a cname would.  Or, stupid browsers now do which surprise, are a security risk.

Third paragraph even points this out yet you failed to understand it:

```This behavior was developed in the DNS precisely because most users entering single-label names want them to be resolved in a local context, and they do not expect a single name to refer to a TLD. ```

> However, I think we should make one change to the current behaviour: we should probably not allow CNAME redirects from unicast DNS to LLMNR, 

No, you should NOT be making ANY such changes without going through proper standards bodies.  GITHUB and whatever circles you hang out in are not those.

This assumption "unicast DNS, i.e. the Internet"  is incorrect, DNS is not necessarily handled over the internet.  This change breaks DNS on the local network.

I ran into this one too. I can imagine that when just querying the local part, e.g. `host mymachine` with `search example.com` in `/etc/resolv.conf` should not query `mymachine.example.com` on the public internet. But `host mymachine.example.com` should query the configured DNS server.

It's super confusing that `dig mymachine.example.com @10.0.1.1` gives an answer (where `10.0.0.1` is my local DNS server as visible via `systemd-resolve --status`), but `dig mymachine.example.com` returns nothing.

Sooo, why is this issue closed?
During a fresh upgrade to Ubuntu 21.10 where the upgrade attempts to resolve `changelog.ubuntu.com`, said lookup fails. Checking on another system, it resolves fine. Running `dig +short changelog.ubuntu.com @8.8.8.8` succeeds fine, too. A goo-fu lookup gets me this issue where I find that this is a known issue since 2017 and we're about to hit 2022?!?!?! How has this issue been dropped on the floor all this time and seemingly not addressed since 2020? If there's a related ticket, could someone at least please link/mention the other issue(s) so we can follow progress? What is the status of this? This kind of basic issue should not exist in any build of the GA system and yet before I started my upgrade, this problem didn't not exist.

@notjames 
My workaround was to install a pihole locally with a `.lan` domain configuration ... (stupid)
see also #13763

yet another user hitting this in mid 2022

4 hours spent troubleshooting. 

Turns out systemd-resolved was blackholing my domain.local requests instead of passing them to the router where they could be pointed across the vpn tunnel.

Fixed this by adjusting nsswitch and symlinking around systemd-resolvd. 

This is not the way this is supposed to work. 

Please expound on how exactly to do that, and where it is documented in the systemd documentation.

See "Protocols and Routing" in [systemd-resolved(8)](https://man7.org/linux/man-pages/man8/systemd-resolved.service.8.html#PROTOCOLS_AND_ROUTING).

You can temporarily set a link's domain list with e.g., `resolvectl domain eth0 ~domain.local` and then queries for e.g., `foo.domain.local` will go to `eth0`'s name servers.

To set permanently, use `Domains=` in `resolved.conf(5)` or a `systemd.network(5)` file; or apply the setting via whatever mechanism you configure the rest of your networking.

I think you've ranted in the wrong issue 😅. Regardless, it sounds like you needed to set `ResolveUnicastSingleLabel=true` in `resolved.conf`.

Thank you very much for a helpful suggestion! I have a gnawing suspicion that this might save me significant frustration going forward.

> I think you've ranted in the wrong issue sweat_smile. Regardless, it sounds like you needed to set `ResolveUnicastSingleLabel=true` in `resolved.conf`.

Which is only an option now because of the complaints here.

To save someone a few seconds: on Ubuntu 24.04 you can append `ResolveUnicastSingleLabel=true` to `/etc/systemd/resolved.conf`; then run:

```bash
sudo systemctl restart systemd-resolved
```