resolved should contact DNS servers via IPv6 and IPv4 in parallel if possible, and once one of them succeeds immediately close the other

I'm using
```
systemd 246 (246.6-1-arch)
+PAM +AUDIT -SELINUX -IMA -APPARMOR +SMACK -SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +ZSTD +SECCOMP +BLKID +ELFUTILS +KMOD +IDN2 -IDN +PCRE2 default-hierarchy=hybrid
```
on Arch Linux on laptop and often switch between IPv4 only networks and networks that have IPv6 enabled. This issue manifests itself on IPv4 only networks.

My DNS servers are set to:
```
176.103.130.130#adguard.com
176.103.130.131#adguard.com
2a00:5a60::ad1:ff#adguard.com
2a00:5a60::ad2:ff#adguard.com
```

Every now and then DNS queries will take a long time to resolve or timeout. When I notice this and run `resolvectl status` I see that my current DNS server is listed as one of the IPv6 ones. After a bit of time it seems that `resovled` recognizes the connectivity issues and falls back to an IPv4 DNS server. However, this has a tendency to repeat multiple times per day. This is also despite my only active link showing only the IPv4 DNS servers.

We used to have code detecting this in place, but that was removed in 90bdc8be66765df09bbc355783cee7204a5ebb31

The problem is that we cannot sanely detect if we have IPv6 or not. Linux routing doesn't really make that detectable unless we actually try sending something.

I am a bit puzzled that this is supposed to time-out though? I#d assume that we'd get an error back immediately from sendmsg() and then go to the next server. Are you sure you really have no Ipv6 configured? It appears to me that you might still have local Ipv6 configured somehow but not routed Ipv6.

What do "ip addr" and "ip route" say?

Link-local IPv6 is configured, but that is it. I figured this was some sort of timeout behavior, but perhaps it could be something else. Looks like what might be taking up a bunhc of time is it seems resolved tries to degrade the connection a bunch of times when connecting.

```
Oct 21 10:50:56 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 21 10:51:01 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 21 12:06:32 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 21 12:06:43 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 21 13:54:26 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 21 13:54:31 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 21 15:59:36 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 21 18:59:32 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 21 19:01:47 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 21 19:01:57 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 22 08:32:56 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 22 08:33:04 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 22 08:46:01 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 22 11:13:14 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 22 11:13:24 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 22 14:13:24 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 22 14:13:29 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 08:37:59 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 08:38:04 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 08:38:10 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 08:38:31 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 09:12:53 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 09:12:59 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 09:13:09 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 10:52:16 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 10:52:21 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 12:24:40 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 12:24:50 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 12:24:55 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 12:51:02 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 12:51:09 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 12:51:51 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 12:51:56 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 12:54:54 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 12:55:10 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 13:26:48 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 13:26:53 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 14:52:06 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 14:52:16 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 14:52:26 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 14:52:31 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 14:52:41 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 14:52:57 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 14:52:57 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 14:53:02 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 14:53:13 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 14:53:28 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 15:46:41 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 15:46:50 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 15:47:20 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 15:47:25 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 15:47:30 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 19:05:29 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 19:05:39 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 19:05:39 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 19:05:44 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 19:05:54 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 19:06:15 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 19:37:33 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 19:37:52 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 19:49:46 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 19:49:55 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 19:49:58 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 20:43:33 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 23:18:54 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 23:19:04 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 23:19:06 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 23:19:16 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 23:19:36 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 23 23:19:57 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 23:20:08 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 23 23:20:23 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 13:48:46 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 13:53:38 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 13:53:57 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 13:53:57 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 15:06:06 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 16:54:13 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 16:55:34 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 16:55:45 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 16:56:00 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 17:01:45 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 17:31:17 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 17:36:39 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 17:41:01 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 17:41:10 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 17:41:14 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 20:38:24 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 20:38:37 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 20:38:46 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 20:38:46 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 21:18:09 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 21:18:23 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 21:18:23 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 21:18:48 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 21:19:09 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 21:19:15 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 21:20:59 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 21:21:10 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:20:08 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:20:22 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:20:25 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:20:40 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:21:00 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:21:10 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
...skipping...
Oct 24 13:53:38 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 13:53:57 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 13:53:57 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 15:06:06 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 16:54:13 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 16:55:34 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 16:55:45 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 16:56:00 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 17:01:45 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 17:31:17 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 17:36:39 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 17:41:01 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 17:41:10 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 17:41:14 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 20:38:24 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 20:38:37 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 20:38:46 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 20:38:46 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 21:18:09 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 21:18:23 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 21:18:23 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 21:18:48 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 21:19:09 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 24 21:19:15 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 21:20:59 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 24 21:21:10 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:20:08 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:20:22 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:20:25 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:20:40 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:21:00 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:21:10 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of TCP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:21:26 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:21:36 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:37:17 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:37:26 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:37:28 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:37:42 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:40:55 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:41:06 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:42:21 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:42:41 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 10:42:46 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 10:43:13 softmatrix systemd-resolved[87916]: Using degraded feature set TCP instead of UDP for DNS server 2a00:5a60::ad2:ff#adguard.com.
Oct 25 11:13:34 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad1:ff#adguard.com.
Oct 25 11:13:45 softmatrix systemd-resolved[87916]: Using degraded feature set UDP instead of UDP+EDNS0 for DNS server 2a00:5a60::ad2:ff#adguard.com.
```

```
$ ip addr
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
4: wlan0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default qlen 1000
    link/ether 62:c8:15:cc:82:a0 brd ff:ff:ff:ff:ff:ff permaddr 9c:b6:d0:9a:99:eb
    inet 192.168.25.56/24 brd 192.168.25.255 scope global wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.58/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.59/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.60/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.61/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.62/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.63/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.64/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.65/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.66/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.67/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.70/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet 192.168.25.72/24 brd 192.168.25.255 scope global secondary wlan0
       valid_lft forever preferred_lft forever
    inet6 fe80::60c8:15ff:fecc:82a0/64 scope link
       valid_lft forever preferred_lft forever
```

```
$ ip route
default via 192.168.25.1 dev wlan0 proto dhcp src 192.168.25.72 metric 304
192.168.25.0/24 dev wlan0 proto dhcp scope link src 192.168.25.72
```

> We used to have code detecting this in place, but that was removed in [90bdc8b](https://github.com/systemd/systemd/commit/90bdc8be66765df09bbc355783cee7204a5ebb31)
> 
> The problem is that we cannot sanely detect if we have IPv6 or not. Linux routing doesn't really make that detectable unless we actually try sending something.
I have similar problem. My `resolved` returns an IPv6 address for some host, but I only have IPv4 network (plus a useless link local IPv6). After being resolved as IPv6 address, I cannot view this website any more.

P.S. For some reason this only affects Firefox, and all Chromium based browsers can cope with the erratic DNS resolution.

@xinyazhang how come you have IPv6 DNS servers in your config without a IPv6 default route?

How does your IPv6 routing table (`ip -6 r`) look like? What does `resolvectl dns` look like?

It might be your IPv6 path is faulty, and resolved isn't very good at happy-eyeballing in detecting it, but without more data, it's hard to know. 

> @xinyazhang how come you have IPv6 DNS servers in your config without a IPv6 default route?

The case is for some reason, I can receive IPv6 addresses from IPv4 DNS servers. For example:
```
host google.com 8.8.8.8
Using domain server:
Name: 8.8.8.8
Address: 8.8.8.8#53
Aliases: 

google.com has address 173.194.67.139
... # <Skip a few lines>
google.com has IPv6 address 2607:f8b0:4003:c1a::65
google.com has IPv6 address 2607:f8b0:4003:c1a::64
...
```
 
> How does your IPv6 routing table (`ip -6 r`) look like? What does `resolvectl dns` look like?

```
$ ip -6 r
::1 dev lo proto kernel metric 256 pref medium
fe80::/64 dev enp4s0 proto kernel metric 100 pref medium
$ resolvectl dns
Global:
Link 2 (enp4s0): 192.168.######  # Masked as My router's address
Link 3 (virbr0):
Link 4 (virbr0-nic):
Link 5 (wgnfs):
```

@xinyazhang At least this output doesn't show any IPv6 *DNS servers*.

You only have IPv4 DNS servers configured, and your responses include AAAA records, which is intended behavior since 90bdc8b.

When trying to reach google.com, clients will realize there's no route the IPv6 address(es) returned in the lookup, and try connecting to some of the IPv4 address(es) instead.

So nothing seems wrong here, and that's exactly the desired behavior.

@carloabelli's issue is something different, and unrelated to 90bdc8b - that's nothing about (not) filtering record types, but about having both IPv4 and IPv6 DNS servers statically configured in networkd, which seems to be handled poorly when roaming around and being connected to a IPv4-only network.

@carloabelli any idea why you have that many IPv4 addresses configured on that link? Could that be due to a flaky link?


@flokli i believe it's because it's a laptop so whenever it goes to sleep and wakes up again the link disconnects and gets a new IP. not sure why it doesn't reuse the old one, but this is probably related to the `iwd` implementation. the link is stable while this issue occurs

@flokli also note that the DNS servers are not configured in `networkd` but globally in `resolved.conf` if that makes a difference. i use domain `~.` to force `resolved` to always use the global DNS no matter what network I am on.

So I figure we can close this right? Yes, it sucks we try the IPv6 stuff where it won't work, but we simply cannot know this unless we try, and it will eventually switch to IPv4 servers, so all should be good. Right?

I'd say the behaviour in general is somewhat as-expected, but fallback happens embarassingly slow and ungraceful.

If the DNS server IP we try to reach is unreachable, cause we have no way to route to it, there's no point in stalling 30 seconds or more to try another lookup method on that same address.

This can easily add up to minutes of no DNS resolving at all, if there's multiple v6 DNS servers in that list.

I'd prefer some "happy eyeballing" here, in the spirit of RFC6555.

So you are basically suggesting we should contact IPv6 and IPv4 servers in parallel, and cancel one connection the instant the other succeeds?

Yes, to some extent…

Combining both RFC6555 and https://labs.apnic.net/presentations/store/2015-10-04-dns-dual-stack.pdf, slide 8, I could imagine something like this:

Aassemble a sorted list of V4 and V6 addresses.
We could use the same filtering and ordering logic from `getaddrinfo`, filtering out unreachable hosts, and ordering them by destination address selection from https://tools.ietf.org/html/rfc6724. 
It seems currently there's unfortunately no public interface to use the filtering and ordering logic from `getaddrinfo`, but passing in a list of IP addresses without having libc handle the resolving; and getting a filtered and sorted list back.

Once we have that list (and assuming we still have both IPv4 and IPv6 DNS servers), there could be happy eyeballing, with two parallel request "threads", one for IPv6 and one for IPv4.

The IPv4 request "thread" should initially be delayed for around the order of an expected RTT for the IPv6 query, so v6 is preferred if available. If there's a timeout, the next server in the per-address family list would be probed.

Once a working upstream DNS server has been found, it should be cached for ~10mins (with the cache being reset on connection changes as well). inspired by RFC 6555, Section 4.

I'm not entirely sure how the whole "feature set degradation" would tie into this best, whether it should be done in a second stage, after having determined basic reachability, or while doing this.

Two naïve ideas:
 - "Early exit", and pick the first DNS server that was found to be working. Stick with whatever feature set we can get with it
 - Exhaustively check reachability and feature sets for all upstream DNS servers that were found to be reachable, and pick the one with the best feature set.

We should also definitely look into how other resolvers implement this :-)