networkd sends a DHCPv6 Information-Request on every received router advertisement

**systemd version the issue has been seen with**
current head, back at least as far as v237

**Used distribution**
Ubuntu

**Expected behaviour you didn't see**
When systemd-networkd receives a router advertisement with ND_RA_FLAG_MANAGED or ND_RA_FLAG_OTHER, it should enable the DHCPv6 client.

DHCPv6 is specified with its own timers for refreshing managed addresses and/or other configuration.  In particular, https://tools.ietf.org/html/rfc8415#section-21.23 dictates that the client must request an Information Refresh Time from the server when sending an Information-Request packet; systemd-networkd does not, and that should be implemented to comply with the RFC.

Regardless, in the absence of a server-specified Information Refresh Time, "the client MUST behave as if the option with the value IRT_DEFAULT was provided."  IRT_DEFAULT is defined as 86400 seconds (https://tools.ietf.org/html/rfc8415#section-7.6).

**Unexpected behaviour you saw**
systemd-network makes a DHCPv6 request *every* time it receives a router advertisement with the ND_RA_FLAG_OTHER flag set.

It is common for IPv6 routers to send router advertisements frequently -- generally at least every couple of minutes, but often every few seconds so that recovery from a failed router can be fast.  This causes systemd-networkd's DHCPv6 client to violate RFC 8415 by refreshing information more frequently than it should -- almost certainly more frequently than IRT_DEFAULT (1 day) and quite likely more frequently than IRT_MINIMUM (10 minutes).

With SYSTEMD_LOG_LEVEL=debug, the following messages are logged for *every* router advertisement:

```
Sep 03 14:38:29 hostname systemd-networkd[15730]: NDISC: Received Router Advertisement: flags OTHER preference medium lifetime 1800 sec
Sep 03 14:38:29 hostname systemd-networkd[15730]: NDISC: Invoking callback for 'r'.
Sep 03 14:38:29 hostname systemd-networkd[15730]: DHCPv6 CLIENT: Started in Information request mode
Sep 03 14:38:29 hostname systemd-networkd[15730]: bond0: Acquiring DHCPv6 lease on NDisc request
Sep 03 14:38:29 hostname systemd-networkd[15730]: DHCPv6 CLIENT: Sent INFORMATION-REQUEST
Sep 03 14:38:29 hostname systemd-networkd[15730]: DHCPv6 CLIENT: Next retransmission in 962ms
Sep 03 14:38:29 hostname systemd-networkd[15730]: bond0: Updating address: [elided]/64 (valid for 4w 2d)
Sep 03 14:38:29 hostname systemd-networkd[15730]: DHCPv6 CLIENT: Recv REPLY
```

This is a problem for us because we have VLANs containing a large number of systemd-networkd systems; on every router advertisement that we send, every one of those systems sends a DHCPv6 Information-Request packet within a 1ms window.  This swamps the server with a large number of synchronised requests and also swamps the network with extreme bursts of multicast traffic, triggering the switches' multicast storm protection etc..

**Steps to reproduce the problem**
On a network which uses DHCPv6 in stateless mode, observe how frequently a systemd system sends Information-Requests.

Also, https://tools.ietf.org/html/rfc8415#section-18.2.1 says that:
>   The first Solicit message from the client on the interface SHOULD be
>   delayed by a random amount of time between 0 and SOL_MAX_DELAY.  This
>   random delay helps desynchronize clients that start a DHCP session at
>   the same time, such as after recovery from a power failure or after a
>   router outage after seeing that DHCP is available in Router
>   Advertisement messages (see Section 4.2 of [RFC4861]).

systemd-network doesn't do that either.

@mas90 Could you test PR #13494?

@yuwata Thanks for the fix.  As it stands I'm not sure that the delay before first solicit is strictly random between 0 and 1 second as specified; during testing, the first DHCPv6 packet was always sent <2ms after the router advertisement was received.

However the problem of every RA generating a new DHCPv6 solicit seems to have been fixed by your PR.