IPv6 Compliance RFC4861: Router Solicitations, Solicited Router Advertisement (Hosts Only) [v6LC.2.2.2 Part F]

### systemd version the issue has been seen with

255

### Used distribution

Ubuntu 23

### Linux kernel version used

6.5.0-17-generic

### CPU architectures issue was seen on

x86_64

### Component

systemd-networkd

### Expected behaviour you didn't see

### Test v6LC.2.2.2f: Invalid Router Advertisement, Bad ICMP Code
**Purpose**: Verify that a host sends valid Router Solicitations appropriately in response to Router Advertisements. Part F: Test invalid Router Advertisement with Bad ICMP Code
**Reference**: RFC4861, Section 6.3.7

#### Network Configuration
```
       TR1
        |
    +---+---+
        |
       HUT
```

#### Procedure
| Step | Action | Expected Behavior of HUT<sup>(1)</sup> |
|--------|--------|--------|
| 1 | Reboot HUT (or bounce/reconfigure the interface) | |
| 2 | Wait for HUT to transmit a RS | |
| 3 | TR1 sends `RA Src="TR1 LLA" Hop=255 Code=1` with SLLA option. | |
| 4 | Wait `router_solicitation_interval (4s) + router_solicitation_delay (1s)`. | The HUT should transmit only one RS. The RS should be sent from either the HUT's LLA or the Unspecified address. The Dest=All-Routers (ff::02). |
* **(1)** - Host Under Test




### Unexpected behaviour you saw

In Step 4, the HUT did not send a RS.

From the log file (see below), we can see the next RS is queued for 3s timeout.  Also the "RA with wrong RA code was ignored".

```
enp0s9: NDISC: Sent Router Solicitation, next solicitation in 3s
enp0s9: NDISC: Received ND packet with wrong RA code, ignoring.
```

Unfortunately, the next RS (presumably the one that was queued), is never sent.


### Steps to reproduce the problem

[v6LC_2_2_02f.zip](https://github.com/systemd/systemd/files/14368020/v6LC_2_2_02f.zip)


### Additional program output to the terminal or log subsystem illustrating the issue

#### Debug Log
```sh
enp0s9: NDISC: Sent Router Solicitation, next solicitation in 3s
enp0s9: NDISC: Received ND packet with wrong RA code, ignoring.
enp0s9: NDISC: No RA received before link confirmation timeout
enp0s9: NDISC: Invoking callback for 'timeout' event.
enp0s9: NDisc handler get timeout event
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: NDISC: Received Router Advertisement: flags none preference medium lifetime 0
enp0s9: NDISC: Invoking callback for 'router' event.
enp0s9: Requesting NDisc route (n/a): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Setting SLAAC addresses and router.
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: Refuse to configure NDisc route with zero lifetime.
```
```
