Stateless DHCPv6 using Managed/SOLICIT instead of Other/INFORMATION-REQUEST

## Version of systemd tested

systemd 246 (246.6-2)

## Linux Distribution

Debian Bullseye (currently "testing")

## Expected behavior

When an IPv6 RA has the "Managed Address Configuration" bit unset and the "Other Information" bit set, the machine should operate in "stateless" DHCPv6 mode where configuration parameters are fetched via an INFORMATION-REQUEST, but no address configuration is attempted via DHCPv6.  This can be used to hand out things like RDNS, search suffixes, NTP servers, etc on links where stateless autoconfiguration is performed for address assignment.

## Observed behavior

Our IPv6 router is setting the Managed/Other bits correctly, but networkd is still attempting a Managed configuration.  Per the debug logs:

> NDISC: Sent Router Solicitation, next solicitation in 3s
> **NDISC: Received Router Advertisement: flags OTHER preference medium lifetime 1800 sec**
> NDISC: Invoking callback for 'router' event.
> **DHCPv6 CLIENT: Started in Managed mode**

Here's the rest of the output until DHCPv6 gives up because its SOLICITs are going unanswered (addresses have been redacted):

> eth0: Acquiring DHCPv6 lease on NDisc request
> eth0: Configuring route: dst: n/a, src: n/a, gw: fe80::router_ll, prefsrc: n/a, scope: global, table: main, proto: ra, type: unicast
> eth0: Configuring route: dst: global_net::/64, src: n/a, gw: n/a, prefsrc: n/a, scope: global, table: main, proto: ra, type: unicast
> eth0: Updating address: global_net
> eth0: Setting SLAAC addresses.
> eth0: Setting NDisc routes.
> DHCPv6 CLIENT: Sent SOLICIT
> DHCPv6 CLIENT: Next retransmission in 1s
> rtnl: received non-static neighbor, ignoring.
> eth0: Received remembered route: dst: n/a, src: n/a, gw: router_ll, prefsrc: n/a, scope: global, table: main, proto: ra, type: unicast
> eth0: Received remembered route: dst: global_net::/64, src: n/a, gw: n/a, prefsrc: n/a, scope: global, table: main, proto: ra, type: unicast
> eth0: NDisc routes set.
> eth0: link_check_ready(): an address global_addr/64 is not ready.
> eth0: Remembering updated address: global_addr/64 (valid for 4w 2d)
> eth0: link_check_ready(): an address global_addr/64 is not ready.
> eth0: NDisc SLAAC addresses set.
> eth0: No SLAAC address obtained from router_ll is ready. The old NDisc information will be removed later.
> eth0: link_check_ready(): an address global_addr/64 is not ready.
> DHCPv6 CLIENT: Sent SOLICIT
> DHCPv6 CLIENT: Next retransmission in 2s
> DHCPv6 CLIENT: Valid lifetime of an IA address is zero or preferred lifetime 0 > valid lifetime 0
> DHCPv6 CLIENT: Computed IA NA T1 0s and T2 0s as both were zero
> eth0: DHCPv6 error: No message of desired type

## Steps to reproduce the problem

Set up a basic network file with no DHCP (per the docs, the presence of the "other" bit from the RA will override DHCP=no):

```
[Match]
Name=eth0

[Network]
DHCP=no
```

Ensure router is configured to set Managed=0/Other=1 for RA.  Have a DHCPv6 server configured to process INFORMATION-REQUEST and send options, but not distribute stateful address assignments.

Restart systemd-networkd.  Addresses assigned, but no DHCP options are picked up (for example, domain suffix search).  In addition to the debug output, we have confirmed via packet capture that systemd is sending SOLICIT and not INFORMATION-REQUEST.

We briefly tried setting "WithoutRA=information-request", which did cause DHCPv6 to send an information request, but then it switched back to Managed mode as soon as the RA came in.

Correct behavior on this network has been confirmed on a different platform (macOS); INFORMATION-REQUEST is sent, and options received.

Please give a RFC reference to this behavior

> Please give a RFC reference to this behavior

See "Stateless DHCP", RFC 8415, section 6.1 for an overview of the operational mode:

https://tools.ietf.org/html/rfc8415#section-6.1

See "Router Advertisement Message Format", RFC 4861, section 4.2 for a description of the "managed" and "other" flags of the IPv6 router advertisement, which determine the independent availability of addresses and "other" configuration data (either/neither/both bits can be set):

https://tools.ietf.org/html/rfc4861#section-4.2

Additionally, from systemd.network documentation (https://www.freedesktop.org/software/systemd/man/systemd.network.html):

> ForceDHCPv6PDOtherInformation=
> 
> Takes a boolean that enforces DHCPv6 stateful mode when the 'Other information' bit is set in
> Router Advertisement messages. By default setting only the 'O' bit in Router Advertisements
> makes DHCPv6 request network information in a stateless manner using a two-message
> Information Request and Information Reply message exchange.
> ...

From the quote above I assumed the default mode would be the stateless one given that networkd requires a flag to force the opposite behavior and explicitly documents the correct behavior.

I think this is already fixed by cabe57119f07a9f86ab281f6260bbb006b89a854 and 0e686feaff71465e3220f234871f66a39f0f57ad.

These are included in v247. If possible, please test v247.

Opened a request https://github.com/systemd/systemd-stable/issues/81.

(Feel free to request reopen this if these commits or v247 do not fix the issue.)

Updated to systemd 247.1-3; can confirm that INFORMATION-REQUEST is now being sent without any changes to configuration files or router advertisement flags.  Thank you!