IPv6 Compliance RFC8106: Processing Router Advertisement DNS (Host Only) [v6LC.2.2.25 Part F]

### systemd version the issue has been seen with

255

### Used distribution

Ubuntu 23

### Linux kernel version used

6.5.0-17-generic

### CPU architectures issue was seen on

x86_64

### Component

systemd-resolved

### Expected behaviour you didn't see

This was first reported against systemd-networkd in Issue #31501. It was determined that the resolver continues to send queries after the DNS Search List has timed out.

I'm copying the relevant pieces from #31501 to here.

#### Test v6LC.2.2.25f: Processing Router Advertisement DNS (Host Only)
**Purpose**: Verify that the HUT process Router Advertisement includes a DNS options. Part F: Search List Option Expired
**Reference**: [RFC 8106, Section 5.2](https://www.ietf.org/rfc/rfc8106.html#section-5.2)

#### Network Configuration
```
        TR1
         |
    +----+-----+
         |
        HUT
```

#### Procedure
| Step | Action | Expected Behavior of HUT<sup>(1)</sup> |
|--------|--------|--------|
| 1 | TR1 sends `RA RDNS-Server=Address RNDS-lifetime=100s RDNSS-search=test.example.com RDNSS-lifetime=60s` to HUT | |
| 2 | HUT runs `ping6 node1` | HUT transmits DNS Query to DNS-Server. |
| 3 | Wait 65 seconds. | |
| 4 | HUT runs `ping6 node1` | HUT MUST NOT transmit DNS Query to DNS-Server |
* **(1)** - Host Under Test

While running the compliance test, I watch resolvectl and the protocol exchanges.  The protocol exchange clearly shows a DNS query for `node.test.example.com` 20s _after_ the DNS Search List for `test.example.com` has expired.

Some additional tracing shows what the resolved sees as the timeouts occur:

```shell
old=""; while :; do new=$(resolvectl -6 status enp0s9); [ "$new" != "$old" ] && date +"%F %T.%N:%n""${new}%n"; old="$new"; sleep 2; done
```

#### resolvectl output
```
$ old=""; while :; do new=$(resolvectl -6 status enp0s9); [ "$new" != "$old" ] && date +"%F %T.%N:%n""${new}%n"; old="$new"; sleep 2; done
2024-03-05 11:07:07.900661372:
Link 4 (enp0s9)
    Current Scopes: none
         Protocols: -DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported

#
# Router Advertisement
#   RDNS-Server=2001:2:0:1000:200:10ff:fe10:1081 Lifetime=100s
#   DNS Search List=test.example.com Lifetime=60s
#
2024-03-05 11:07:19.979202736:
Link 4 (enp0s9)
    Current Scopes: DNS
         Protocols: +DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081
        DNS Domain: test.example.com

#
# HUT sends Echo Request (ping6 node1)
#
2024-03-05 11:07:38.071073740:
Link 4 (enp0s9)
    Current Scopes: DNS
         Protocols: +DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported
Current DNS Server: 2001:2:0:1000:200:10ff:fe10:1081
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081
        DNS Domain: test.example.com

#
# 60s after the RA was sent, the DNS Search List times out
#
2024-03-05 11:08:20.353965100:
Link 4 (enp0s9)
    Current Scopes: DNS
         Protocols: +DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported
Current DNS Server: 2001:2:0:1000:200:10ff:fe10:1081
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081

# 
# I issue "ping6 node1".  If there is no attempt to send a DNS Query. The test passes.
# 

#
# 100s since the RA, the DNS Server times out
#
2024-03-05 11:09:00.686931951:
Link 4 (enp0s9)
    Current Scopes: none
         Protocols: -DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported
```


### Unexpected behaviour you saw

In the attached zip file, is the PCAPNG file.  The highlights are:

| Packet # | TimeStamp | Description |
|--------|--------|--------|
| 1 | 0s | `RA` `RDNS: Server="X" Life=100s` `DNSS: Domain=test.example.com Life=60s` |
| 62 | 80s | Resolved sends DNS query for `node1.test.example.com`, but the domain expired 20s ago! |

[v6LC_2_2_25f-resolved-fail.zip](https://github.com/systemd/systemd/files/14490284/v6LC_2_2_25f-resolved-fail.zip)


### Steps to reproduce the problem

See attached pcapng file.

### Additional program output to the terminal or log subsystem illustrating the issue

_No response_

@LiveFreeAndRoam Could you also monitor the cache entries in resolved, `resolvectl show-cache`, and verify the cache entry for `node1.test.example.com` does not exist before `pint6 node1` in the step 4 ?
I mean, I'd like to know the unexpected name resolution comes from the cache or a 'real' DNS lookup.

Understood. I'll check that tomorrow.

This is what I observed...

I ran this one-line script to monitor resolvectl status and caches:

```shell
$ old=""; while :; do new=$(sudo resolvectl -6 status enp0s9; printf -- "-%.0s" {1..80}; echo; sudo `which resolvectl` show-cache; printf -- "=%.0s" {1..80}; echo); [ "$new" != "$old" ] && date +"* %F %T.%N:%n""${new}%n"; old="$new"; sleep 2; done
```

#### Monitor Output
I don't observe any output from the caches. Am I missing something?

```
$ old=""; while :; do new=$(sudo resolvectl -6 status enp0s9; printf -- "-%.0s" {1..80}; echo; sudo `which resolvectl` show-cache; printf -- "=%.0s" {1..80}; echo); [ "$new" != "$old" ] && date +"* %F %T.%N:%n""${new}%n"; old="$new"; sleep 2; done
* 2024-03-08 09:53:30.723017588:
Link 4 (enp0s9)
    Current Scopes: LLMNR/IPv6
         Protocols: -DefaultRoute +LLMNR -mDNS -DNSOverTLS
                    DNSSEC=allow-downgrade/supported
--------------------------------------------------------------------------------
Scope protocol=llmnr family=AF_INET6 ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=2 ifname=enp0s3
No entries.

Scope protocol=llmnr family=AF_INET ifindex=3 ifname=enp0s8
No entries.

Scope protocol=llmnr family=AF_INET ifindex=2 ifname=enp0s3
No entries.

Scope protocol=dns ifindex=2 ifname=enp0s3
dualstack.p2.shared.global.fastly.net IN AAAA 2a04:4e42:17::561
com IN SOA a.gtld-servers.net nstld.verisign-grs.com 1709855029 1800 900 604800 86400
. IN SOA a.root-servers.net nstld.verisign-grs.com 2024030700 1800 900 604800 86400
cdn.fwupd.org IN CNAME dualstack.p2.shared.global.fastly.net
dualstack.p2.shared.global.fastly.net IN A 151.101.98.49

Scope protocol=dns
No entries.

================================================================================

* 2024-03-08 09:53:46.954918413:
Link 4 (enp0s9)
    Current Scopes: LLMNR/IPv6
         Protocols: -DefaultRoute +LLMNR -mDNS -DNSOverTLS
                    DNSSEC=allow-downgrade/supported
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081
        DNS Domain: test.example.com
--------------------------------------------------------------------------------
Scope protocol=llmnr family=AF_INET6 ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=2 ifname=enp0s3
No entries.

Scope protocol=llmnr family=AF_INET ifindex=3 ifname=enp0s8
No entries.

Scope protocol=llmnr family=AF_INET ifindex=2 ifname=enp0s3
No entries.

Scope protocol=dns ifindex=2 ifname=enp0s3
node1.test.example.com IN ANY NXDOMAIN
com IN SOA a.gtld-servers.net nstld.verisign-grs.com 1709855029 1800 900 604800 86400
. IN SOA a.root-servers.net nstld.verisign-grs.com 2024030700 1800 900 604800 86400
node1.modem IN ANY NXDOMAIN

Scope protocol=dns
No entries.

================================================================================

* 2024-03-08 09:53:48.996496882:
Link 4 (enp0s9)
    Current Scopes: DNS LLMNR/IPv6
         Protocols: +DefaultRoute +LLMNR -mDNS -DNSOverTLS
                    DNSSEC=allow-downgrade/supported
Current DNS Server: 2001:2:0:1000:200:10ff:fe10:1081
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081
        DNS Domain: test.example.com
--------------------------------------------------------------------------------
Scope protocol=dns ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=2 ifname=enp0s3
No entries.

Scope protocol=llmnr family=AF_INET ifindex=3 ifname=enp0s8
No entries.

Scope protocol=llmnr family=AF_INET ifindex=2 ifname=enp0s3
No entries.

Scope protocol=dns ifindex=2 ifname=enp0s3
node1.test.example.com IN ANY NXDOMAIN
com IN SOA a.gtld-servers.net nstld.verisign-grs.com 1709855029 1800 900 604800 86400
. IN SOA a.root-servers.net nstld.verisign-grs.com 2024030700 1800 900 604800 86400
node1.modem IN ANY NXDOMAIN

Scope protocol=dns
No entries.

================================================================================

* 2024-03-08 09:54:15.362967507:
Link 4 (enp0s9)
    Current Scopes: DNS LLMNR/IPv6
         Protocols: +DefaultRoute +LLMNR -mDNS -DNSOverTLS
                    DNSSEC=allow-downgrade/unsupported
Current DNS Server: 2001:2:0:1000:200:10ff:fe10:1081
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081
        DNS Domain: test.example.com
--------------------------------------------------------------------------------
Scope protocol=dns ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=2 ifname=enp0s3
No entries.

Scope protocol=llmnr family=AF_INET ifindex=3 ifname=enp0s8
No entries.

Scope protocol=llmnr family=AF_INET ifindex=2 ifname=enp0s3
No entries.

Scope protocol=dns ifindex=2 ifname=enp0s3
node1.test.example.com IN ANY NXDOMAIN
com IN SOA a.gtld-servers.net nstld.verisign-grs.com 1709855029 1800 900 604800 86400
. IN SOA a.root-servers.net nstld.verisign-grs.com 2024030700 1800 900 604800 86400
node1.modem IN ANY NXDOMAIN

Scope protocol=dns
No entries.

================================================================================

* 2024-03-08 09:54:47.899269212:
Link 4 (enp0s9)
    Current Scopes: DNS LLMNR/IPv6
         Protocols: +DefaultRoute +LLMNR -mDNS -DNSOverTLS
                    DNSSEC=allow-downgrade/unsupported
Current DNS Server: 2001:2:0:1000:200:10ff:fe10:1081
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081
--------------------------------------------------------------------------------
Scope protocol=dns ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=2 ifname=enp0s3
No entries.

Scope protocol=llmnr family=AF_INET ifindex=3 ifname=enp0s8
No entries.

Scope protocol=llmnr family=AF_INET ifindex=2 ifname=enp0s3
No entries.

Scope protocol=dns ifindex=2 ifname=enp0s3
node1.test.example.com IN ANY NXDOMAIN
com IN SOA a.gtld-servers.net nstld.verisign-grs.com 1709855029 1800 900 604800 86400
. IN SOA a.root-servers.net nstld.verisign-grs.com 2024030700 1800 900 604800 86400
node1.modem IN ANY NXDOMAIN

Scope protocol=dns
No entries.

================================================================================

* 2024-03-08 09:55:26.426891547:
Link 4 (enp0s9)
    Current Scopes: LLMNR/IPv6
         Protocols: -DefaultRoute +LLMNR -mDNS -DNSOverTLS
                    DNSSEC=allow-downgrade/supported
--------------------------------------------------------------------------------
Scope protocol=llmnr family=AF_INET6 ifindex=4 ifname=enp0s9
No entries.

Scope protocol=llmnr family=AF_INET6 ifindex=2 ifname=enp0s3
No entries.

Scope protocol=llmnr family=AF_INET ifindex=3 ifname=enp0s8
No entries.

Scope protocol=llmnr family=AF_INET ifindex=2 ifname=enp0s3
No entries.

Scope protocol=dns ifindex=2 ifname=enp0s3
node1.test.example.com IN ANY NXDOMAIN
com IN SOA a.gtld-servers.net nstld.verisign-grs.com 1709855029 1800 900 604800 86400
. IN SOA a.root-servers.net nstld.verisign-grs.com 2024030700 1800 900 604800 86400
node1.modem IN ANY NXDOMAIN

Scope protocol=dns
No entries.

================================================================================
```

I retested using the latest network-next.  The problem still exists.

```
$ git log -n 1
commit 59b72d6f47160c74a1d7f44bc3e2373b4e14dd58 (HEAD -> network-next, origin/network-next)
```


-> #31995.