networkd - 227 - ipv6 "noprefixroute" - "Network is unreachable"

With systemd 227, networkd apparently configures an ipv6 address with the "noprefixroute" flag, so that the kernel does not create a corresponding route for the ipv6 address.  Neither does networkd set any corresponding ipv6 route, and so the ipv6 network is unreachable.

Some ipv6 utilities create interfaces with /128 prefixes, others with /64 prefixes, regardless of the actual advertised prefix length.  AFAIK, this is quite "broken".  Still, these utilities may explicitly add a route for that prefix, making a /128 address functionally equivalent to an address configured with the correct advertised prefix length.  Nonetheless, not good.  The reasoning behind the /128 interface seems to be that the kernel automatically adds a route to the prefix unless the address is configured with a prefix length shorter than /128, and this was an effective hack before the IFA_F_NOPREFIXROUTE flag became available, if someone wanted to override the kenel's idea of the correct prefix length for the route.

What is the problem with letting the kernel set the corresponding ipv6 route for the subnet having the advertised prefix?

I don't know what the "plan" was with networkd, but whatever, it is not working.  There is no route set for the ipv6 network.


@pfl ?


Hmm - sorry, this lack of a "prefix" route seems to be only the result of the problem with the new "IPv6AcceptRouterAdvertisements=", Issue #1519.  Without "...accept_ra=2", there is no "prefix information option" available from the router advertisement to use to set the prefix route.  Setting 
"IPv6AcceptRouterAdvertisements=yes" results in a route and a working ipv6.

Still, there is this idea of the "proper" way to create an "off-link" address entry.  There is 1) create a /128 address without needing the "noprefixroute" flag, and 2) create an address with the "correct" prefix and with the "noprefixroute" flag set.  Both approaches are "effective".  But both seem odd and completely unnecessary, since there is usually, in fact, a prefix route associated with both the /128 address and the "noprefixroute" address - unless there really actually is no prefix length given in the Router Advertisement.

And I still would like to hear the reasoning behind why the linux kernel is implicitly assumed to be "doing the wrong thing" when interpreting a Router Advertisement and automatically generating a prefix route.  Why is networkd "re-inventing the wheel" here?

For anyone who may be as confused about ipv6 prefixes as me, Tomasz Mrugalski - of dibbler and ISC - has some useful background at:
http://klub.com.pl/bugzilla3/show_bug.cgi?id=222
Bug 222 - prefix length always /64?

Counterintuitively, in contrast with ipv4, the way Tom explains it, ipv6 host addresses are to be created with /128 prefixes, and subsequently, "on-link" routes are to be created using information from Router Advertisements, rather than from any DHCPv6 server.  

We can see in RFC 5942 "IPv6 Subnet Model" Section 3.2:
'It should be noted that ND [Neighbor Discovery] does not have a way to indicate a destination is "off-link".  Rather, a destination is assumed to be off-link, unless there is explicit information indicating that it is on-link.'

Notice that the RFC refers to the _destination_ being "on-link" or "off-link", not the host interface.

An ipv6 /128 address implicitly forms a subnet of only one host and thus implies that the address is "off-link" relative to any other host address.  But as soon as "there is explicit information indicating that the destination address is on-link", then any flag or indicator that all destination addresses are "off-link" has become simply wrong.

  A "Prefix Delegation" subnet might be composed of distinct routed "on-link" subnets.  The prefix length of the several "on-link" subnet addresses will be longer than the "Prefix Delegation" subnet prefix length.  But even then, the "on-link" Router Advertisement daemons, on each link, are going to be broadcasting the correct prefix length for that link.  There is no apparent reason to "second guess" the Router Advertisement with respect to the host address prefix length.  The actual host address prefix length is whatever the Router Advertisement says it is.  This only becomes a challenge if the Router Advertisement does not provide any "on-link" prefix, in which case the host interface prefix length for a global unicast address would actually be /128, as inferred from RFC 5942 Section 3.2.  But then also, in that case, there actually is "noprefixroute", and setting the flag would seem appropriate.

In ipv4, the routes reflect the interface prefix length.  In ipv6 the interface prefix length should reflect the available routes.  Really, "assigning" a fixed prefix length to an ipv6 address is generally meaningless since an externally provided "automatic" prefix length can change, by definition.  To report this properly, the actual interface prefix length shown would have be updated whenever it changed.

And if, say, a Router Advertisement expires, ... I don't actually know what the linux kernel would show.  Does it twiddle the prefix entry, for instance changing it from /64 to /128?  Would it set the "noprefixroute" flag, at that time?  Or does the interface link state become "Down"?

In the end, that is not networkd's problem.  That's the kernel's problem.


If one lets the kernel create prefixes and thereby routes to the locally connected subnetwork just because an address is being configured, it breaks very badly if the network is not supposed to be onlink. The kernel autoconfigures addresses and configures subnet prefixes, and should do that according to RFC 5942.

That's where IFA_F_NOPREFIXROUTE comes in handy, it explicitly tells that no routes are expected to be created for the prefix. For kernels older than 3.14 that don't support IFA_F_NOPREFIXROUTE, systemd-networkd needs to fall back to the age old trick of setting a /128 address in order not to create routes where they don't exist.


For the third comment, the Linux kernel is assumed to do a proper job. It's up to the kernel to autoconfigure IPv6 addresses, to create subnet routes and default routers and to obey ND messages. With commit be3a09b7ffe62b52658e77ae4d6638d1b0dae654 systemd-networkd tries to do a proper job for older kernels while using IFA_F_NOPREFIXROUTE for newer ones. This all to avoid setting up routes for non-existent subnets on the link. While not directed towards systemd-networkd, see also Tore Anderson's excellent reply http://klub.com.pl/bugzilla3/show_bug.cgi?id=222#c6 for more information.

DHCPv6 delegates only addresses with lifetimes and nothing else. The prefixes and their onlink or offlink statuses are delivered via RAs, and here systemd-networkd relies on the kernel to set up onlink prefixes (routes) and default routers correctly.

If an onlink prefix expires, the kernel removes the corresponding subnet. If an autoconfigured address expires, the kernel either removes it or sets it into an expired or similar state - without looking I can't remember which and I have no expiring prefixes conveniently at hand right now. BTW, the DHCPv6 addresses are also assigned with preferred and valid lifetimes, so they too will be removed identically to autoconfigured ones when their time is up.


> If one lets the kernel create prefixes and thereby routes to the locally connected subnetwork just
> because an address is being configured, it breaks very badly if the network is not supposed to be
> onlink. The kernel autoconfigures addresses and configures subnet prefixes, and should do that
> according to RFC 5942.

And then, I'm assuming that the kernel would do that correctly.  For instance, if the RA contains a Prefix Information Option, but the L[ocal] flag in unset, then a /128 address would be correct, by RFC 5942, and a default route to the source of the RA would be created.  If the RA also sets the M[anaged} flag, a /128 address will be assigned by the DHCPv6 client and a /128 route associating the address with the interface will then be created by the kernel.  This is what happens with Comcast, as an example.  There are no surprises here.

On the other hand, if the RA provides a prefix and sets the L[ocal] flag, then that prefix is the correct on-link prefix.  The kernel knows how set set the route correctly.  There is no need for the networkd DHCPv6 client to interfere with the kernel, and no need to fiddle with a fake /128 prefix or with the "noprefixroute" flag.

When the RA sets the L[ocal] flag, the /128 prefix  and the "noprefixroute" flag are wrong settings.


The noprefixroute is always the correct option to set. When set, no routing information is created by adding the DHCPv6 address so that systemd-networkd does not need to keep track of expiring prefixes or their status changes from onlink to offlink and back. The fallback code for kernels not supporting the noprefixroute flag does the prefix expiry tracking and is therefore more complex.

When this option is not used, the kernel will misinterpret the address/prefix combination set from user space to be a manually configured one and that the kernel should also create the associated subnet regardless of what the RAs contain. This is not what is wanted as it creates onlink IPv6 subnetworks in all cases, be the L bit set or not.

Going back to the current implementation, it seems that assigning the address would be much simpler if the prefix is always /128. With that the current prefix expiry tracking could be removed, but this needs some testing to avoid unwanted side effects.


> When this option is not used [noprefixroute], the kernel will misinterpret the address/prefix
> combination set from user space to be a manually configured one and that the kernel should
> also create the associated subnet regardless of what the RAs contain. This is not what is
> wanted as it creates onlink IPv6 subnetworks in all cases, be the L bit set or not.

Thanks for that Patrik.  That would be the essential issue.  This is always awkward when there is "automatic" configuration - from the kernel - and "manual" configuration - from the DHCPv6 client - operating together.  This would seem to be an issue only when the M[anaged] flag is set.  It is perhaps a little odd that the kernel will listen to a Router Advertisement server but not to a DHCPv6 server.

Still, when the M[anaged] flag and L[ocal] flag **are** both set, then the networkd DHCPv6 client **can** just let the kernel create and manage the IPv6 routing table for the subnet, using the prefix length defined in the Router Advertisement.  This simply requires that the DHCPv6 client actually listen to the Router Advertisement, to know that the L[ocal] flag is set.

When the M[anaged] flag is set and the L[ocal] flag is not set, then there is no on-link subnet, by default, from RFC 5942.  But again, the networkd DHCPv6 client can just let the kernel create and manage the routing table, which will direct traffic from the interface to the default router.  It is sufficient and correct to use a /128 prefix for the interface address, ignoring any other prefix in the Router Advertisement.  Again, the DHCPv6 client must listen to the Router Advertisement, to know that the L[ocal] flag is **not** set.

The situation that might seem problematic at first is when the kernel is configured to <u>not</u> listen to Router Advertisements.  That is, presumably, when packet forwarding is enabled and the kernel is being configured as a router.  In this case, the interface configuration is intended to be completely manual.   But then, whether a particular destination is on-link or not, and whether a local on-link subnet exists, or not, is entirely manually defined.  Effectively, the prefix length is whatever the networkd interface .network file says it is.  And even if there were some day some kind of DHCPv6 router configuration protocol, as far as the kernel would be concerned, the prefix length would still be whatever networkd says it is.  And that is how networkd would configure the interface, in the kernel.  And then, the kernel would create, automatically, a corresponding routing table entry, based upon the networkd determined prefix length.

Please, could you articulate a specific scenario in which the kernel would configure a routing table entry for which the prefix length is incorrect?  Through what sequence and set of conditions would the kernel create an unwanted subnet in association with an interface address/prefix combination, supposing that the "noprefixroute" were **not** being used?

I will point out that a /128 prefix length creates a local subnet with exactly one node, and with no other destination "on-link", so that, even though the kernel creates an onlink IPv6 subnetwork in this case, be the L bit set or not, this would still be correct behavior.
