Networkd: LinkLocalAddressing=fallback with MaxAttempts=infinity

I came across a requirement why the link-local address exists with other IP addresses for IPv4.

Suppose if I enable the link-local address through systemd-networkd then as per the existing

behavior, link-local address(169.254.*.*) will always exist on the interface irrespective of whether static/dynamic address exists or not.

The expectation is if either static/DHCP address exist then the zero-config address should not come even if the zeroconf functionality is enabled.

Is it correct expectation? is it aligned with other operating systems which is not using systemd-networkd as the network manager?


seems you looking for ```fallback```

https://www.freedesktop.org/software/systemd/man/systemd.network.html#LinkLocalAddressing=

@ssahani Thanks for quick response

As per the documentation If "fallback" or "ipv4-fallback" is specified, then an IPv4 link-local address is configured only when DHCPv4 fails. 

what about if the interface is having Static IP address, even in that case link-local address should not be seen. 




>what about if the interface is having Static IP address and DHCP is not enabled, even in that case link-local address should not be seen.

I do not follow . Please elaborate.

> what about if the interface is having Static IP address and DHCP is not enabled, even in that case link-local address should not be seen.

In that case, why do not you simply set `no` or `ipv6` to `LinkLocalAddressing=`?

@ssahani : Suppose my network file is as below.

[Match]
Name=eth0
[Link]
MACAddress=70:e2:84:14:33:65
[Network]
LinkLocalAddressing=ipv4-fallback
Address=9.3.185.83/23
Gateway=9.3.185.1

The above network file works fine for me. It doesn't create the zerconf address if the static address(9.3.185.83) is there.


@yuwata > In that case, why do not you simply set no or ipv6 to LinkLocalAddressing=?
                   Agree that will also work if I put the LinkLocalAddressing=no/ipv6.

I was looking for generic value which I don't need to change depends on the static/DHCP address configuration on the interface.

fallback serves the purpose.



@yuwata @ssahani :  with the latest systemd-networkd "fallback" or "ipv4-fallback" doesn't work. 

systemctl --version
systemd 243 (243+)
+PAM -AUDIT -SELINUX -IMA -APPARMOR -SMACK +SYSVINIT -UTMP -LIBCRYPTSETUP -GCRYPT -GNUTLS -ACL +XZ -LZ4 -SECCOMP +BLKID -ELFUTILS +KMOD -IDN2 -IDN -PCRE2 default-hierarchy=hybrid

My network file is as below.

[Match]
Name=eth0
[Link]
MACAddress=XX:XX:XX:XX:XX
[Network]
LinkLocalAddressing=fallback
IPv6AcceptRA=false
DHCP=true
[DHCP]
ClientIdentifier=mac
UseDNS=true
UseNTP=true
UseHostname=true
SendHostname=true

Did we make any change around this?



I too faced same issue, "fallback" option did not work.

Please try `MaxAttempts=` setting.

I tried with MaxAttempts=1 setting, but did not work


I just tested it .

Pretty sure what @yuwata said works
```
eth0: Received remembered route: dst: n/a, src: n/a, gw: 192.168.94.2, prefsrc: 192.168.94.177, scope: global, table: main, proto: dhcp, type: unicast
eth0: State changed: configuring -> configured
NDISC: Sent Router Solicitation, next solicitation in 3s
NDISC: Sent Router Solicitation, next solicitation in 3s
DHCP CLIENT (0x9dd5a63c): DISCOVER
DHCP CLIENT (0x9dd5a63c): STOPPED
veth99: DHCP client is stopped. Acquiring IPv4 link-local address
IPV4LL: Picked new IP address 169.254.4.219.
IPV4ACD: Probing 169.254.4.219
NDISC: Sent Router Solicitation, next solicitation in 7s
NDISC: Sent Router Solicitation, next solicitation in 7s
IPV4ACD: Probing 169.254.4.219
IPV4ACD: Probing 169.254.4.219
IPV4ACD: ANNOUNCE
veth99: IPv4 link-loca
```

```
8: veth0@veth99: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default qlen 1000
    link/ether aa:bb:7a:85:bf:69 brd ff:ff:ff:ff:ff:ff
    inet 192.168.5.1/24 brd 192.168.5.255 scope global veth0
       valid_lft forever preferred_lft forever
    inet6 fe80::a8bb:7aff:fe85:bf69/64 scope link 
       valid_lft forever preferred_lft forever
19: veth99@veth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default qlen 1000
    link/ether 9a:aa:6a:a2:16:c0 brd ff:ff:ff:ff:ff:ff
    inet 169.254.4.219/16 brd 169.254.255.255 scope link veth99
       valid_lft forever preferred_lft forever
    inet6 fe80::98aa:6aff:fea2:16c0/64 scope link 
       valid_lft forever preferred_lft forever
```

```
[Match]
Name=veth99

[Network]
DHCP=ipv4
LinkLocalAddressing=fallback
[DHCPv4]
MaxAttempts=1
```

```
[Match]
Name=veth0

[Network]
Address=192.168.5.1/24                   
```

Yeah, our CIs also test the functionality.

@raviteja-b Please provide your .network file.

Ok. here is my .network file 
[Match]
Name=eth0

[Network]
LinkLocalAddressing=fallback
DHCP=true

[DHCP]
MaxAttempts=1

`MaxAttempts=` should be in `[DHCPv4]` section, not `[DHCP]` section.

Yes because this is a new setting  and we separated dhcp4 and dhcp6.  

yes it works if i keep 'MaxAttempts=' in [DHCPv4] section
what should be the optimum value for MaxAttempts if fallback is configured?
I observed it takes  few secs to assign link local address based on MaxAttemts value


I configured 'LinkLocalAddressing=fallback' and stop DHCP server configured in my network, i see link local address assigned, but i dont see DHCP address assigned after restarting DHCP server, 
I think the system will get DHCP address once DHCP server starts running but that didn't happen.

> I think the system will get DHCP address once DHCP server starts running but that didn't happen.

To support this, `MaxAttempts=` must be `infinity`. So, that functionality cannot be achieved with `LinkLocalAddressing=fallback`, at least currently.

@ssahani Maybe, we need to add `AttemptsToAssignFallbackLinkLocalAddress=` in `[DHCPv4]`.

I think it's too complicated. 

> I think it's too complicated.

Yeah...

I think we should support fallback with maxAttempts= infinity, otherwise we can't use linkLocalAddressing fallback mechanism 



I think the correct zeroconf approach for IPv4 is to first assign an LL Address and then start querying for a DHCP assigned one (*). Then when you got a DHCP address, the LL address must be dropped. If static addresses are defined, an LL address must not be configured at all (see https://tools.ietf.org/html/rfc3927#section-1.9 ).

The current behavior, waiting for MaxAttemps and then fallbacking to an LL address, has this drawbacks:

1- If MaxAttemps=N, then the interface will have NO address at all before all the attempts are exhausted. After that, the LL address is finally assigned, but if the DHCP server comes back online, you will never have a DHCP address (if I understand the MaxAttemps=N behaviour correctly). Two big problems. 

2- If MaxAttemps=infinity, then the LL address will never be assigned.

So I think systemd-networkd LL address management is very broken. 

Note (*): To optimize times, you can also start the LL Address and the DHCP querying in parallel and cancel the LL Address assignation process when you get a DHCP address. 


@yuwata note, this shouldn't be an RFE but a bug, with the present behaviour LinkLocalAddressing is basically broken, can't be realistically used along DHCP.

If I read the RFC and your thoughts about 

> I think the correct zeroconf approach for IPv4 is to first assign an LL Address and then start querying for a DHCP assigned one (*). 

>For these
   reasons, a host SHOULD NOT have both an operable routable address and
   an IPv4 Link-Local address configured on the same interface

It's not necessary to assume DHCP will fail 100% and we assign the link local. Link local takes sometime to to set . networkd has the correct approach that if DHCP fails we start the LL addressing.  I do not agree with with by default we assign LL and delete afterwards.


>1- If MaxAttemps=N, then the interface will have NO address at all before all the attempts are exhausted. After that, the LL address is finally assigned, but if the DHCP server comes back online, you will never have a DHCP address (if I understand the MaxAttemps=N behaviour correctly). Two big problems.

this is purely depends on the settings why not set 5 and set 1000.  Let's say for example 10 servers make requests and DHCP server never comeback. They are actually sending DHCP requests where  it does not there to listen and spamming the network.  If DHCP does not work then there are many issues. 

> 2- If MaxAttemps=infinity, then the LL address will never be assigned.

This mean you don't want LL

>So I think systemd-networkd LL address management is very broken.

It's upto how you configure. 

@ssahani the point is, if you configure an interface to get a DHCP address, you usually want to try forever to get one (because that `infinity`, the current `MaxAttemps` default, is the sane one). "Spamming" the network with DHCP requests doesn't really matters, because usually not having an IP assigned for a DHCP configured interface results in a broken host. 

Setting `MaxAttemps=N` maybe is useful for desktops were you can alert the user the DHCP IP adquisition failed, but is a broken setting (or if valid a very unusual one) for servers or embedded systems were you really want having an IP assigned when the DHCP server comes back online.

So, keeping in mind the server/embedded scenario, with the current systemd behavior you can only configure:

`MaxAttemps=infinity + LinkLocalAddressing=fallback` => silently invalid configuration, you can get your IP when the DHCP server comes back online, but you can't get an LL address at all (and you want one, because in some scenarios with DHCP servers offline you can still function against LAN peers using LL IP's).

`MaxAttemps=N + LinkLocalAddressing=fallback` => you get an LL address but only after certain time, and if the DHCP server comes back online, you never get the DHCP IP and got stuck forever with the LL one.

`MaxAttemps=N|infinity + LinkLocalAddressing=yes` => broken behavior, you can't have both an LL address and a DHCP one configured as stated in RFC 3927#1.9. This results in problems like MulticastDNS broadcasting two `hostname.local` addresses, breaking clients resolution.

Thanks for pointing out some invalid settings.

> @ssahani the point is, if you configure an interface to get a DHCP address, you usually want to try forever to get one (because that infinity, the current MaxAttemps default, is the sane one). "Spamming" the network with DHCP requests doesn't really matters, because usually not having an IP assigned for a DHCP configured interface results in a broken host.

Well Spamming may not matter to you but we already faced this . Restarting DHCP on setting MTU. Actually a flood. We need to think of all the configurations.


>Setting MaxAttemps=N maybe is useful for desktops were you can alert the user the DHCP IP adquisition failed, but is a broken setting (or if valid a very unusual one) for servers or embedded systems were you really want having an IP assigned when the DHCP server comes back online.

I think that we cant run the DHCP client forever . The DHCP server may not be there at first place. 

>**MaxAttemps=infinity + LinkLocalAddressing=fallback => silently invalid configuration, you can get your IP when the DHCP server comes back online, but you can't get an LL address at all (and you want one, because in some scenarios with DHCP servers offline you can still function against LAN peers using LL IP's)**

This means you made a config error . 


>MaxAttemps=N + LinkLocalAddressing=fallback => you get an LL address but only after certain time, and if the DHCP server comes back online, you never get the DHCP IP and got stuck forever with the LL one.

Again needs how much down time of the DHCP server. There is no need to run the DHCP client forever if you DHCP server not even there .

>MaxAttemps=N|infinity + LinkLocalAddressing=yes

We need to put a warning on this wrong settings . Thank you for pointing out. @yuwata  we should put warnings on these wrong settings.




Check the Windows 10 behavior:

> When your Windows-based computer (configured for DHCP) is initializing, it broadcasts three or more "discover" messages. If a DHCP server does not respond after several discover messages are broadcast, the Windows computer assigns itself a Class B (APIPA) address. Then the Windows computer will display an error message to the user of the computer (providing it has never been assigned an IP address from a DHCP server in the past). The Windows computer will then send out a Discover message every three minutes in an attempt to establish communications with a DHCP server.

RFC 3927 explicitly states how to drop an LL address. With your proposal if you get an LL address, then is never dropped. I still think is broken for embedded/servers. A possible solution is to add a new parameter `DHCP/RetryTime` to do the following cycle:

1- Try `MaxAttemps=N` to aquire DHCP IP address
2- If not aquired, configure an LL address (`LinkLocalAddressing=fallback`)
3- Wait `RetryTime=N` seconds (like Windows three minutes)
4- Goto 1 without dropping the LL address, only drop it when assigned a DHCP address.


The implementation is for windows. Clearly says 3 attempts.We do not have to do this. I am not convinced with broken word. There are wrong confs which we can add logs 

@ssahani: is broken, systemd is violating RFC 3927 section 2.11, autoconfiguration of Link Local address must not stop trying to get a DHCP one:

> A device that implements both IPv4 Link-Local and a DHCPv4 client
   should not alter the behavior of the DHCPv4 client to accommodate
   IPv4 Link-Local configuration.  In particular configuration of an
   IPv4 Link-Local address, whether or not a DHCP server is currently
   responding, is not sufficient reason to unconfigure a valid DHCP
   lease, **to stop the DHCP client from attempting to acquire a new IP
   address**, to change DHCP timeouts or to change the behavior of the
   DHCP state machine in any other way.


Also check RFC 3927, "Appendix A - Prior Implementations" (relevant in bold):

> **A.1.  Apple Mac OS 8.x and 9.x.**
>
> (...)
> Mac OS sends nine DHCPDISCOVER packets, with an interval of two
   seconds between packets.  If no response is received from any of
   these requests (18 seconds), it will autoconfigure.
>
>   Upon finding that a selected address is in use, Mac OS will select a
   new random address and try again, at a rate limited to no more than
   one attempt every two seconds.
>
>   Autoconfigured Mac OS systems check for the presence of a DHCP server
   **every five minutes**.
> (...)
>
> A.2.  Apple Mac OS X Version 10.2
> 
> (...)
> Autoconfiguration of a Link-Local address depends on the results of
   the DHCP process.  DHCP sends two packets, with timeouts of one and
   two seconds.  If no response is received (three seconds), it begins
   autoconfiguration.  DHCP continues sending packets in parallel for a
   total time of 60 seconds.
>
>   At the start of autoconfiguration, it generates 10 unique random IP
   addresses, and probes each one in turn for 2 seconds.  It stops
   probing after finding an address that is not in use, or the list of
   addresses is exhausted.
>
>   If DHCP is not successful, **it waits five minutes** before starting over
   again.  Once DHCP is successful, the autoconfigured Link-Local
   address is given up. 
> (...)
>
> A.3.  Microsoft Windows 98/98SE
>
> (...)
>   When in INIT state, the Windows 98/98SE DHCP Client sends out a total
   of 4 DHCPDISCOVERs, with an inter-packet interval of 6 seconds.  When
   no response is received after all 4 packets (24 seconds), it will
   autoconfigure an address.
>
>   The autoconfigure retry count for Windows 98/98SE systems is 10.
   After trying 10 autoconfigured IPv4 addresses, and finding all are
   taken, the host will boot without an IPv4 address.
>
>   Autoconfigured Windows 98/98SE systems check for the presence of a
   DHCP server **every five minutes**. 


Also check this (referenced from RFC 3927 as [DNAv4] ) https://tools.ietf.org/html/draft-ietf-dhc-dna-ipv4-01

> If the host does not have a valid IPv4 address lease on the "most
likely" network and does not receive a response after employing the
retransmission algorithm, it MAY assign a Link-Local IPv4 address.
Since a Link-Local IPv4 address is often configured because a DHCP
server failed to respond to an initial query or is inoperative for some
time, it is desirable to abandon the Link-Local IPv4 address assignment
as soon as a valid IPv4 address lease can be obtained.
>
> Where a Link-Local IPv4 address is assigned, experience has shown that
five minutes (see [IPv4LL] Appendix A.2) was too long an interval to
wait and try to obtain a routable IPv4 address via DHCP.  A host which
has been configured with a Link-Local IPv4 address SHOULD periodically
attempt to obtain a routable IPv4 address via DHCP.  The recommended
policy is to attempt to obtain an address via DHCP after waiting for
RECONF_INTERVAL, plus a random number of seconds, uniformly distributed,
between zero to RECONF_JITTER seconds.


Similar Windows 10 behavior was posted before. I don't know what's the current macOS one, but I bet it never stops trying to get a DHCP address after auto-configuring a Link Local Address. Is the right thing to do.

hmm for now this can be done via 

```
DHCP=ipv4
LinkLocalAddressing=ipv4
```

Once DHCP is back LL can be removed.

@ssahani using `DHCP=ipv4` + `LinkLocalAddressing=ipv4` the LL address is never removed, so is violating RFC 3927#1.9 . 

That we need to add precisely.  Will do 

@ssahani just a final thought, `LinkLocalAddressing` must be a boolean option, at least for ipv4.

`LinkLocalAddressing=no` => no LL at all.

`LinkLocalAddressing=yes` + Static Address => invalid configuration, warn and interpret as `LinkLocalAddressing=no`, no LL at all.

`LinkLocalAddressing=yes` + `DHCP` => LL process should be subordinated to the DHCP one, an LL address must be acquired at start or after a short N unsuccessful DHCP attemps, and must not stop DHCP to keeping trying. When a DHCP address is acquired, drop the LL address. If the DHCP address is lost, re-adquire a new LL address.

`LinkLocalAddressing=fallback` has no reason to exist, because LL address must always be allocated as a fallback option when using DHCP. Having both DHCP and LL address at the same time is an RFC violation, so `LinkLocalAdressing=yes` correctly implemented is already the "fallback" behavior. The `fallback` option must be deprecated and if present in older configs must be interpreted as `LinkLocalAddressing=yes`.

I just encountered this issue on our embedded Linux platform. In our case it is important that the system "recovers" automatically from using the fallback linklocal address to using an address assigned by DHCP when possible. Therefore I just wanted express my relief that a solution is now scheduled for v246.

@nahuel: I appreciate your effort to thoroughly describe the problem and propose a solution, nice work.


@yuwata hmm, where are we with this?

> @ssahani just a final thought, `LinkLocalAddressing` must be a boolean option, at least for ipv4.
> 
> `LinkLocalAddressing=no` => no LL at all.
> 
I deeply agree! I have that problem on an embedded system at the moment. As far as I see it was scheduled as milestone for 246 and hope it will be solved with 247.

