Resolved: wrong interface used

**systemd version the issue has been seen with**
> 241

<!-- **NOTE:** Do not submit bug reports about anything but the two most recently released systemd versions upstream! -->
<!-- For older version please use distribution trackers (see https://github.com/systemd/systemd/blob/master/docs/CONTRIBUTING.md#filing-issues). -->

**Used distribution**
 > Archlinux

**Expected behaviour you didn't see**
 > I have 2 network interfaces (ethernet and WiFi or 3G) and configure DNS servers on specific interfaces. When I ask resolved to resolve using the 3G or WiFi interface, I want the request to be send through that interface, to the configured server.

**Unexpected behaviour you saw**
 > When I ask resolved to resolve on a specific interface (e.g. 3G or WiFi) it will use the expected DNS server, but the request will be sent through the ethernet interface (which has the default route with the best metric). When using 3G dongles, you sometimes have a DNS server with a public IP (i.e. Linux thinks it can be contacted with any default route), but this server will only accept requests coming from the 3G network. In this case, I am unable to resolve requests in 3G when I am also connected in Ethernet.

**Steps to reproduce the problem**
> Set different DNS servers on the different interfaces. Ask resolved to resolve using the WiFi interface when you are also connected in Ethernet. Using wireshark, you can see that the request will be sent through the Ethernet interface, to the 3G's DNS server.

I am not sure I follow. If you want traffic to some server or subnet routed to some interface, the right approach is to define a route for it. 

resolved honours IP routing, and I am very convinced that that's the right approach, and it really shouldn't override regular IP routes. If they aren't set up correctly, then that's a local configuration problem, no? Why not configure and fix that properly? that way it will be solved fully generically, for all programs, and fully correctly, in the original way issues like this are supposed to be fixed. 

What am I missing?

In my opinion it makes more sense to use the interface associated to a DNS server. Yes my problem could be resolved using routes, but when the DNS servers are received through DHCP the user would have to set the routes manually or to write a plugin to networkmanager (in my case) or networkd to set the routes. I think it would be more user friendly if resolved used the desired interface for DNS servers associated to a link.

In my case this is really problematic with resolved running on an embedded system with an ethernet connection and a 3G dongle for backup (which is a quite common usage). With some mobile network operators, the received DNS servers have a public IP, but can only be accessed through the 3G connection. When no routes are configured just for this specific IP, resolved cannot resolve using this server.

It would also be problematic if one configured resolved with the same DNS server (e.g. 8.8.8.8) in 3G and in ethernet for backup purposes. Resolved would switch between the two servers but would always use the same interface, which would be less resilient.

It seems you are already trying to bind to the interface when creating the socket : 
```
static int dns_scope_socket(
[...]

        if (s->link) {
                be32_t ifindex_be = htobe32(ifindex);

                if (sa.sa.sa_family == AF_INET) {
                        r = setsockopt(fd, IPPROTO_IP, IP_UNICAST_IF, &ifindex_be, sizeof(ifindex_be));
                        if (r < 0)
return -errno;
```
Somehow the setsockopt doesn't return an error (I added some logs to be sure), but the request isn't sent through the desired interface.


But doesn#t that sound as if we should teach networkd a new trick: for all DNS servers configured for an interface add an explicit route to that iface, too. @yuwata @ssahani what do you think? i.a. implicitly synthesize an explicit route for all DNS servers listed in the DHCP lease in addition to the explicitly listed routes in the dhcp lease?

> Somehow the setsockopt doesn't return an error (I added some logs to be sure), but the request isn't sent through the desired interface.

hmm, iirc that sockopt is mostly a hint, and relevant only for datagram based stuff, but i don't now the details. it's not really documented unfortunately. (linux...)

I filed #11961 as an RFE bug for this.

I am not sure there's anything actionable here otherwise?

From an user's perspective, when I ask resolved to resolve using the interface x, I expect it to send the request on that interface. When reading the [doc](https://www.freedesktop.org/wiki/Software/systemd/resolved/), it seems pretty clear it should work like that : 

> ResolveHostname() takes a hostname and acquires one or more IP addresses for it. As parameters it takes the Linux network interface index to execute the query on, or 0 if it may be done on any suitable interface.


It's true, the doc concerning the setsockopt IP_UNICAST_IF is very limited, But from what I've read [1](https://stackoverflow.com/questions/4584908/how-do-i-send-udp-packet-from-a-specific-interface-on-linux), [2](https://lwn.net/Articles/719297/), this is not only a hint and works with UDP and raw sockets. Since resolved is trying to contact the NS server in UDP, this should work.

resolved uses TCP too

It seems the DNS requests are send in UDP (seen with wireshark and after adding some logs)

```
int dns_transaction_go(DnsTransaction *t) {
[...]
        if (t->scope->protocol == DNS_PROTOCOL_LLMNR &&
            (dns_name_endswith(dns_resource_key_name(t->key), "in-addr.arpa") > 0 ||
             dns_name_endswith(dns_resource_key_name(t->key), "ip6.arpa") > 0)) {

                /* RFC 4795, Section 2.4. says reverse lookups shall
                 * always be made via TCP on LLMNR */
                r = dns_transaction_emit_tcp(t);
        } else {
                /* Try via UDP, and if that fails due to large size or lack of
                 * support try via TCP */
                r = dns_transaction_emit_udp(t);
                if (r == -EMSGSIZE)
                        log_debug("Sending query via TCP since it is too large.");
                else if (r == -EAGAIN)
                        log_debug("Sending query via TCP since UDP isn't supported.");
                if (IN_SET(r, -EMSGSIZE, -EAGAIN))
                        r = dns_transaction_emit_tcp(t);
        }
```

More details on [IP_UNICAST_IF](https://lore.kernel.org/netdev/1328651073-976-1-git-send-email-ehoover@mines.edu/)

Hello,

From what I've read, it seems the setsockopt should be done with different parameters to make sure it's not overwritten by the routing rules :
`setsockopt(fd, SOL_SOCKET, SO_BINDTODEVICE, ifname, strlen(ifname));`
ifname being the interface's name

I tried to do this, but it doesn't work with the following error returned: `Operation not permitted`

This options needs the CAP_NET_RAW capability, which should be granted to resolved from it's unit file: `CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_SETPCAP CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_NET_RAW CAP_NET_BIND_SERVICE`

Nevertheless, when I run pscap on the target I can't see any capabilities applied to resolved. What am I missing here ?

SO_BINDTODEVICE does not affect routing iirc, all it does is filter ingress datagrams by iface and ignores  all datagrams not matching the iface.

Hello @poettering 

I opened a pull request which solves my issue : https://github.com/systemd/systemd/pull/12004

`SO_BINDTODEVICE` works for outpound connections as well, and makes sure the socket goes through the desired interdace

I had to keep the capability `CAP_NET_RAW` though

So, how precisely does your routing table look like when this happens? i.e. what is the DNS server address, and are there routes to it on every relevant interface? which metrics do these have?

I wonder how IP_UNICAST_IF actually influences routing. i.e. quite possibly the metric is higher privilege as routing key...

For UDP over IPv4, the following happens (`udp_sendmsg`):
1. First, `struct ipcm_cookie ipc` is initialized using `ipcm_init_sk`, with `oif = inet->sk.sk_bound_dev_if` (the device from `SO_BINDTODEVICE`).
2. That is then overridden by `IP_PKTINFO` (the call to `ip_cmsg_send` parses the `cmsg` structures).
3. If no interface is selected yet, `IP_UNICAST_IF` is used.
4. If the socket is connected, this is all thrown in the bin, and the cached route from `connect()` is used.

Note that `IP_UNICAST_IF` does not affect `connect()` in any way.

In general, I think the interface set with `IP{,V6}_UNICAST_IF` is only used when all of the following hold:                                                    
 - The socket is raw, ICMP (ping), or UDP. TCP sockets ignore the option.
 - The socket is not bound to a device. If it is, the device from `SO_BINDDEVICE` is used instead.
 - In the case of UDP sockets, the socket must also not be connected. It it is connected, the output device from the route is used.
 - `IP{,V6}_PKTINFO` must not be used. If it is, it `IP{,V6}_UNICAST_IF` is ignored.

I just ran a quick test (config below). When running `resolvectl --interface eth query example.org`, the queries go out through `wlan` because it has a better route (even though `eth` can also route packets to the DNS server). `IP_UNICAST_IF` is ignored because the UDP socket uses `connect()`.

```
$ ip route
default via 10.111.2.1 dev eth proto dhcp metric 100 
default via 10.111.1.1 dev wlan proto dhcp metric 600 
10.111.1.0/24 dev wlan proto kernel scope link src 10.111.1.98 metric 600 
10.111.2.0/24 dev eth proto kernel scope link src 10.111.2.94 metric 100 

Global
       LLMNR setting: no                  
MulticastDNS setting: no                  
  DNSOverTLS setting: no                  
      DNSSEC setting: no                  
    DNSSEC supported: no                  
Fallback DNS Servers: 1.1.1.1             
                      8.8.8.8             
                      1.0.0.1             
                      8.8.4.4             
                      2606:4700:4700::1111
                      2001:4860:4860::8888
                      2606:4700:4700::1001
                      2001:4860:4860::8844
          DNSSEC NTA: 10.in-addr.arpa     
                      16.172.in-addr.arpa 
                      168.192.in-addr.arpa
                      17.172.in-addr.arpa 
                      18.172.in-addr.arpa 
                      19.172.in-addr.arpa 
                      20.172.in-addr.arpa 
                      21.172.in-addr.arpa 
                      22.172.in-addr.arpa 
                      23.172.in-addr.arpa 
                      24.172.in-addr.arpa 
                      25.172.in-addr.arpa 
                      26.172.in-addr.arpa 
                      27.172.in-addr.arpa 
                      28.172.in-addr.arpa 
                      29.172.in-addr.arpa 
                      30.172.in-addr.arpa 
                      31.172.in-addr.arpa 
                      corp                
                      d.f.ip6.arpa        
                      home                
                      internal            
                      intranet            
                      lan                 
                      local               
                      private             
                      test                

Link 3 (eth)
      Current Scopes: DNS       
DefaultRoute setting: yes       
       LLMNR setting: yes       
MulticastDNS setting: no        
  DNSOverTLS setting: no        
      DNSSEC setting: no        
    DNSSEC supported: no        
  Current DNS Server: 10.111.1.1
         DNS Servers: 10.111.1.1
          DNS Domain: ~.        

Link 2 (wlan)
      Current Scopes: DNS         
DefaultRoute setting: yes         
       LLMNR setting: yes         
MulticastDNS setting: no          
  DNSOverTLS setting: no          
      DNSSEC setting: no          
    DNSSEC supported: no          
  Current DNS Server: 10.111.1.1  
         DNS Servers: 10.111.1.1  
          DNS Domain: ~.          
```


hmm, so you are saying we shouldn't use connect() in resolved for UDP sockets, and all would be jolly?

I posted a bug on kernel bugzilla about this, mentioning your findings:

https://bugzilla.kernel.org/show_bug.cgi?id=210255

maybe we are lucky and someone will pick this up and fix for us in the kernel!

Thank you for all the research btw, much appreciated!

#17535 contains a hack around this issue: we bind while connect()ing, and unbind immediately after.