network/dhcp-prefix-delegation: do not assign prefix on the upstream interface by default

https://github.com/systemd/systemd/issues/31820#issuecomment-2002319651 by @arvidjaar 

> Delegated prefix cannot be assigned to the link used to request this prefix unless delegating router explicitly excluded it using Prefix Exclude Option. If networkd does it, it is incorrect.
> 
> [Prefix Exclude Option for DHCPv6-based Prefix Delegation](https://datatracker.ietf.org/doc/html/rfc6603)
> 
> > DHCPv6 Prefix Delegation (DHCPv6-PD) [[RFC3633](https://datatracker.ietf.org/doc/html/rfc3633)] has an explicit
> > limitation described in [Section 12.1 of [RFC3633]](https://datatracker.ietf.org/doc/html/rfc3633#section-12.1) that a **prefix
> > delegated to a requesting router cannot be used by the delegating
> > router.**
