systemd-resolved: answer doesn't include AD bit if only DO is set in the query

**systemd version the issue has been seen with**
 > v249.2

<!-- **NOTE:** Do not submit bug reports about anything but the two most recently released *major* systemd versions upstream! -->
<!--           If there have been multiple stable releases for that major version, please consider updating to a recent one before reporting an issue. -->
<!--           When using a distro package, please make sure that the version reported is meaningful for upstream. -->
<!-- See https://github.com/systemd/systemd-stable/releases for the list of most recent releases. -->
<!-- For older version please use distribution trackers (see https://systemd.io/CONTRIBUTING#filing-issues). -->

**Used distribution**
 > Arch Linux

**Linux kernel version used** (`uname -a`)
<!-- Make sure to enclose the pasted kernel version in `backticks`, so that
     GitHub doesn't convert the `#` character typically included in it into a
     reference to old GitHub issues. -->
 > `Linux host 5.13.5-arch1-1 #1 SMP PREEMPT Sun, 25 Jul 2021 18:02:58 +0000 x86_64 GNU/Linux`

**CPU architecture issue was seen on**
 > x86_64

**Expected behaviour you didn't see**
 > [Section 5.8 of RFC6840](https://datatracker.ietf.org/doc/html/rfc6840#section-5.8) says the AD bit should be included in the answer if the AD or DO bit is set in the query (and the data is authenticated).

**Unexpected behaviour you saw**
 > systemd-resolved doesn't set the AD bit in the answer if DO (but not AD) was set in the query ([relevant code](https://github.com/systemd/systemd/blob/8f876748d3f89d822b1167214ed4fb66146dc3df/src/resolve/resolved-dns-stub.c#L588)). This makes OpenSSH not trust SSHFP records - it sets DO in the query and checks AD in the answer.

**Steps to reproduce the problem**
 > `dig +dnssec +noad`
 > Expected: `flags: qr rd ra ad` (unbound and other resolvers)
 > Actual: `flags: qr rd ra` (systemd-resolved)
