DHCP Server of systemd-networkd will not work on USB Gadget RNDIS connected to Windows

**systemd version the issue has been seen with**
 249.5

**Used distribution**
 Buildroot

**Linux kernel version used** (`uname -a`)
<!-- Make sure to enclose the pasted kernel version in `backticks`, so that
     GitHub doesn't convert the `#` character typically included in it into a
     reference to old GitHub issues. -->
 `Linux smartcross 5.15.10 #8 SMP PREEMPT Sat Jan 22 20:15:20 CST 2022 aarch64 GNU/Linux`

**CPU architecture issue was seen on**
 aarch64

**Expected behaviour you didn't see**
 systemd-networkd respond to DHCP requests sent from Windows

**Unexpected behaviour you saw**
 systemd-networkd does not respond to DHCP requests sent from Windows.

The reason is simple: in https://github.com/systemd/systemd/blob/f939a8984afb33e3242b8d18b40279876230dc61/src/libsystemd-network/sd-dhcp-server.c#L904 the DHCP server will reject anything but with `message->htype == ARPHRD_ETHER`(0x01). But for USB RNDIS interfaces Windows will send htype ARPHRD_ARCNET (0x07), causing networkd to drop this request.

<img width="767" alt="截屏2022-01-22 下午10 51 15" src="https://user-images.githubusercontent.com/8972552/150643456-c7b9b1e6-4f2a-4d97-a748-95302465b086.png">

Maybe we can add an exception for ARPHRD_ARCNET here?
 

**Steps to reproduce the problem**
 1. Grab a RPi Zero or RPi 4 with USB gadget functionality. You can use RPi OS or any OS you like, as this doesn't affect the reproducibility of this issue.
 2. Set up USB Gadget, like
 ```bash
CONFIGFS_ROOT=/sys/kernel/config
cd "${CONFIGFS_ROOT}"/usb_gadget
mkdir g1
cd g1
echo 0x5678 > idVendor
echo 0x1234 > idProduct
mkdir strings/0x409
echo "my vendor" > strings/0x409/manufacturer
echo "my device" > strings/0x409/product
mkdir configs/c.1
mkdir functions/rndis.usb0
ln -s functions/rndis.usb0 configs/c.1
ls /sys/class/udc > UDC
```
3. Add a systemd-networkd network file for the USB interface, like
```
[Match]
Name=usb0

[Network]
DHCPServer=true
DHCP=no
Address=10.222.11.1/24

[DHCPServer]
PoolOffset=128
PoolSize=32
EmitRouter=false
EmitNTP=false
EmitDNS=false
EmitTimezone=false
```
4. Bring up the interface.

systemd-networkd will not respond to DHCP request sent by Windows. 


@t123yh Hi! Could you test PR #22222. I do not have such hardware, so I cannot test it. Thank you.

@yuwata Hi Yu,

Thanks for your great work!

After applying your patches from the PR, networkd now accepts the DHCP Discover from Windows and sent the OFFER. However, Windows doesn't seem to accept that OFFER.

I noticed two problems:

* You used `memeqzero` in `sd-dhcp-server.c`, however you didn't add `#include "memory-util.h"`. This will lead to compilation error.
* DHCP OFFER had the "Client Address" field set to zero, and doesn't have any Client Identifier in the options. I think this might be the reason that Windows doesn't accept this offer. I'll have a try to fix this soon.

An extra problem, you mentioned ` See RFC2132 section 4.1.1.` in the comments, however I can't find 4.1.1 in [https://datatracker.ietf.org/doc/html/rfc2132#page-11](RFC2132). I wonder if it some misunderstanding of mine?

> An extra problem, you mentioned ` See RFC2132 section 4.1.1.` in the comments, however I can't find 4.1.1 in [RFC2132](https://datatracker.ietf.org/doc/html/rfc2132#page-11). I wonder if it some misunderstanding of mine?

Sorry, that should be RFC2131.

I re-read RFC2131 and RFC4390, then I found that the current code has misunderstanding about chaddr handling. Will fix.

@t123yh Thank you for testing the PR and investigating the issue in the PR. I've updated the PR. Could you test the PR again?

> - You used `memeqzero` in `sd-dhcp-server.c`, however you didn't add `#include "memory-util.h"`. This will lead to compilation error.

I did not observe such build error. Maybe, you applied the PR on v249 code base? Anyway, now `memory-util.h` is explicitly included in sd-dhcp-server.c.

> - DHCP OFFER had the "Client Address" field set to zero, and doesn't have any Client Identifier in the options. I think this might be the reason that Windows doesn't accept this offer. I'll have a try to fix this soon.

Now, DHCP OFFER message always contains "Client Address" field except for when InfiniBand is used.
IIRC, Client Identifier is not necessary to be included in replies from server.

@yuwata 

> Maybe, you applied the PR on v249 code base?

Indeed, yes.

> DHCP OFFER message always contains "Client Address" field except for when InfiniBand is used.

I read RFC2131 again, and found that DHCP OFFER message MUST NOT contain Client Identifier. The statement from me of Client Identifier above may be wrong. 

![截屏2022-01-23 上午11 06 22](https://user-images.githubusercontent.com/8972552/150663234-7d46e416-1736-457b-9988-be598035699e.png)

Anyway, I'll test your new patch soon. Thanks!

Hi @yuwata ,

I have tested the PR and it works for me this time.

I have to add another `#include "memory-util.h"` to `dhcp-packet.c` because of `memcpy_safe`.

> I read RFC2131 again, and found that DHCP OFFER message MUST NOT contain Client Identifier. The statement from me of Client Identifier above may be wrong.

Sorry, I misunderstood what you mean. Now I know that you mean the "Client address" field, not the "Client identifier" option.


> I have tested the PR and it works for me this time.

Yay!! Thank you for testing!

> I have to add another `#include "memory-util.h"` to `dhcp-packet.c` because of `memcpy_safe`.

I also added it into dhcp-packet.c. Thanks.