Implement IPv6 Prefix Delegation Prefix-Length Hinting

**Is your feature request related to a problem? Please describe.**
Some IPv6 networks utilize DHCPv6 Prefix Delegation when allocating addresses. For example, the delegating router might provide a /56 prefix which can be distributed and "sub-divided" by the requesting router (normally in blocks of /64). In systemd v243 the documentation explains how to enable prefix delegation and configure the network blocks to be distributed from the external interface to the internal interface(s) using .network files.

However, it appears that the current systemd implementation does not suffice in some circumstances due to the inability to provide a prefix-length "hint" (as described in RFC 3633, section 10). To explain, let me provide an example. My machine is configured as a router with one external interface (connected to the ISP) and multiple internal interfaces (LAN, WLAN, etc). By default, my ISP provides a single /64 allocation when prefix delegation is requested. This is problematic because systemd is therefore unable to allocate a /64 prefix to each of my internal interfaces. In fact, when I tried to use systemd with my network, it seemed to get confused and would randomly allocate the single /64 prefix to different internal interfaces. On startup sometimes the LAN interface would have IPv6 connectivity and on other occasions the WLAN interface would suddenly have IPv6 connectivity (abruptly disabling the connectivity from the LAN). Since there was only one /64 prefix to allocate, systemd wasn't sure which of the internal interfaces should receive it.

**Describe the solution you'd like**
The solution in this scenario is for the requesting router (systemd) to include a prefix-hint in the DHCPv6 solicitation. If I configure my existing IPv6 client (currently [WIDE-DHCPv6](http://wide-dhcpv6.sourceforge.net/)) to include a prefix hint of /60, then my ISP delegates a /60 prefix which can be divided into multiple /64 allocations (and subsequently allocated to each internal interface).

In other words, without the prefix hint I am allocated a /64. If the prefix hint is included I am allocated a /60.

As noted in [RFC 3633, section 10](https://tools.ietf.org/html/rfc3633#section-10):
> The IA_PD Prefix option is used to specify IPv6 address prefixes associated with an IA_PD. [...] In a message sent by a requesting router to a delegating router, the values in the fields can be used to indicate the requesting router's preference for those values.  The requesting router may send a value of zero to indicate no preference.  **A requesting router may set the IPv6 prefix field to zero and a given value in the prefix-length field to indicate a preference for the size of the prefix to be delegated.**

I looked at the systemd network code and it appears that this feature may be mostly implemented already. Assuming that my understanding is correct, the systemd DHCPv6 solicitation code already calls `dhcp6_option_append_pd(uint8_t *buf, size_t len, const DHCP6IA *pd)` from the **dhcp6-option.c** file. Within that function there is a section of code which iterates over each requested prefix delegation and includes it into the packet. However, based on my limited knowledge, there isn't any way to create a .network file which actually utilizes this feature.


I am new to this can you please paste Wireshark dump hinting how it suppose to work ? 

### Configuration Details
For testing purposes, assume that there are two .network files in the systemd configuration. enp5s0 will be the internet connection and enp8s0 will be the internal LAN network. The important detail is that `IPv6PrefixDelegation=yes` is included in the configuration file for the internal interface.

I've attached a ZIP file containing two Wireshark captures.
[wireshark.zip](https://github.com/systemd/systemd/files/3639462/wireshark.zip)
`DHCPv6-systemd-PD.pcapng` shows the existing systemd behavior and `DHCPv6-PD-with-hint.pcapng` shows the desired behavior (using the Wide-DHCPv6-client). `fe80::a236:9fff:fe47:ac` is the link-local IPv6 address for enp5s0. `fe80::2c8:8bff:fedb:c022` is the link-local IPv6 address for my internet service provider.
```
[Match]
Name=enp5s0

[Network]
Description=Internet Connection
DHCP=yes
IPv6AcceptRA=true
```

```
[Match]
Name=enp8s0

[Network]
Description=LAN
Address=10.0.0.1/24
DHCP=no
IPv6PrefixDelegation=yes
```
### Current systemd behavior
This Wireshark capture shows that systemd sends a DHCPv6 solicit packet and includes option 25 (the Identity Association for Prefix Delegation) which tells the upstream router that we want to use prefix delegation.
![systemd-solicit](https://user-images.githubusercontent.com/4677166/65383339-0f047b80-dcc9-11e9-9f01-fe83f91bc69e.PNG)
When the upstream router responds with a DHCPv6 advertise packet, the contents include option 26 (IA Prefix) which gives us the details of our assigned prefix length and prefix address. In this case the router offered us prefix length `64` and prefix address `2601:1c0:8100:7d2::`. The problem is that since we did not request any specific prefix length, the upstream router gave us its default preference of 64.
![systemd-advertise](https://user-images.githubusercontent.com/4677166/65383559-25600680-dccc-11e9-9f0c-144626017a9a.PNG)

### Requested behavior
In order to receive a different prefix length we need to indicate the desired prefix in the DHCPv6 solicit packet. It would be useful for the enp5s0.network file to support something like the following:
```
IPv6PrefixDelegationLength=60
IPv6PrefixDelegationAddress=::
```
In this case the solicit packet would indicate to the upstream router that we don't care about the specific address that is delegated to us, but we would like to request a /60 prefix. If a user instead wanted to request a /50 prefix, they would use the configuration line:
```
IPv6PrefixDelegationLength=50
```

The following Wireshark capture demonstrates the desired behavior. Notice that the DHCPv6 solicit packet includes option 26 (IA Prefix) and is requesting a prefix length of 60 (with no preferred address).
![wide-dhcpv6-solicit](https://user-images.githubusercontent.com/4677166/65383740-796bea80-dcce-11e9-822d-70ecd64ceed0.PNG)
When the upstream router responds with a DHCPv6 advertise packet, the Wireshark capture shows that we were offered the prefix address `2601:1c0:8101:c420::` with prefix length of `60` (as requested). That is the desired behavior since systemd can now subnet the /60 and allocate a /64 to each internal interface.
![wide-dhcpv6-advertise](https://user-images.githubusercontent.com/4677166/65383831-96ed8400-dccf-11e9-93cd-c7ef13653e6c.PNG)

Thank you for detail explanation . Could you please verify ? Pref life etc I can make it default BTW

```
Frame 379: 179 bytes on wire (1432 bits), 179 bytes captured (1432 bits) on interface 0
Linux cooked capture
Internet Protocol Version 6, Src: fe80::3afd:169e:4f4:ee1e, Dst: ff02::1:2
User Datagram Protocol, Src Port: 546, Dst Port: 547
DHCPv6
    Message type: Solicit (1)
    Transaction ID: 0xd06ccb
    Rapid Commit
        Option: Rapid Commit (14)
        Length: 0
    Identity Association for Non-temporary Address
        Option: Identity Association for Non-temporary Address (3)
        Length: 12
        Value: 7eb868940000000000000000
        IAID: 7eb86894
        T1: 0
        T2: 0
    Fully Qualified Domain Name
        Option: Fully Qualified Domain Name (39)
        Length: 6
        Value: 01045a657573
        0000 0... = Reserved: 0x00
        .... .0.. = N bit: Server should perform DNS updates
        .... ..0. = O bit: Server has not overridden client's S bit preference
        .... ...1 = S bit: Server should perform forward DNS updates
        Client FQDN: Zeus
    Identity Association for Prefix Delegation
        Option: Identity Association for Prefix Delegation (25)
        Length: 41
        Value: 7eb868940000000000000000001a00190000000000000000…
        IAID: 7eb86894
        T1: 0
        T2: 0
        IA Prefix
            Option: IA Prefix (26)
            Length: 25
            Value: 00000000000000003c000000000000000000000000000000…
            Preferred lifetime: 0
            Valid lifetime: 0
            Prefix length: 60
            Prefix address: ::
    Option Request
        Option: Option Request (6)
        Length: 10
        Value: 001700180038001f000e
        Requested Option code: DNS recursive name server (23)
        Requested Option code: Domain Search List (24)
        Requested Option code: NTP Server (56)
        Requested Option code: Simple Network Time Protocol Server (31)
        Requested Option code: Rapid Commit (14)
    Client Identifier
        Option: Client Identifier (1)
        Length: 12
        Value: 000100001122334455667789
        DUID: 000100001122334455667789
        DUID Type: link-layer address plus time (1)
        Hardware type: NET/ROM pseudo (0)
        DUID Time: Feb  9, 2009 01:20:20.000000000 CET
        Link-layer address: 55667789
    Elapsed time
        Option: Elapsed time (8)
        Length: 2
        Value: 029f
        Elapsed time: 6710ms
```

BTW if you can provide the test configuration what would be real nice.

can you please test it . https://github.com/systemd/systemd/pull/13647

Thank you for the fix!