IPv6 Compliance RFC8106: Processing Router Advertisement DNS (Host Only) [v6LC.2.2.25 Part F]

### systemd version the issue has been seen with

255

### Used distribution

Ubuntu 23

### Linux kernel version used

6.5.0-17-generic

### CPU architectures issue was seen on

x86_64

### Component

systemd-networkd

### Expected behaviour you didn't see

#### Test v6LC.2.2.25f: Processing Router Advertisement DNS (Host Only)
**Purpose**: Verify that the HUT process Router Advertisement includes a DNS options. Part F: Search List Option Expired
**Reference**: [RFC 8106, Section 5.2](https://www.ietf.org/rfc/rfc8106.html#section-5.2)

#### Network Configuration
```
        TR1
         |
    +----+-----+
         |
        HUT
```

#### Procedure
| Step | Action | Expected Behavior of HUT<sup>(1)</sup> |
|--------|--------|--------|
| 1 | TR1 sends `RA RDNS-Server=Address RNDS-lifetime=100s RDNSS-search=test.example.com RDNSS-lifetime=60s` to HUT | |
| 2 | HUT runs `ping6 node1` | HUT transmits DNS Query to DNS-Server. |
| 3 | Wait 65 seconds. | |
| 4 | HUT runs `ping6 node1` | HUT MUST NOT transmit DNS Query to DNS-Server |
* **(1)** - Host Under Test



### Unexpected behaviour you saw

In Step 4, the HUT sent a DNS Query, even though the DNSS Lifetime had expired.

### Steps to reproduce the problem

[v6LC_2_2_25f.zip](https://github.com/systemd/systemd/files/14413124/v6LC_2_2_25f.zip)


### Additional program output to the terminal or log subsystem illustrating the issue

```sh
enp0s9: NDISC: Received Router Advertisement: flags none preference medium lifetime 8h 20min
enp0s9: NDISC: Invoking callback for 'router' event.
enp0s9: Requesting NDisc route (n/a): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
Setting '/proc/sys/net/ipv6/icmp/ratelimit' to '1000'
No change in value '1000', suppressing write
Setting '/proc/sys/net/ipv6/neigh/enp0s9/base_reachable_time_ms' to '30000'
No change in value '30000', suppressing write
Setting '/proc/sys/net/ipv6/neigh/enp0s9/retrans_time_ms' to '1000'
No change in value '1000', suppressing write
Setting '/proc/sys/net/ipv6/conf/enp0s9/hop_limit' to '64'
No change in value '64', suppressing write
enp0s9: Requesting NDisc route (n/a): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Requesting NDisc address (n/a): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 18h 12min 14s, preferred for 18h 12min 14s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Setting SLAAC addresses and router.
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: Configuring NDisc route (requesting): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Configuring NDisc route (requesting): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Configuring NDisc address (requesting): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 18h 12min 14s, preferred for 18h 12min 14s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Received new NDisc route (configured): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: ndisc_check_ready(): SLAAC addresses and routes are not set.
enp0s9: Received new NDisc route (configured): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: ndisc_check_ready(): SLAAC addresses and routes are not set.
enp0s9: Received new NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 18h 12min 14s, preferred for 18h 12min 14s), flags: tentative,manage-temporary-address,no-prefixroute, scope: global
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: ndisc_check_ready(): no SLAAC address is ready.
enp0s9: Received updated NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 18h 12min 13s, preferred for 18h 12min 13s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: SLAAC addresses and routes set.
enp0s9: link_check_ready(): IPv4LL:no DHCPv4:no DHCPv6:no DHCP-PD:no NDisc:yes
enp0s9: State changed: configuring -> configured
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=23 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=24 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=25 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Received new foreign route (configured): dst: 2001:2:0:1000:a00:27ff:fe1a:432/128, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 0, proto: kernel, scope: global, type: local, flags: n/a
```


FYI: @yuwata.

Somehow I missed setting the component to "systemd-networkd" so the label was not automagically added.  I don't see a way to add a label, so maybe someone can do that for me?


From [RFC8106 section 6.1](https://www.rfc-editor.org/rfc/rfc8106.html#section-6.1):
> Note that the DNS information for the RDNSS and DNSSL options need **not** be dropped if the expiry of the RA router lifetime happens. This is because these options have their own lifetime values.

So, even after 65s, the DNS server is still valid, but the domain search list is not. I guess the result of the DNS lookup of `node1` triggered by the first `ping6 node1` is cached in systemd-resolved (you also use systemd-resolved, right?). And in the second `ping6 node1`, the cached entry may be used?
Could you show the result of `resolvectl status INTERFACE` and `resolvectl show-cache` ?

It seems resolved does not clear cache when DNS servers or domain search list is changed.
Please try to call `resolvectl flush-caches` before the second `ping6 node1`.

As you guessed, resolved is not clearing the cache. When I ran `resolvectl flush-caches`, waited a second, then sent the `ping6 node1`.  With the caches flushed, the ping6 failed.  I could watch the cache using...

Does this mean networkd will have to detect this condition and flush caches?


Maybe, resolved should flush caches when network setting change detected.

I'll try to reconfigure it using the native network manager and see how it behaves.  I'll have to do some research to figure out how to configure this on native Ubuntu. I'll let you know how it compares.


I found this test is passing at times, without the `resolvectl flush-caches` command. I haven't identified why it is intermittent.

NOTE: While I'm using your `systemd-networkd` from your [yuwata:network-next](https://github.com/yuwata/systemd/tree/network-next) branch, I've only been using the systemd-resolved from v253.5.  I will rebuild `systemd-resolved` from ToT, to be sure I'm testing with the latest.

For  my future reference...

Some additional tracing shows what the resolved sees as the timeouts occur:

```shell
old=""; while :; do new=$(resolvectl -6 status enp0s9); [ "$new" != "$old" ] && date +"%F %T.%N:%n""${new}%n"; old="$new"; sleep 2; done
```

#### networkd resolved
```
$ old=""; while :; do new=$(resolvectl -6 status enp0s9); [ "$new" != "$old" ] && date +"%F %T.%N:%n""${new}%n"; old="$new"; sleep 2; done
2024-03-05 11:07:07.900661372:
Link 4 (enp0s9)
    Current Scopes: none
         Protocols: -DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported

#
# Router Advertisement
#   RDNS-Server=2001:2:0:1000:200:10ff:fe10:1081 Lifetime=100s
#   DNS Search List=test.example.com Lifetime=60s
#
2024-03-05 11:07:19.979202736:
Link 4 (enp0s9)
    Current Scopes: DNS
         Protocols: +DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081
        DNS Domain: test.example.com

#
# HUT sends Echo Request (ping6 node1)
#
2024-03-05 11:07:38.071073740:
Link 4 (enp0s9)
    Current Scopes: DNS
         Protocols: +DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported
Current DNS Server: 2001:2:0:1000:200:10ff:fe10:1081
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081
        DNS Domain: test.example.com

#
# 60s after the RA was sent, the DNS Search List times out
#
2024-03-05 11:08:20.353965100:
Link 4 (enp0s9)
    Current Scopes: DNS
         Protocols: +DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported
Current DNS Server: 2001:2:0:1000:200:10ff:fe10:1081
       DNS Servers: 2001:2:0:1000:200:10ff:fe10:1081

# 
# I issue "ping6 node1".  If there is no attempt to send a DNS Query. The test passes.
# 

#
# 100s since the RA, the DNS Server times out
#
2024-03-05 11:09:00.686931951:
Link 4 (enp0s9)
    Current Scopes: none
         Protocols: -DefaultRoute -LLMNR -mDNS -DNSOverTLS DNSSEC=no/unsupported
```


If  you are sure that there is no work here for `systemd-networkd` and the issue is contained within `systemd-resolved`, then I'm happy for this issue to be closed.  We can track its resolution at #31624.

Duplicate of #31624.
At least, from the result of `resolvectl`, networkd works fine in this case.