resolved should not compress target names in SRV records.

systemd-resolved returns SRV records with the target names compressed. This is against RFC 2782 which defines the SRV RR format and, in the section "Target" states:

>   Target
>       The domain name of the target host.  There MUST be one or more
>       address records for this name, the name MUST NOT be an alias (in
>        the sense of RFC 1034 or RFC 2181).  Implementors are urged, but
>        not required, to return the address record(s) in the Additional
>        Data section.  Unless and until permitted by future standards
>        action, **name compression is not to be used for this field.**

(Emphasis mine)

@cmikk I've created PR #9828. If possible, please test the PR. Thank you.