unable to set transient hostname from dhcp

My dhcp servers (ISC dhcp-4.1.1-43.P1.el6.x86_64) send option 12, host name, with a trailing NULL byte. systemd-networkd from systemd 2.26 now rejects strings which include a null byte (43f447b):

`Sep 22 16:37:03 localhost systemd-networkd[313]: Failed to parse host name, ignoring: Invalid argument`

RFC 2132, section 2, says:

> Options containing NVT ASCII data SHOULD
> NOT include a trailing NULL; however, the receiver of such options
> MUST be prepared to delete trailing nulls if they exist.

Perhaps this is fixed in newer versions of dhcp, but unfortunately I can't upgrade them yet.


I figure we should indeed deal with that and accept it.


Thanks Lennart!
