minor logic error in verify_dhcp6_address or log message?

### systemd version the issue has been seen with

256

### Used distribution

ArchLinux

### Linux kernel version used

6.9.8-arch1-1

### CPU architectures issue was seen on

x86_64

### Component

networkctl, systemd-networkd

### Expected behaviour you didn't see

Log entries that actually make sense and aren't implying behavior that doesn't exist in the associated RFCs.

### Unexpected behaviour you saw

The following log message is not really helpful and assumes that DHCPv6 also provides a prefix size. However DHCPv6 never provides the prefix size and is **always** /128. Where as for NDisc it (for whatever reason) does not and instead gets returned with the on-link prefix. Therefore this message will always be thrown when both DHCPv6 and SLAAC are available instead of (as the text of the message indicates) only when the assigned addresses and prefix differ.

Regardless of (and if at all) this log message is changed it makes the entire `verify_dhcp6_address`-function quite confusing.

Either:

a) this function would have to check if the address is on-link (see below RFC quotes) and has a route with the same for it that matches what NDisc provided,
b) we'd have to patch how NDisc assigns addresses to have it also configure addresses with a /128 prefix + an additional route matching the on-link prefix, or
c) add a check if the addresses (without the prefix information) are equal and jump to `simple_log` if they match.
d) (if this is in error the message should be fixed and it should be implemented together with c, but if not) currently this code also implies that the addresses are always equal as the format string uses the `pretty` variable for both the DHCPv6 and NDisc provided addresses. And as outlined above there is no point in checking the prefix length (at least not like this function does it right now)


See e.g. https://www.rfc-editor.org/rfc/rfc8415.html#section-21.6
> IPv6-address         An IPv6 address.  A client MUST NOT form an
>                            implicit prefix with a length other than 128
>                            for this address.  A 16-octet field.

https://www.rfc-editor.org/rfc/rfc8415#section-18.2.10.1
> -  For each assigned address that does not have any associated
>       reachability information (see the definition of "on-link" in
>       [Section 2.1 of [RFC4861]](https://www.rfc-editor.org/rfc/rfc4861#section-2.1)), in order to avoid the problems
>       described in [[RFC4943](https://www.rfc-editor.org/rfc/rfc4943)], the client MUST NOT assume that any
>       addresses are reachable on-link as a result of receiving an IA_NA
>       or IA_TA.  Addresses obtained from an IA_NA or IA_TA MUST NOT be
>       used to form an implicit prefix with a length other than 128.

https://www.rfc-editor.org/rfc/rfc4861#section-2.1
>    on-link     - an address that is assigned to an interface on a
>                  specified link.  A node considers an address to be on-
>                  link if:
> 
>                     - it is covered by one of the link's prefixes (e.g.,
>                       as indicated by the on-link flag in the Prefix
>                       Information option), or
> 
>                     - a neighboring router specifies the address as the
>                       target of a Redirect message, or
> 
>                     - a Neighbor Advertisement message is received for
>                       the (target) address, or
> 
>                     - any Neighbor Discovery message is received from
>                       the address.



### Steps to reproduce the problem

DHCPv6 and SLAAC assigning the same address on the same interface by the same router

### Additional program output to the terminal or log subsystem illustrating the issue

https://github.com/systemd/systemd/blob/56f4ab290643547853276fb72b4e6960586c3e7c/src/network/networkd-dhcp6.c#L169-L176