unicode characters in systemd outputs

Hello,

please remove unicode from systemd outputs ... it's insane .. and fire please that teenager who did it.

2018-08-14T01:27:51.789850+02:00 linux-1b6m systemd[1]: is_symlink_with_known_name(dm-event.socket, dm-event.socket) → 1

^^ this is NOT okay to go to messages via rsyslog .. (and grep for unicode characters in systemd code, there are many of them on various places)

I understand that teenage devels with IQ > 150 and experience in IT industry < 2 yrs won't agree with me, but please, consult that with some older and more experienced colleague (or any other responsible adult you have avail around there) if you're in doubts .. I'm tired to explain, that logs should be ascii plaintext and that they are very often parsed in industry by stupid old tools that choke on your sexy (and cunning) unicode ..

Moreover, if you involve unicode, you have no right to discriminate emojis .. involve them too, it's unfair to them ..


regards, dan

ps. before (some of) you will curse me or even let your head explode from endless anger on how I could dare, just try answering for yourself the very simple question: why LITERALY none of opensource industry standards starting from kernel, going through apache and various *sql incarnations to system infrastructure tools like rsyslog or isc bind use unicode (or emojis - haha) in their log outputs ..

https://tools.ietf.org/html/rfc5424#section-6.4

> none of opensource industry standards starting from kernel, going through apache and various *sql incarnations to system infrastructure tools like rsyslog or isc bind use unicode (or emojis - haha) in their log outputs ..

I assume you mean "other than syslog."

Excerpt from [RFC 5424, section 6.4, "MSG"](https://tools.ietf.org/html/rfc5424#section-6.4):

> The character set used in MSG SHOULD be UNICODE, encoded using UTF-8 as specified in RFC 3629. If the syslog application cannot encode the MSG in Unicode, it MAY use any other encoding.

as rsyslog was mentioned above: this is clearly non-sense: rsyslog handles unicode messages just fine

@dpecka I'm not sure what makes you think that this is the right place to vent your frustrations and that this kind of language is appropriate here. You might want to read https://help.github.com/articles/github-terms-of-service/#c-acceptable-use before opening another issue. I'm closing this one.

please point us to the appropriate place to highlight this legitimate issue.

> please point us to the appropriate place to highlight this legitimate issue.

hello, what do you mean please ? I did't understand properly to your last comment .. regards, d