FYI: I know that I can set `WithoutRA=solicit` as described in the man page:
https://github.com/systemd/systemd/blob/456cd065bff7340767d438e537af8417a501e66d/man/systemd.network.xml#L6251-L6256

I opened this issue because, to my understanding, as per standards, the managed flag is not required and so `WithoutRA=solicit` should not really be required, as the M-flag is not required. The same consensus seems to be reached in #9745, and so this issue seems still not really be fixed.

Fix is waiting in #34442. Could you test the pull request?

The linked pull request does not appear to fix the issue: from both testing (applying it as a patch on top of 256.6) and cursory inspection of the code, it still requires `WithoutRA=solicit` in order for solicit requests to be sent.

Thank you for testing. Could you provide debugging logs of networkd when running with `WithoutRA=solicit` ?

Thanks. It seems the server does not reply IA_PD. Could you dump sent and received DHCP6 messages by tcpdump (something like https://github.com/systemd/systemd/issues/24292#issuecomment-1214174909) ?

On the full configuration, a solicit message gets sent:
```
 00:00:00.000000 IP6 (flowlabel 0x45325, hlim 1, next-header UDP (17) payload length: 111) fe80::fae4:3bff:fea7:5d57.546 > ff02::1:2.547: [udp sum ok] dhcp6 solicit (xid=ed1f7c (rapid-commit) (IA_PD IAID:2879610798 T1:0 T2:0 (IA_PD-prefix ::/64 pltime:0 vltime:0)) (Client-FQDN) (option-request DNS-server SNTP-servers NTP-server opt_82 opt_103) (client-ID enterprise 43793 98719fc79415fd48) (elapsed-time 1))
        0x0000:  6004 5325 006f 1101 fe80 0000 0000 0000  `.S%.o..........
        0x0010:  fae4 3bff fea7 5d57 ff02 0000 0000 0000  ..;...]W........
        0x0020:  0000 0000 0001 0002 0222 0223 006f 7b61  .........".#.o{a
        0x0030:  01ed 1f7c 000e 0000 0019 0029 aba3 5fae  ...|.......).._.
        0x0040:  0000 0000 0000 0000 001a 0019 0000 0000  ................
        0x0050:  0000 0000 4000 0000 0000 0000 0000 0000  ....@...........
        0x0060:  0000 0000 0000 2700 0801 0665 786f 6475  ......'....exodu
        0x0070:  7300 0600 0a00 1700 1f00 3800 5200 6700  s.........8.R.g.
        0x0080:  0100 0e00 0200 00ab 1198 719f c794 15fd  ..........q.....
        0x0090:  4800 0800 0200 01                        H......
 00:00:00.024448 IP6 (hlim 64, next-header UDP (17) payload length: 186) fe80::1eed:6fff:fe7a:bddd.547 > fe80::fae4:3bff:fea7:5d57.546: [udp sum ok] dhcp6 reply (xid=ed1f7c (rapid-commit) (opt_82) (NTP-server subopt:1 fd00::1eed:6fff:fe7a:bddd) (client-ID enterprise 43793 98719fc79415fd48) (server-ID hwaddr type 1 1ced6f7abddd) (preference 0) (DNS-server fd00::1eed:6fff:fe7a:bddd 2003:c2:3713:800:1eed:6fff:fe7a:bddd) (opt_86) (IA_PD IAID:2879610798 T1:1800 T2:2880 (IA_PD-prefix 2003:c2:3713:8ff::/64 pltime:3600 vltime:7200)))
        0x0000:  6000 0000 00ba 1140 fe80 0000 0000 0000  `......@........
        0x0010:  1eed 6fff fe7a bddd fe80 0000 0000 0000  ..o..z..........
        0x0020:  fae4 3bff fea7 5d57 0223 0222 00ba 2274  ..;...]W.#.".."t
        0x0030:  07ed 1f7c 000e 0000 0052 0004 0000 0e10  ...|.....R......
        0x0040:  0038 0014 0001 0010 fd00 0000 0000 0000  .8..............
        0x0050:  1eed 6fff fe7a bddd 0001 000e 0002 0000  ..o..z..........
        0x0060:  ab11 9871 9fc7 9415 fd48 0002 000a 0003  ...q.....H......
        0x0070:  0001 1ced 6f7a bddd 0007 0001 0000 1700  ....oz..........
        0x0080:  20fd 0000 0000 0000 001e ed6f fffe 7abd  ...........o..z.
        0x0090:  dd20 0300 c237 1308 001e ed6f fffe 7abd  .....7.....o..z.
        0x00a0:  dd00 5600 1020 0300 c237 1308 001e ed6f  ..V......7.....o
        0x00b0:  fffe 7abd dd00 1900 29ab a35f ae00 0007  ..z.....).._....
        0x00c0:  0800 000b 4000 1a00 1900 000e 1000 001c  ....@...........
        0x00d0:  2040 2003 00c2 3713 08ff 0000 0000 0000  .@....7.........
        0x00e0:  0000
```

Without `UseAddress` and `WithoutRA`, an invalid information request gets sent:
```
 00:00:00.000000 IP6 (flowlabel 0x45325, hlim 1, next-header UDP (17) payload length: 97) fe80::fae4:3bff:fea7:5d57.546 > ff02::1:2.547: [udp sum ok] dhcp6 inf-req (xid=988edc (IA_PD IAID:2879610798 T1:0 T2:0 (IA_PD-prefix ::/64 pltime:0 vltime:0)) (option-request DNS-server SNTP-servers lifetime NTP-server opt_83 opt_103) (client-ID enterprise 43793 98719fc79415fd48) (elapsed-time 0))
        0x0000:  6004 5325 0061 1101 fe80 0000 0000 0000  `.S%.a..........
        0x0010:  fae4 3bff fea7 5d57 ff02 0000 0000 0000  ..;...]W........
        0x0020:  0000 0000 0001 0002 0222 0223 0061 65cb  .........".#.ae.
        0x0030:  0b98 8edc 0019 0029 aba3 5fae 0000 0000  .......).._.....
        0x0040:  0000 0000 001a 0019 0000 0000 0000 0000  ................
        0x0050:  4000 0000 0000 0000 0000 0000 0000 0000  @...............
        0x0060:  0000 0600 0c00 1700 1f00 2000 3800 5300  ............8.S.
        0x0070:  6700 0100 0e00 0200 00ab 1198 719f c794  g...........q...
        0x0080:  15fd 4800 0800 0200 00                   ..H......
 00:00:00.004725 IP6 (hlim 64, next-header UDP (17) payload length: 132) fe80::1eed:6fff:fe7a:bddd.547 > fe80::fae4:3bff:fea7:5d57.546: [udp sum ok] dhcp6 reply (xid=988edc (client-ID enterprise 43793 98719fc79415fd48) (server-ID hwaddr type 1 1ced6f7abddd) (opt_83) (DNS-server fd00::1eed:6fff:fe7a:bddd 2003:c2:3713:800:1eed:6fff:fe7a:bddd) (NTP-server subopt:1 fd00::1eed:6fff:fe7a:bddd) (opt_86))
        0x0000:  6000 0000 0084 1140 fe80 0000 0000 0000  `......@........
        0x0010:  1eed 6fff fe7a bddd fe80 0000 0000 0000  ..o..z..........
        0x0020:  fae4 3bff fea7 5d57 0223 0222 0084 d3c9  ..;...]W.#."....
        0x0030:  0798 8edc 0001 000e 0002 0000 ab11 9871  ...............q
        0x0040:  9fc7 9415 fd48 0002 000a 0003 0001 1ced  .....H..........
        0x0050:  6f7a bddd 0053 0004 0000 0e10 0017 0020  oz...S..........
        0x0060:  fd00 0000 0000 0000 1eed 6fff fe7a bddd  ..........o..z..
        0x0070:  2003 00c2 3713 0800 1eed 6fff fe7a bddd  ....7.....o..z..
        0x0080:  0038 0014 0001 0010 fd00 0000 0000 0000  .8..............
        0x0090:  1eed 6fff fe7a bddd 0056 0010 2003 00c2  ..o..z...V......
        0x00a0:  3713 0800 1eed 6fff fe7a bddd            7.....o..z..
```
(Now of course the server is also violating its requirement that it MUST discard the invalid information request, but that doesn't change the fact that the client shouldn't send it in the first place.)

> Without `UseAddress` and `WithoutRA`, an invalid information request gets sent:

In what sense the sent message is invalid?

> In what sense the sent message is invalid?

It seems that one is not supposed to use information request for obtaining prefixes (https://datatracker.ietf.org/doc/html/rfc8415#section-18.2.6), and the server is actually required to reject such messages (https://datatracker.ietf.org/doc/html/rfc8415#section-16.12), and solicit must be used instead.

> It seems that one is not supposed to use information request for obtaining prefixes (https://datatracker.ietf.org/doc/html/rfc8415#section-18.2.6),

Indeed...

But, then, the previous behavior sounds good, that is, when RA does not have M-flag (but has O-flag), then start DHCP6 client in Information Requesting mode and send inf-rq message without any IA_PD options.

Do you want to have a setting that forcibly DHCP6 client starts in managed mode (but after an RA is received)??

> Indeed...
> 
> But, then, the previous behavior sounds good, that is, when RA does not have M-flag (but has O-flag), then start DHCP6 client in Information Requesting mode and send inf-rq message without any IA_PD options.
> 
> Do you want to have a setting that forcibly DHCP6 client starts in managed mode (but after an RA is received)??

What *I* would prefer, and from my understanding also the reporter of this bug, is that prefix delegation always works as requested by the user *without* specifying any additional options. That is, in the minimal configuration (when `WithoutRA=solicit` and `UseAddress=no` are not specified), networkd waits for the router advertisement, and then starts the DHCPv6 client as follows:

| PrefixDelegationHint | Router advertisement flags (M/O)| DHCPv6 client mode, options (IA_NA/IA_PD) |
|-|-|-|
| | none | no |
| not given | M | solicit, IA_NA |
| not given | O | information request |
| not given | M, O| solicit, IA_NA |
| given | M | solicit, IA_NA, IA_PD |
| **given** | **O** | **solicit, IA_PD** |
| given | M, O| solicit, IA_NA, IA_PD |

It seems that only the bolded row differs from current behaviour (which is information request, with invalid IA_PD after the patch).

Sounds nice. Thank you for the suggestion.
Maybe, also when `UseDelegatedPrefix=` is _explicitly_ enabled, the client should be started in managed mode.

Revert is waiting in #34848.

As commented in #34848, we already have `DHCPv6Client=always` in `[IPv6AcceptRA]`. So, please try to use at least now.

sorry for the late response, I was busy the last few weeks.

@alois31 yes, the behavior you described [in your last comment](https://github.com/systemd/systemd/issues/34299#issuecomment-2425188068) is the same as I intended to describe.

> BTW, is it necessary to suppress IA_NA in the highlighted line ?

Yes. I read from [RFC 7084](https://datatracker.ietf.org/doc/html/rfc7084) that the expected behavior of a customer edge router is the one summarized in [this table from @alois31](https://github.com/systemd/systemd/issues/34299#issuecomment-2425188068), including either
- the suppression of `IA_NA` when the M flag is not sent,
- or at least systemd should not fail to apply SLAAC when the `IA_NA` solicit fails.

Quoting the requirements I consider to apply here from [RFC 7084](https://datatracker.ietf.org/doc/html/rfc7084):

> **W-1**  When the router is attached to the WAN interface link, it MUST act as an IPv6 host for the purposes of stateless [[RFC4862](https://datatracker.ietf.org/doc/html/rfc4862)] or stateful [[RFC3315](https://datatracker.ietf.org/doc/html/rfc3315)] interface address assignment.

> **WAA-1**:   The IPv6 CE router MUST support Stateless Address Autoconfiguration (SLAAC) [[RFC4862](https://datatracker.ietf.org/doc/html/rfc4862)].

> **WPD-4**:  By default, the IPv6 CE router MUST initiate DHCPv6 prefix delegation when either the M or O flags are set to 1 in a received Router Advertisement (RA) message.  Behavior of the CE router to use DHCPv6 prefix delegation when the CE router has not received any RA or received an RA with the M and the O bits set to zero is out of scope for this document.

Otherwise, at least without special configuration for that case, systemd is not compatible with upstream/ISP routers using DHCPv6 only for IA_PD and SLAAC otherwise (which I think correctly indicate this by omitting the M flag in favor of the O flag).