networkd: IPv6: Use more information from SLAAC

A router advertisement may contain information about DNS servers. These DNS servers should be added.

A router advertisement also indicates whether a DHCPv6 server is present for address configuration and/or other configuration. The default configuration for the DHCPv6 client should respect this flag and enable dhcpv6 when appropriate.


@pfl care to comment on this?

See https://tools.ietf.org/html/rfc6106 for the DNS extension.


DNS information available with DHCPv6 is supported in v225, but RDNSS ND has not been implemented yet. RDNSS is a feature that should be implemented in the host.

There are some details such as removing DNS information after the RDNSS lifetime expires and signalling that the information has changed for the sd_icmp6_nd object. systemd-networkd should then also keep some DNS servers from all sources according to RFC 6106 section 5.3.1. Also, excess timers should be avoided; there should perhaps be only one timer per expiration time.


Looking at version 231, I see that RDNSS server has been added.

```
# /usr/lib/systemd/systemd --version
systemd 231
+PAM -AUDIT -SELINUX -IMA -APPARMOR +SMACK -SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD +IDN
```

However the DNS Search List option (in RDNSS) as per RFC 6106 is being ignored.
[https://tools.ietf.org/html/rfc6106#page-7](https://tools.ietf.org/html/rfc6106#page-7)

```
]# rdisc6 eth0
Soliciting ff02::2 (ff02::2) on eth0...

Hop limit                 :           64 (      0x40)
Stateful address conf.    :           No
Stateful other conf.      :          Yes
Mobile home agent         :           No
Router preference         :       medium
Neighbor discovery proxy  :           No
...
 Recursive DNS server     : 2001:470:ebbf:0:211:24ff:fee1:dbc8
  DNS server lifetime     :         1200 (0x000004b0) seconds
 DNS search list          : mydowmain.net 
  DNS search list lifetime:         1200 (0x000004b0) seconds
```

But when looking at /etc/resolv.conf -> /run/systemd/resolve/resolv.conf, has the following:

```
# This file is managed by systemd-resolved(8). Do not edit.
#
...
# See systemd-resolved.service(8) for details about the supported modes of
# operation for /etc/resolv.conf.

nameserver 192.168.11.1
nameserver 2001:470:ebbf:0:211:24ff:fee1:dbc8
```

The IPv4 address comes from DHCPv4, the IPv6 address comes from RDNSS. However, as you can see there is no search domain, e.g.

```
search mydomain.net
```


Please open a new ticket to track this.


Opened #4590 
