machinectl saying "Invalid machine name" with underscores

**systemd version the issue has been seen with**
> systemd 241 (241.159-1-manjaro)
+PAM +AUDIT -SELINUX -IMA -APPARMOR +SMACK -SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD +IDN2 -IDN +PCRE2 default-hierarchy=hybrid

<!-- **NOTE:** Do not submit bug reports about anything but the two most recently released systemd versions upstream! -->
<!-- For older version please use distribution trackers (see https://github.com/systemd/systemd/blob/master/docs/CONTRIBUTING.md#filing-issues). -->

**Used distribution**
 > Manjaro

**Expected behaviour you didn't see**
 > machinectl start work_dev

**Unexpected behaviour you saw**
 > Invalid machine name: work_dev

**Steps to reproduce the problem**
1. Create a container in `/var/lib/machines` called `work_dev`.
2. Try to start it with `machinectl start work_dev`.

I don't know if this is related to #3788 or not, but after upgrading from systemd 239 to 241, `machinectl` stopped working with my container.  My container is called `work_dev` and it worked fine up until I upgraded to systemd 241, now it says it's an "invalid machine name" because of the underscore.

So we make the same restrictions on container names as on regular hostnames, and "work_dev" is not considered a valid hostname.

Or in other words, "_" is not not in the ldh character set that DNS suggests for usage ("letters", "digits", "hyphen"). See RFC 1034 Section 3.5. 

This change was introduced in d65652f1f21a4b0c59711320f34266c635393c89 btw.

/cc @keszybz 

We were also bitten by this when test-upgrading a machine to Debian buster/testing - previously working machine names became invalid. We can rename our images and make sure not to have underscores given to `-M` in systemd-nspawn before we upgrade our production hosts, of course, but it's somewhat annoying.

Other issue got closed by user... https://github.com/systemd/systemd/issues/11500#issuecomment-477795589