src/shared/dns-domain.c::dns_label_escape() uses hard-to-decode encoding

### systemd version the issue has been seen with

259.1

### Used distribution

Debian, all

### Linux kernel version used

6.19

### CPU architectures issue was seen on

x86_64

### Component

systemd-resolved

### Expected behaviour you didn't see

Ability for operator or applications to decode labels containing spaces. Hit this whilst adding new findings to issue #29120 

### Unexpected behaviour you saw

Hard-to-decode encoding of labels using an octal prefix but decimal value reported to operator.

### Steps to reproduce the problem

Define a network service with a name that contains spaces. Easiest way is a DNSSD record:
```
$ cat /etc/systemd/dnssd/squid-deb-proxy.dnssd
[Service]
Name=Squid deb proxy on %H systemd
Type=_apt-proxy._tcp
Port=8000
```
On another host do a PTR lookup to get the name (required in order to do a subsequent SRV lookup):
```
$ resolvectl  query --type PTR  _apt-proxy._tcp.local
_apt-proxy._tcp.local IN PTR Squid\032deb\032proxy\032on\032apu2\032systemd._apt-proxy._tcp.local -- link: SUNNY
```
This cannot be decoded using `systemd-escape`  nor regular `printf` decoding because it appears to be octal encoding to `printf`:
```
$ printf "Squid\032deb\032proxy\032on\032apu2\032systemd._apt-proxy._tcp.local\n"
Squiddebproxyonapu2systemd._apt-proxy._tcp.local
```
but if corrected to use octal values can be:
```
$ printf "Squid\040deb\040proxy\040on\040apu2\040systemd._apt-proxy._tcp.local\n"
Squid deb proxy on apu2 systemd._apt-proxy._tcp.local
```

This encoding is performed in `src/shared/dns-domain.c::dns_label_escape()` and decoded in `dns_label_unescape()` and, for non-ASCII characters, in `src/shared/dnsrr-c::format_txt()`  so seems to originally have been intended for internal-only handling.

Further research shows the encoding originates in RFC 1035, section 5.1. This being the case would it be possible to teach `systemd-escape`  to handle `--rfc1035` encoding so `--unescape` can decode such strings, or teach `resolvectl`  to extend `--json` to report correctly decoded labels - but of course neither will help library/dbus queries I think.

Digging deeper, RFC6763 "DNS-Based Service Discovery" section 4.1.1. " Instance Names" states: 
>The <Instance> portion of the Service Instance Name is a user-
   friendly name consisting of arbitrary Net-Unicode text [RFC5198].  It
   MUST NOT contain ASCII control characters (byte values 0x00-0x1F and
   0x7F) [RFC20] but otherwise is allowed to contain any characters,
   without restriction, including spaces, uppercase, lowercase,
   punctuation -- including dots -- accented characters, non-Roman text,
   and anything else that may be represented using Net-Unicode.

RFC5198 "Network Unicode" section 2.3 confirms spaces are allowed.

Further demonstration of how problematic this is; `resolvectl` cannot handle that encoding but it can when the name has real spaces, so one would have to decode the format before passing it back in a scenario such as doing a multicast DNS-SD lookup that requires a PTR then SRV query as I describe in issue #29120 :
```
$ resolvectl --interface SUNNY service Squid\032deb\032proxy\032on\032apu2\032systemd _apt-proxy._tcp local
Resolve call failed: All attempts to contact name servers or networks failed

$ resolvectl --interface SUNNY service 'Squid deb proxy on apu2 systemd' _apt-proxy._tcp local
Squid deb proxy on apu2 systemd/_apt-proxy._tcp/local: apu2.local:8000 [priority=0, weight=0]
                                                       fddc::ff:1 -- link: SUNNY
```