security issue: resolved sometimes keeps AD from upstream response

### systemd version the issue has been seen with

256

### Used distribution

Arch Linux

### Linux kernel version used

6.10.6-arch1-1

### CPU architectures issue was seen on

x86_64

### Component

systemd-resolved

### Expected behaviour you didn't see

systemd-resolved should never trust the AD bit in the response from the upstream server.
(there have been [requests to add a `trust-ad` mode](https://github.com/systemd/systemd/issues/31365), but those are not yet implemented.)

### Unexpected behaviour you saw

when the DO bit is set in the query, systemd-resolved copies the AD bit from the upstream response.

### Steps to reproduce the problem

easiest way is with `DNSSEC=no` and any nameserver that supports DNSSEC (like `1.1.1.1`):

```
dig +do @127.0.0.53 example.com
```

observe `flags: qr rd ra ad` in the response.

### Additional program output to the terminal or log subsystem illustrating the issue

```sh
; <<>> DiG 9.20.1 <<>> +do @127.0.0.53 example.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 32138
;; flags: qr rd ra ad; QUERY: 1, ANSWER: 2, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags: do; udp: 65494
;; QUESTION SECTION:
;example.com.			IN	A

;; ANSWER SECTION:
example.com.		2771	IN	A	93.184.215.14
example.com.		2771	IN	RRSIG	A 13 2 3600 20240907140310 20240817135842 27239 example.com. wtjkdpoYcS2SiGNJY2qzc3cmxIuoXE7TrC9uDt0CBBVzOFJyHPzLIRaj o/mwvfJnt2XLEh6YtfnNu8XONA1HqA==

;; Query time: 3 msec
;; SERVER: 127.0.0.53#53(127.0.0.53) (UDP)
;; WHEN: Sun Aug 25 15:37:38 CEST 2024
;; MSG SIZE  rcvd: 163
```


This notably affects OpenSSH, which can automatically trust hosts if it receives an authenticated `SSHFP` record.
Because of [API restrictions](https://man.openbsd.org/freerrset.3), the DNS query is made with DO set in order to request the signatures.

This flaw allows a network to MITM all SSH connections, and making them appear trusted by MITMing the DNS requests too.

(now that this is acknowledged, I'll register a CVE)

@mildsunrise why does ssh trust the AD bit?

binding security is a bug in ssh, not resolved.

I mean, we certainly should clear the bit, but besides debugging the AD bit is pretty useless.

See rfc3655 section 3 for example:

> A resolver MUST NOT blindly trust the AD bit unless it communicates with a recursive nameserver over a secure transport mechanism or using a message authentication such as TSIG [[RFC2845](https://datatracker.ietf.org/doc/html/rfc2845)] or SIG(0) [[RFC2931](https://datatracker.ietf.org/doc/html/rfc2931)] and is explicitly configured to trust this recursive name server.

So if ssh trusts the bit, it's a bug in ssh.

(to be clear, our stub doesn't implement TSIG, SIG(0), or anything else like that)

Hence, I see no reason for the CVE thing. It's a bug yes, but the garbage security theatre for this is entirely unnecessary.

I'm unable to see what ssh is doing wrong here. Your very quote talks about a responsibility of the resolver, not the final application that is calling this resolver.

The resolver in this case is [libc's stub resolver](https://linux.die.net/man/3/res_query), which ssh [calls](https://github.com/openssh/openssh-portable/blob/aee54878255d71bf93aa6e91bbd4eb1825c0d1b9/dns.c#L223-L233) to fetch and validate the SSHFP records. glibc's resolver complies with your quote, because it [clears the AD bit](https://github.com/bminor/glibc/blob/f071795d80255755c4f3d2bdc6c55e67753b52b9/resolv/res_send.c#L242-L249) unless it is [explicitly told it can trust both the nameserver and the transport channel](https://man.archlinux.org/man/resolv.conf.5#trust). [OpenBSD's libc resolver does the same](https://github.com/openbsd/src/blob/79df796aa56bac539193abb13a2c1aa13bbeac5c/lib/libc/asr/res_send_async.c#L262-L263).

If systemd-resolved is used, then resolved will configure itself as the target resolver that libc's resolver should query, by pointing libc at `127.0.0.53`. When it does that, [systemd-resolved explicitly tells libc to trust it to correctly authenticate data](https://github.com/systemd/systemd/pull/16072), through the mechanism mentioned above.

This means the responsibility to authenticate data ultimately falls on systemd-resolved. Unless DNSSEC is active, systemd-resolved should never return authenticated data. And that's what it does (just not for bypass packets apparently).

> Because of [API restrictions](https://man.openbsd.org/freerrset.3), the DNS query is made with DO set in order to request the signatures.

It seems a little unusual to set the DO bit then not actually do validation, but not out-of-line. However, I don't understand how the api apparently requires this behavior. It seems like ssh should just not set DO bit if it's not going to do any validation anyway.

FWIW, at least with glibc, trust-ad sets the AD bit in the query as recommended in [RFC6840 § 5.7](https://www.rfc-editor.org/rfc/rfc6840.html#section-5.7), and this is enough to signal interest in the AD bit to the resolver, which may or may not be validating. sd-resolved doesn't care about this either way, it just reports AD whenever the reply is considered to be authentic (minus this bug ofc), and does validation only when configured to do so by the user.

> It seems a little unusual to set the DO bit then not actually do validation, but not out-of-line. However, I don't understand how the api apparently requires this behavior.

agreed. getrrsetbyname is a non-portable BSD API, so I wouldn't give it much thought, but probably whoever designed it did not fully understand DNSSEC at the time (judging by the incorrect statement in the CAVEATS section, too). either way that's not a bug, just an odd decision.

> FWIW, at least with glibc, trust-ad sets the AD bit in the query as recommended in RFC6840 § 5.7

what `trust-ad` controls is whether the AD bit is trusted in responses. its effect on queries is more of an optimization than anything else; there's no point in signalling interest in AD if you're going to ignore it anyway.

> sd-resolved doesn't care about this either way, it just reports AD whenever the reply is considered to be authentic

true, and I'd say this goes against RFC6840 too? maybe I'm misremembering but I think it recommended servers to only set AD in response to AD queries. in any case it's a very minor bug, i don't think it warrants fixing

> It seems like ssh should just not set DO bit if it's not going to do any validation anyway.

that would be ideal, but the API doesn't allow for it. openssh could've used `res_query` directly but then they'd have to parse the DNS message themselves, so it's understandable they went for `getrrsetname`.

hence, I argue that neither openssh nor glibc are to blame here. if resolved is explicitly telling processes to trust its validation, then it is a security issue for it to present data as authentic when it is not.

> sd-resolved doesn't care about this

@rpigott if it didn't care about that it wouldn't add `trust-ad`. @mildsunrise already pointed to https://github.com/systemd/systemd/pull/16072 (where resolved itself started adding `trust-ad` in its stub mode). If resolved didn't do that it wouldn't be an issue but `resolved` does that. In its "uplink" mode resolved doesn't add `trust-ad` so it isn't an issue in that case.

>  I think it recommended servers to only set AD in response to AD queries.

I'm quite certain there is no such recommendation. It would be pretty much impossible considering that the AD bit was defined for replies for many many years before it was defined for queries an any RFC. I think the sd-resolved behavior is very reasonable here (minus this bug again, ofc).

> >It seems like ssh should just not set DO bit if it's not going to do any validation anyway.

> that would be ideal, but the API doesn't allow for it.

You mean that `getrrsetbyname` unconditionally sets the DO bit on BSD? Couldn't it just... not do that? DO and AD are not directly related — if it wants the AD bit in the reply it should set the AD bit in the query. Setting the DO bit does nothing but waste bandwidth if it doesn't do any validation nor pass the dnssec RRs to the application. You seem to be saying that it is an unfortunate but uncorrectable api decision, but afaict (and I'm not familiar with BSD), it can and should be changed now to implement the correct behavior with no api breakage and probably no observable difference in behavior to the application.

> @rpigott if it didn't care about that it wouldn't add trust-ad.

I already agreed this is/was a bug in sd-resolved. I believe it is resolved by #34129. I don't care about any security / CVE status; it's not my concern. I'm just clarifying that when sd-resolved does validation (and by extension sets AD in the reply) does not depend on the AD bit in the query.

> I'm quite certain there is no such recommendation.

section 5.8:

> In order to interoperate with legacy stub resolvers and middleboxes that neither understand nor ignore the AD bit, validating resolvers SHOULD only set the AD bit when a response both meets the conditions listed in Section 3.2.3 of [RFC4035], and the request contained either a set DO bit or a set AD bit.

>  would be pretty much impossible considering that the AD bit was defined for replies for many many years before it was defined for queries an any RFC.

my exact reaction when I first learnt about it ^^'

what's more, all 3 versions of DNSSEC say the AD bit should always be 0 for queries. imagine my surprise when I saw RFC6840 basically recommends the opposite.

> I think the sd-resolved behavior is very reasonable here (minus this bug again, ofc).

same

> You mean that getrrsetbyname unconditionally sets the DO bit on BSD?

[yes](https://github.com/openssh/openssh-portable/blob/10ccf611ab8ecba9ce6b0548c5ccd8c1220baf92/openbsd-compat/getrrsetbyname.c#L236)

> Couldn't it just... not do that?

no. the API is defined as returning the full RRset along with its signatures. there's a specific field for the signatures. there's no flag to request or omit the signatures, so this is the logical interpretation.

> section 5.8:

Oh wow. On a second look, sd-resolved actually does follow this recommendation to unset AD when neither DO nor AD is set in the query; color me surprised.

> no. the API is defined as returning the full RRset along with its signatures.

Ah, I see.

for the record, I believe the bulk of the impact was introduced in  https://github.com/systemd/systemd/commit/9c47b334445a2560a56def4f77e2c1fe1f7c965d... the initial implementation would only enable bypass logic for DO+CD queries, and it'd be very strange for an app to check AD of a CD response.

it was fixed in https://github.com/systemd/systemd/commit/3a2be652282db2d55d5e28546e6c9a594fb8c43e, so only versions v256-rc1 to v256.5 were vulnerable