Wrong comment in src/resolve/resolved-mdns.c

https://github.com/systemd/systemd/blob/32a2ee2bb4fa265577c883403748c909cd6784dd/src/resolve/resolved-mdns.c#L521

For mDNS is RFC 6762, section 11.