IPv6 Compliance RFC4862: Prefix-Information Option Processing, Lifetime (Hosts Only) [v6LC.3.2.5 Part C]

### systemd version the issue has been seen with

255

### Used distribution

Ubuntu 23

### Linux kernel version used

6.5.0-17-generic

### CPU architectures issue was seen on

x86_64

### Component

systemd-networkd

### Expected behaviour you didn't see

#### Test v6LC.3.2.5: Prefix-Information Option Processing, Lifetime (Hosts Only) (Part C: Lifetime < remaining && lifetime < 2h)
**Purpose**: Verify that a host properly processes the Prefix Information Option in the Router Advertisement.
**Reference**: RFC4862 – Section 5.5.3

#### Network Configuration
```
       TR1
        |
    +---+---+
        |
       HUT
```

#### Procedure
| Step | Action | Expected Behavior of HUT<sup>(1)</sup> |
|--------|--------|--------|
| 1 | TR1 sends `RA Liftetime=60s Prefix="Global X"`. | |
| 2 | TR1 sends `RA Prefix="TR1 Global Prefix" Lifetime=30s` | |
| 3 | Wait 35s. | |
| 4 | TR1 sends NS "who owns HUT's GA". | The HUT must send a solicited NA for its autoconfigured GA, "X". |
* **(1)** - Host Under Test



### Unexpected behaviour you saw

In Step 4, the HUT does not respond to TR1's NS.


### Steps to reproduce the problem

[v6LC_3_2_05c.zip](https://github.com/systemd/systemd/files/14381348/v6LC_3_2_05c.zip)


### Additional program output to the terminal or log subsystem illustrating the issue

```sh
enp0s9: Link UP
enp0s9: Received new foreign route (configured): dst: ff00::/8, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 256, proto: kernel, scope: global, type: multicast, flags: n/a
enp0s9: Received new foreign route (configured): dst: fe80::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 256, proto: kernel, scope: global, type: unicast, flags: n/a
enp0s9: Flags change: +LOWER_UP +RUNNING
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=24 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Gained carrier
enp0s9: found matching network '/etc/systemd/network/10-enp0s9.network'.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: link_check_ready(): IPv6LL is not configured yet.
enp0s9: Received new foreign address (configured): fe80::a00:27ff:fe1a:432/64 (valid forever, preferred forever), flags: permanent, scope: link
enp0s9: Gained IPv6LL
enp0s9: Discovering IPv6 routers
enp0s9: NDISC: Started IPv6 Router Solicitation client
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=25 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: Received new foreign route (configured): dst: fe80::a00:27ff:fe1a:432/128, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 0, proto: kernel, scope: global, type: local, flags: n/a
enp0s9: NDISC: Sent Router Solicitation, next solicitation in 4s
enp0s9: NDISC: Received Router Advertisement: flags none preference medium lifetime 1min
enp0s9: NDISC: Invoking callback for 'router' event.
enp0s9: Requesting NDisc route (n/a): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
Setting '/proc/sys/net/ipv6/icmp/ratelimit' to '1000'
No change in value '1000', suppressing write
Setting '/proc/sys/net/ipv6/neigh/enp0s9/base_reachable_time_ms' to '600000'
No change in value '600000', suppressing write
Setting '/proc/sys/net/ipv6/neigh/enp0s9/retrans_time_ms' to '1000'
No change in value '1000', suppressing write
Setting '/proc/sys/net/ipv6/conf/enp0s9/hop_limit' to '64'
No change in value '64', suppressing write
enp0s9: Requesting NDisc route (n/a): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Requesting NDisc address (n/a): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 59s, preferred for 59s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Setting SLAAC addresses and router.
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: Configuring NDisc route (requesting): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Configuring NDisc route (requesting): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Configuring NDisc address (requesting): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 59s, preferred for 59s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Received new NDisc route (configured): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: ndisc_check_ready(): SLAAC addresses and routes are not set.
enp0s9: Received new NDisc route (configured): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: ndisc_check_ready(): SLAAC addresses and routes are not set.
enp0s9: Received new NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 59s, preferred for 59s), flags: tentative,manage-temporary-address,no-prefixroute, scope: global
enp0s9: link_check_ready(): dynamic addressing protocols are enabled but none of them finished yet.
enp0s9: ndisc_check_ready(): no SLAAC address is ready.
enp0s9: Received updated NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 58s, preferred for 58s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: SLAAC addresses and routes set.
enp0s9: link_check_ready(): IPv4LL:no DHCPv4:no DHCPv6:no DHCP-PD:no NDisc:yes
enp0s9: State changed: configuring -> configured
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=26 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=27 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=28 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Received new foreign route (configured): dst: 2001:2:0:1000:a00:27ff:fe1a:432/128, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 0, proto: kernel, scope: global, type: local, flags: n/a
enp0s9: NDISC: Received Router Advertisement: flags none preference medium lifetime 1min
enp0s9: NDISC: Invoking callback for 'router' event.
enp0s9: Found an existing route that conflicts with new route based on a received RA, removing.
enp0s9: Removing NDisc route (configured): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Requesting NDisc route (configured,removing): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
Setting '/proc/sys/net/ipv6/icmp/ratelimit' to '1000'
No change in value '1000', suppressing write
Setting '/proc/sys/net/ipv6/neigh/enp0s9/base_reachable_time_ms' to '600000'
No change in value '600000', suppressing write
Setting '/proc/sys/net/ipv6/neigh/enp0s9/retrans_time_ms' to '1000'
No change in value '1000', suppressing write
Setting '/proc/sys/net/ipv6/conf/enp0s9/hop_limit' to '64'
No change in value '64', suppressing write
enp0s9: Found an existing route that conflicts with new route based on a received RA, removing.
enp0s9: Removing NDisc route (configured): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Requesting NDisc route (configured,removing): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Requesting NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 29s, preferred for 29s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Setting SLAAC addresses and router.
enp0s9: Configuring NDisc route (requesting,configured,removing): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Configuring NDisc route (requesting,configured,removing): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Configuring NDisc address (requesting,configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 29s, preferred for 29s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: Forgetting removed NDisc route (configuring): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Forgetting removed NDisc route (configuring): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Received new NDisc route (configured): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: ndisc_check_ready(): SLAAC addresses and routes are not set.
enp0s9: Received new NDisc route (configured): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: ndisc_check_ready(): SLAAC addresses and routes are not set.
enp0s9: Received updated NDisc address (configured): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 29s, preferred for 29s), flags: manage-temporary-address,no-prefixroute, scope: global
enp0s9: SLAAC addresses and routes set.
enp0s9: NDISC: No RA received before link confirmation timeout
enp0s9: NDISC: Invoking callback for 'timeout' event.
enp0s9: NDisc handler get timeout event
enp0s9: Forgetting removed NDisc address (n/a): 2001:2:0:1000:a00:27ff:fe1a:432/64 (valid for 0, preferred for 0), flags: manage-temporary-address,no-prefixroute, scope: global
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_34 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=29 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=30 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
enp0s9: Forgetting removed foreign route (n/a): dst: 2001:2:0:1000:a00:27ff:fe1a:432/128, src: n/a, gw: n/a, prefsrc: n/a, table: local(255), priority: 0, proto: kernel, scope: global, type: local, flags: n/a
enp0s9: Removing NDisc route (configured): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Forgetting removed NDisc route (n/a): dst: 2001:2:0:1000::/64, src: n/a, gw: n/a, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Removing NDisc route (configured): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
enp0s9: Forgetting removed NDisc route (n/a): dst: n/a, src: n/a, gw: fe80::200:10ff:fe10:1060, prefsrc: n/a, table: main(254), priority: 1024, proto: ra, scope: global, type: unicast, flags: n/a
```


I guess, this is intended, https://datatracker.ietf.org/doc/html/draft-ietf-6man-slaac-renum-07#section-4.2.

Nice find. I'll chase this up with the IPv6 Logo Comittee. They may be willing to grant an exception.

**Update:** I have asked the IPv6 Logo Committee for their ruling on this.  They are checking with the authors as to their plans.  Also, note that the draft-7 has expired.

@yuwata. I have confirmation that an exception can not be granted, as long as the draft is expired.  Which makes sense.  Furthermore, the authors of that draft are unresponsive and nor has this draft been added to the upcoming IETF-119, scheduled for the week of March 18th.

In short, this willl have to be resolved in `networkd`.

@LiveFreeAndRoam Thanks. I will revert the change based on the draft.

This still fails using:

```
$ git log -n 1
commit 59b72d6f47160c74a1d7f44bc3e2373b4e14dd58 (HEAD -> network-next, origin/network-next)
```

The failure to respond to a NS is also blocking 3.2.5.d. I won't raise a defect against that until after this one is resolved.

I re-read [RFC 4862 section 5.5.3](https://datatracker.ietf.org/doc/html/rfc4862#section-5.5.3), but the definition of 'RemainingLifetime' is unclear for me...

But, I tried to implement what the RFC states. Please test the network-next branch.

Ouch...

@LiveFreeAndRoam Should be fixed now.

Relevant commits are now also in #32215.

And... it passes! Thank you @yuwata.

This now allows me to run a related test 3.2.5d.  That test takes over 2h to run, so will report my findings later tonight or tomorrow.

I tested with:

```
$ git log -n 1
commit 96158c557d85d9023d2fae42b0512dd57fa721c6 (HEAD -> network-next, origin/network-next)
```
[v6LC_3_2_05c-networkd-pass.zip](https://github.com/systemd/systemd/files/14942629/v6LC_3_2_05c-networkd-pass.zip)


NOTE: This fix introduced another issue: https://github.com/systemd/systemd/issues/32652.  Please see that issue for more details.