systemd container dns break

### Submission type
- [x] Bug report
- [ ] Request for enhancement (RFE)

_NOTE: Do not submit anything other than bug reports or RFEs via the issue tracker!_
### systemd version the issue has been seen with

> 230-5
### Used distribution

> Arch
### In case of bug report: Expected behaviour you didn't see

In 230-4 I my system (networkd, resolved) would start containers and they would be able to fully use internet. As of 230-5 I can only ping IP, I cannot ping by name. Which makes me assume that networkd/resolved might be the culprit. I could have my system config wrong, so see the last section for exactly how I set the system up.

```
[root@lio agd]# machinectl shell dma
Connected to machine dma. Press ^] three times within 1s to exit session.
[root@dma ~]# ping 8.8.8.8
PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.
64 bytes from 8.8.8.8: icmp_seq=1 ttl=48 time=10.9 ms
--- 8.8.8.8 ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 10.955/10.955/10.955/0.000 ms
[root@dma ~]# ping www.google.com
PING www.google.com (172.217.4.100) 56(84) bytes of data.
64 bytes from ord36s04-in-f4.1e100.net (172.217.4.100): icmp_seq=1 ttl=57 time=23.2 ms
64 bytes from ord36s04-in-f4.1e100.net (172.217.4.100): icmp_seq=2 ttl=57 time=23.2 ms
--- www.google.com ping statistics ---
2 packets transmitted, 2 received, 0% packet loss, time 1001ms
rtt min/avg/max/mdev = 23.202/23.237/23.272/0.035 ms
```
### In case of bug report: Unexpected behaviour you saw

```
[root@lio agd]# machinectl shell dma
Connected to machine dma. Press ^] three times within 1s to exit session.
[root@dma ~]# ping 8.8.8.8
PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.
64 bytes from 8.8.8.8: icmp_seq=1 ttl=48 time=10.9 ms
--- 8.8.8.8 ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 10.955/10.955/10.955/0.000 ms
[root@dma ~]# ping www.google.com
ping: www.google.com: Name or service not known
```
### In case of bug report: Steps to reproduce the problem

Install arch, then reboot and set up the core system.

```
vim /etc/systemd/network/wired.network

---
[match]
Name=ens3

[Network]
DHCP=ipv4
```

```
vim /etc/systemd/resolved.conf

---
[Resolve]
DNS=8.8.8.8 8.8.4.4
```

then enable networkd and resolved

```
systemctl enable systemd-networkd.service
systemctl enable systemd-resolved.service
```

```
rm -f /etc/resolv.conf
ln -s /run/systemd/resolve/resolv.conf /etc/resolv.conf
```

Container networking

```
systemctl edit systemd-nspawn@.service

---
[Service]
ExecStart=
ExecStart=/usr/bin/systemd-nspawn --quiet --keep-unit --boot --link-journal=try-guest --machine=%I
```

Create a container

```
cd /var/lib/machines
mkdir dma
pacstrap -c -d dma/ base vim bash-completion
machinectl start dma
machinectl shell dma
# set the root passwd
exit
machinectl poweroff dma
systemctl enable systemd-nspawn@dma.service
systemctl start systemd-nspawn@dma.service
machinectl shell dma
# start doing things that require DNS, like using pacman
```


I guess the meta question here is... is what I'm doing to get container networking to work the 'golden path' of systemd-nspawn?

Someone suggested that I should run resolved inside the container itself, I've not had to do this on any of the _many_ containers I'm running across _many_ Arch instances... however if I start resolved from within the container I am able to get name resolution.


so, let me get this straight: you want to share the network configuration with the host (i.e. dropped the --private-network switch from the nspawn cmdline)?

inside of your container, what does /etc/resolv.conf contain? what does /etc/nsswitch.conf contain? do you run resolved inside of the container?

resolved inside the container is only really necesary if you use full networking towards the container, and hence something must pull the DNS server info from networkd and write it to /etc/resolv.conf, and that's usually resolved. However, as you turned off private networking this doesn't apply to you and you don't need resolved inside the container. But in that case you do need a properly set up /etc/resolv.conf configured in the container. nspawn will copy this automatically, but this won't work if /etc is read-only or so. nspawn also copies it only at the time you start your container, and not update it later on, which -- depending on your network setup -- might be race if you start things at boot...

(btw, instead of using drop-ins to change the nspawn unit file, consider using .nspawn files, which make this much nicer, and allow you to use the normal unit files but still alter things such as the network config)


Per this part of your statement

> nspawn will copy this automatically, but this won't work if /etc is read-only or so. nspawn also copies it only at the time you start your container, and not update it later on, which -- depending on your network setup -- might be race if you start things at boot...

In this setup (working with @storrgie) - we meet the requirements you state previously but the resolv.conf in the containers is missing (sometimes). I understand the situation in which this would be a race condition BUT if I stop and then start the container when the host is up and the host's resolv.conf is definitely valid, will that not cause a new resolv.conf to get into the containers? I'm not unwilling to enable resolved in the container but per previous comment in sounds like we shouldn't have to.


> BUT if I stop and then start the container when the host is up and the host's resolv.conf is definitely valid, will that not cause a new resolv.conf to get into the containers?

Yes, the file is copied automatically each time a container is started (at least if its /etc is actually writable).


So, what is this bug about now? Are you saying that nspawn sometimes doesn't copy /etc/resolv.conf from host into the container even though you do not use --private-network (or any related network ns switch) and even though /etc in the container is writable?

if so, if you turn on debug logging in nspawn by setting SYSTEMD_LOG_LEVEL=debug for it, when invoking it, do you see more information about this?

Maybe you are simply running into a boot-time race? i.e. start your container at boot before /etc/resolv.conf gets updated fully?


I guess I just had this exact problem with systemd 231 (and 230 before, althoug I didn't debug it then and just rolled back). Name resolution seemed horribly broken in one nspawn container, while other containers worked fine. `ping 8.8.8.8` worked fine while `ping www.google.com` didn't, although `host` from bind9 could resolve hosts. I was unable to login to the container via ssh. 

Turns out, this one container had `libnss-myhostname` installed while the other containers didn't. After logging in using machinectl and removing libnss-myhostname everything instantly started working normally. 

Edit: Tested with Debian 8 containers (w/ systemd 230 from backports) and Debian 8 / Systemd 230 and CoreOS / Systemd 231 hosts.

Edit2: Seems to be a user error, I had Jessie's libnss-myhostname 0.3-9 installed while using systemd 230 from backports. I upgraded libnss-myhostname to 230 from backports and it works. 
I'm not sure if Debian's dependencies can/should prevent this situation, but it's not a Systemd problem. 


Might be a red herring, we're seeing the issue on arch stable machines/containers. The only quick 'fix' we've employed is to ensure that the container also has `systemd-resolved.service` enabled/started.

```
[root@murmur ~]# systemctl --version
systemd 231
+PAM -AUDIT -SELINUX -IMA -APPARMOR +SMACK -SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD +IDN
[root@murmur ~]# pacman -Ss systemd
core/libsystemd 231-4 [installed]
    systemd client libraries
core/netctl 1.12-2 (base) [installed]
    Profile based systemd network management
core/systemd 231-4 [installed]
    system and service manager
```


@poettering you're previous statement about a potential race condition at boot doesn't seem likely, per @enckse response above we're seeing the same event occur if we poweroff then start the containers long after boot. The only thing we've seen to solve this is manually enabling `systemd-resolved.service` inside the container.


Upon experiencing this today, I set SYSTEMD_LOG_LEVEL=debug and didn't see any more useful information on this in the debug output as it is happening across various hosts/containers

For me, it doesn't copy the file, but systemd-nspawn creates a new file with "nameserver 127.0.0.53" set as the nameserver. Half of the things only work with that, which is even more strange. E.g. i can resolve clamav.net, but not database.clamav.net. outside the container, no problem.

Running systemd-resolved also fixes this, but I don't want this dependancy inside the container if not needed.

For now, I'll try to make /etc/resolv.conf a bind mount which means my resolv.conf is always up to date I guess. I would have expected systemd to do this automatically however maybe?

P.S. systemd-232 on debian stretch.

^ I'm seeing the same behavior

+1 on this

I'm not 100% sure if I'm experience the same problem, but I'm also having trouble with name resolution inside containers started with `systemd-nspawn`. I'm only having trouble resolving names that have a CNAME record though (like `mirror.nl.leaseweb.net` or `database.clamav.net`).

On the host I'm using `systemd-resolved` with`/etc/resolv.conf` symlinked to `/usr/lib/systemd/resolve.conf`, and `nss-resolve` in `/etc/nsswitch.conf`.

Inside the container, both `host` and `nslookup` can resolve `mirror.nl.leaseweb.net`, but they ignore `/etc/nsswitch.conf`. They don't use the libc facilities, instead they speak DNS directly.

`systemd-resolve`and `getent hosts <hostname>` both fail to find an IP address. `systemd-resolve` can't connect to the dbus interface, which makes sense. The question is why `getent hosts` fails, since it should fall back to `nss-dns` when `nss-resolve` can't contact `systemd-resolved`.

Looking at a strace of a simple program calling `getaddrinfo`, the fallback to `nss-dns` seems to work, but when a CNAME record is received it does not attempt to resolve the CNAME. Instead it returns `EAI_NONAME`. This also happens when removing `nss-resolve` from `/etc/nsswitch.conf` and using `nss-dns` directly. So it's not an issue in `nss-resolve`.

It looks like `nss-dns` expects the DNS server to resolve the CNAME and include an A and/or AAAA record for the CNAME. I'm not sure if this is documented in an RFC somewhere, but if systemd wants to support this behaviour it has to be implemented in `systemd-resolved`.








Judging from [RFC 1034 section 3.6.2](https://tools.ietf.org/html/rfc1034#section-3.6.2), it is the responsibility of the nameserver to resolve the CNAME. So it seems `nss-dns` is not misbehaving.

To further illustrate what is happening, I looked at the responses from the authoriative nameserver for `leaseweb.net` and the local systemd-resolved. The authorative nameserver returns both the CNAME and A/AAAA records, while systemd-resolved only returns the CNAME. So it looks like its even stripping the A/AAAA records from the response of the upstream server.

The query to systemd-resolved:
```
$ dig mirror.nl.leaseweb.net @127.0.0.53 A 
; <<>> DiG 9.11.0-P3 <<>> mirror.nl.leaseweb.net @127.0.0.53 A
;; QUESTION SECTION:
;mirror.nl.leaseweb.net.		IN	A

;; ANSWER SECTION:
mirror.nl.leaseweb.net.	1093	IN	CNAME	mirror.ams1.nl.leaseweb.net.
```

And to the authoritative nameserver:
```
$ dig mirror.nl.leaseweb.net @ns1.leaseweb.nl A
; <<>> DiG 9.11.0-P3 <<>> mirror.nl.leaseweb.net @ns1.leaseweb.nl A
;; QUESTION SECTION:
;mirror.nl.leaseweb.net.		IN	A

;; ANSWER SECTION:
mirror.nl.leaseweb.net.	3600	IN	CNAME	mirror.ams1.nl.leaseweb.net.
mirror.ams1.nl.leaseweb.net. 3600 IN	A	5.79.108.33
```

edit: Acutally, section [RFC 1024 section 4.3.1](https://tools.ietf.org/html/rfc1034#section-4.3.1) seems more relevant, but leads to the same conclusion for recursive dns servers. `systemd-resolved` does advertise the `RA` (recursion available) bit in its replies.

Testing with the latest version from git, the problem is already gone. Looks like this was the same issue as #3826 and is fixed by #5276.

Yeah, seems to be fixed:
```
test@rawhide$ dig mirror.nl.leaseweb.net 
;; ANSWER SECTION:
mirror.nl.leaseweb.net.	3238	IN	CNAME	mirror.ams1.nl.leaseweb.net.
mirror.ams1.nl.leaseweb.net. 3238 IN	A	5.79.108.33

test@rawhide$ rpm -q systemd
systemd-233-2.fc26.x86_64
```

it seems to fail/go wrong, if the rootfs contains 'any' /etc/resolv.conf (-rw-r--r-- 1 root root 576 Jan  6  2017 /etc/resolv.conf) deleting that file and starting the container again make the 'copy' atleast work.

WITH the file, i get the even stranger behaviour where I get just the 127.0.0.53 entry, that doesn't work. This on systemd-232. @keszybz is it truly entirely fixed? or just some symptoms?


I am now running systemd on the host version 233 (gentoo) and the container is 232 (debian stretch).
Still non-functioning 127.0.0.53 nameserver unfortunatly.

with systemd 234 on the host (debian stretch-backports for systemd) and the older on the client it works.