networkd ndisc: Bug can be used for a denial-of-service attack 

### Submission type

  - [x] Bug report
  - [ ] Request for enhancement (RFE)

*NOTE: Do not submit anything other than bug reports or RFEs via the issue tracker!*

### systemd version the issue has been seen with

> current master

*NOTE: Do not submit bug reports about anything but the two most recently released systemd versions upstream!*

### Used distribution

> Arch Linux arm

Only one specific Router Advertisement message is needed to basically kill the network connections of all systems in a network running systemd-networkd with ipv6.
It is pretty much the attack stated in RFC862 section 5.5.3.e
See my comments in #5636 for details.
