DHCPv6 client miscalculates time until address expires

**systemd version the issue has been seen with**
242

**Used distribution**
Debian (systemd package from experimental)

**Expected behaviour you didn't see**
After all DHCPv6 servers (dnsmasq) on a network are restarted the DHCPv6 client is unable to RENEW or REBIND it's assigned address. After the address expires (or shortly before) it should restart the DHCPv6 negotiation process with a SOLICIT message to get a new address assignment.

**Unexpected behaviour you saw**
The restart of the DHCPv6 negotiation is delayed by up to 1/10th of the total lease time. If the lease time is 24h this can result in more than 2h without a valid lease.

**Bug analysis**
Each time a DHCPv6 address is aquired or renewed the server sends two time intervals T1 and T2. At T1 the client should RENEW the lease and at T2 the client should REBIND. The systemd-networkd client modifies the timeouts received by the server by a random value of +-10%.

If the DHCP servers are all restarted the RENEW and REBIND attempts both fail, because the servers lost their lease information. If timeout T2 is reached, the systemd-networkd client calculates the maximum retransmission duration as lease_lifetime - T2 (where T2 is the value initially received by the server). This calculation assumes that T2 was not modified by a random value (which is wrong). The actual retransmission timeout chosen is the time until the lease actually expires modified by the random modifier applied by the client. If the random modifier is positive the client does not abort the REBIND phase for a maximum of 10% of T2. This leads to a period where the server does not have a valid IPv6 lease. After the maximum retransmission timeout is reached the client correctly restarts the DHCPv6 negotiation with a SOLICIT message.

According to RFC3315 Section 22.4 (Page 73) [1] the DHCPv6 client should not randomize the T1 and T2 values received by the server:
>   In a message sent by a client to a server, values in the T1 and T2
>   fields indicate the client's preference for those parameters.  The
>   client sets T1 and T2 to 0 if it has no preference for those values.
>   In a message sent by a server to a client, the client MUST use the
>   values in the T1 and T2 fields for the T1 and T2 parameters, unless
>   those values in those fields are 0.  The values in the T1 and T2
>   fields are the number of seconds until T1 and T2.

[1] https://tools.ietf.org/html/rfc3315#section-22.4

***Log messages***
```
# Intial DHCP request
May 13 12:20:57 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Sent SOLICIT
May 13 12:20:57 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Next retransmission in 1s
May 13 12:20:57 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: T1 expires in 5min 2s
May 13 12:20:57 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: T2 expires in 9min 31s
May 13 12:20:57 systemd-dhcpv6-debian systemd-networkd[731]: eth0: DHCPv6 address 2a06:c01:1:1903::7b0e:14/128 timeout preferred 600 valid 600
May 13 12:20:57 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Recv REPLY
May 13 12:20:57 systemd-dhcpv6-debian systemd-networkd[731]: eth0: Updating address: 2a06:c01:1:1903::7b0e:14/128 (valid for 10min)

# T2 expires (max retransmission duration is wrong, it's calculated without considering the modified T2)
May 13 12:30:31 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Timeout T2
May 13 12:30:31 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Sent REBIND
May 13 12:30:31 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Next retransmission in 10s
May 13 12:30:31 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Max retransmission duration 75 secs

# Lease expires
May 13 12:30:58 systemd-dhcpv6-debian systemd-networkd[731]: eth0: Removing address: 2a06:c01:1:1903::7b0e:14/128 (valid for 0)

# DHCP renegotiation starts with SOLICIT (the lease lost message is wrong, it was lost 50s ago!)
May 13 12:31:47 systemd-dhcpv6-debian systemd-networkd[731]: eth0: DHCPv6 lease lost
May 13 12:31:47 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Sent SOLICIT
May 13 12:31:47 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Next retransmission in 1s
May 13 12:31:47 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: T1 expires in 4min 51s
May 13 12:31:47 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: T2 expires in 8min 46s
May 13 12:31:47 systemd-dhcpv6-debian systemd-networkd[731]: eth0: DHCPv6 address 2a06:c01:1:1903::7b0e:14/128 timeout preferred 600 valid 600
May 13 12:31:47 systemd-dhcpv6-debian systemd-networkd[731]: DHCPv6 CLIENT: Recv REPLY
May 13 12:31:47 systemd-dhcpv6-debian systemd-networkd[731]: eth0: Updating address: 2a06:c01:1:1903::7b0e:14/128 (valid for 10min)
```

***Relevant code excerpts***
Each time a new lease is BOUND a timer for T2 is set with the mentioned random modifier.

src/libsystemd-network/sd-dhcp6-client.c:
```
 655 static usec_t client_timeout_compute_random(usec_t val) {
 656         return val - val / 10 +
 657                 (random_u32() % (2 * USEC_PER_SEC)) * val / 10 / USEC_PER_SEC;
 658 }
[...]
1335                 timeout = client_timeout_compute_random(lifetime_t2 * USEC_PER_SEC);
1336 
1337                 log_dhcp6_client(client, "T2 expires in %s",
1338                                  format_timespan(time_string, FORMAT_TIMESPAN_MAX, timeout, USEC_PER_SEC));
1339 
1340                 r = event_reset_time(client->event, &client->timeout_t2,
1341                                      clock_boottime_or_monotonic(),
1342                                      time_now + timeout, 10 * USEC_PER_SEC,
1343                                      client_timeout_t2, client,
1344                                      client->event_priority, "dhcp6-t2-timeout", true);
```
If the timeout is reached the client is set to state DHCP6_STATE_REBIND and max_retransmission_duration is calculated (this is where things go wrong) and used for a second timer.

src/libsystemd-network/sd-dhcp6-client.c:
```
 711         case DHCP6_STATE_REBIND:
 712                 init_retransmit_time = DHCP6_REB_TIMEOUT;
 713                 max_retransmit_time = DHCP6_REB_MAX_RT;
 714 
 715                 if (event_source_is_enabled(client->timeout_resend_expire) <= 0) {
 716                         r = dhcp6_lease_ia_rebind_expire(&client->lease->ia,
 717                                                          &expire);
 718                         if (r < 0) {
 719                                 client_stop(client, r);
 720                                 return 0;
 721                         }
 722                         max_retransmit_duration = expire * USEC_PER_SEC;
 723                 }
 724 
 725                 break;

[...]
 772         if (max_retransmit_duration && event_source_is_enabled(client->timeout_resend_expire) <= 0) {
 773 
 774                 log_dhcp6_client(client, "Max retransmission duration %"PRIu64" secs",
 775                                  max_retransmit_duration / USEC_PER_SEC);
 776 
 777                 r = event_reset_time(client->event, &client->timeout_resend_expire,
 778                                      clock_boottime_or_monotonic(),
 779                                      time_now + max_retransmit_duration, USEC_PER_SEC,
 780                                      client_timeout_resend_expire, client,
 781                                      client->event_priority, "dhcp6-resend-expire-timer", true);
 782                 if (r < 0)
 783                         goto error;
 784         }

```

src/libsystemd-network/sd-dhcp6-lease.c:
```
 14 int dhcp6_lease_ia_rebind_expire(const DHCP6IA *ia, uint32_t *expire) {
 15         DHCP6Address *addr;
 16         uint32_t valid = 0, t;
 17 
 18         assert_return(ia, -EINVAL);
 19         assert_return(expire, -EINVAL);
 20 
 21         LIST_FOREACH(addresses, addr, ia->addresses) {
 22                 t = be32toh(addr->iaaddr.lifetime_valid);
 23                 if (valid < t)
 24                         valid = t;
 25         }
 26 
 27         t = be32toh(ia->ia_na.lifetime_t2);
 28         if (t > valid)
 29                 return -EINVAL;
 30 
 31         *expire = valid - t;
 32 
 33         return 0;
 34 }
```

I've opend PR #14699. If possible, please test or comment on that.