systemd-resolved does not prefer IPv6 DNS servers when available

**systemd version the issue has been seen with**
> systemd 237
> +PAM +AUDIT +SELINUX +IMA +APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD -IDN2 +IDN -PCRE2 default-hierarchy=hybrid


<!-- **NOTE:** Do not submit bug reports about anything but the two most recently released (non-rc) systemd versions upstream! -->
<!-- See https://github.com/systemd/systemd/releases for the list of most recent releases. -->
<!-- For older version please use distribution trackers (see https://systemd.io/CONTRIBUTING#filing-issues). -->

**Used distribution**
 > NAME="Ubuntu"
> VERSION="18.04.3 LTS (Bionic Beaver)"


**Expected behaviour you didn't see**
 > When host makes a DHCPv4 and DHCPv6 requests, and receives both IPv4 and IPv6 DNS server addresses (via DHCP options), it is expected that the order of DNS servers should put IPv6 DNS server **first** as per the defaults of RFC 6724. RFC 6731 states that the host should create a list of DNS servers when multiple sources are available. RFC 8106 states that DHCPv6 should be preferred over SLAAC RDNSS option.

**Unexpected behaviour you saw**
 > Host will only make DNS requests to IPv4 DNS server. DNS Requests are **never* made to the IPv6 DNS server.

**Steps to reproduce the problem**

1. Set up a host on a dual stack network with both DHCPv4 and DHCPv6 services.
2. Run `systemd-resolve --status` command to see the internal DNS server list , and the order of DNS servers
3. Note that the IPv6 DNS server is never at the top of the list
4. Sniff the port 53 DNS requests of the hosts, and note that the DNS requests **never** are made to the IPv6 DNS server

systemd-resolved should follow the address selection rules stated in RFC6724, and consult gai.conf to see if those rules have been updated from the RFC defaults when creating the *internal DNS server list* as per RFC 6731.



RFC 6724 describes (destination) address selection for a single connection when destination is multi-homed and there are several possible addresses to chose from. It is unrelated to DNS server selection (nor does it unconditionally prefer IPv6 over IPv4). Two other mentioned RFC do not require IPv6 DSN server to be preferred over IPv4 DNS server either.

If you think implementation violates RFC, please provide exact quote that describes behavior which is violated.

What actual problem are you trying to solve? What does not work in your case?

We read RFC 6724 differently. It clearly states in the introduction:
>  The IPv6 addressing architecture [RFC4291] allows multiple unicast
   addresses to be assigned to interfaces.

In addition to multi-homed.

Section 10.2 states:
> 10.2.  Default Destination Address Selection

   The destination address selection rules, in conjunction with the
   default policy table and the source address selection rules, produce
   the following behavior:

   Candidate Source Addresses: 2001:db8:1::2 or fe80::1 or 169.254.13.78
   Destination Address List: 2001:db8:1::1 or 198.51.100.121
   Result: 2001:db8:1::1 (src 2001:db8:1::2) then 198.51.100.121 (src
   169.254.13.78) (prefer matching scope)

As you can see IPv6 (by default) should be preferred.

Since DNS is selecting addresses to connect to DNS servers, I believe Section 10.2 applies, and therefore resolved _should_ use an IPv6 address _before_ falling back to an IPv4 address.




> Section 10.2 states

This section describes algorithm to chose between multiple addresses to single destination. Each DNS server is separate destination so this does not apply.

> Since DNS is selecting addresses to connect to DNS servers

No, it is not. It is selecting DNS servers. Each DNS server has exactly one address, so there no ambiguity and nothing to chose from. Other two RFC you mentioned do describe selecting DNS servers, but nowhere do they say that servers with IPv6 address must be unconditionally preferred over servers with IPv4 address. If I missed it, please provide quotes from these RFC which say differently.

> No, it is not. It is selecting DNS servers. Each DNS server has exactly one address, so there no ambiguity and nothing to chose from. 

It would appear that systemd *is* selecting addresses, and preferring v4 over v6. I have sniffed a systemd host making both DHCPv4 and DHCPv6 requests repeatedly. The DHCPv6 reply comes back faster (by seconds) and yet the DHCPv4 value is always placed at the top of the list, and the host *only* makes DNS queries over v4. Why is v4 being preferred?

> And you still did not explain what actual problem are you trying to solve

The problem I am trying to solve is migrating dual-stack networks to IPv6-only (dual-stack is only a *transition* method, after all. With systemd *only* making DNS queries over v4, any v6 attached DNS server is not tested before moving to full IPv6-only. It is one more gotcha that the network engineer/planner must be aware of. This makes adoption of IPv6 harder, not easier.

Even a Happy Eyeballs (RFC 8305) would be a better implementation that the current v4 preferred one of systemd today.

This also creates measurement problems when comparing percentages of IPv4 vs IPv6 traffic in IPv4->IPv6 migration situations. While the DNS traffic itself is relatively small, queries for AAAA records to the IPv4 DNS servers we use return no answer for IPv4-only capable services, but queries to the IPv6 DNS servers, which have DNS64 enabled, do provide synthesized AAAA records (which go through the NAT64 gateway). This directly affects how traffic flows in the network and whether the connections are made over IPv4 or IPv6.

We start with the first DNS server configured, and then stick with it until we notice some issue with it, which is where we then switch to the next one, and so on — if we reached the end of the list, then we start from the beginning again. Note that (unlike with glibc's own built-in resolver) we maintain memory between multiple lookups, we do not begin the logic from the top of the list on each lookup — we remember where we were, and how well it worked, and stick to it.

Hence, if you want resolved to prefer IPv6 then put the DNS server first in the configuration you give resolved (or that your network management solutions propagate to resolved). But note that if there are some troubles with that server, then resolved will switch to the next one which then might be IPv4 and will then stick to it for good, unless it also has issues.

I am not convinced preferring IPv6 universally a good idea though, whatever the RFCs say. IRL IPv6 support in networks is spotty at best, and often works much worse than IPv4. I think preferring IPv6 servers over IPv4 hence is not the best idea if you want best service in the most cases. And I think that should be the goal here. Hence our logic of "start with the first list, whatever that is", and "stick to what we know works" is the best approach.

Or in other words: I don't think this request is really that desirable, and if you want it, then configure this in your network management solution, resolved follows what is configured there.

Hence closing. Hope that makes sense.

> I am not convinced preferring IPv6 universally a good idea though, whatever the RFCs say. IRL IPv6 support in networks is spotty at best, and often works much worse than IPv4. I think preferring IPv6 servers over IPv4 hence is not the best idea if you want best service in the most cases. And I think that should be the goal here. Hence our logic of "start with the first list, whatever that is", and "stick to what we know works" is the best approach.



Self-fulfilling prophecy, I just discovered this issue because resolved didn't behave as it should according to RFC. And many of the IPv6 issues I hit these days are related to developers thinking "well let's not do what the RFC says and just use IPv4 because screw everyone that wants to use it"

And btw, the best solution would have been to do simultaneous lookup over IPv4 and IPv6 and track both individually, or as resolved is tracking the status globally anyway preferring IPv6 as the RFC says would have caused exactly 1 failed lookup and it would have fallen back to the next option (the IPv4 server).

I really don't understand why everyone always thinks the people writing the RFC don't know anything and then also do not participate in the discussion on the lists but just introduce new "spotty" behavior that nobody ever thought about and that people have to identify while debugging issues that should have never existed in out-of-the-box configurations to begin with...

Confirming the issue I was facing with my systems and after reading that, I did some research and found this: https://github.com/DRiKE/resolvloser 

It is a "gambiarra" (as we say in my homeland) but it does the job systemd-resolve isn't doing, hope it helps the rest of us who cares about the current Internet Protocol.

That wouldn't work for everything though. I ended up using unbound so far, I just installed it as a full resolver instead of "just forwarding" my lookups to some other server I'm now doing it myself locally. Together with a local copy of the root zone and some caching logic, it's actually way faster than anything else too, so screw systemd-resolved I guess...
(Only, issues are in regards to the other lookup protocols systemd-resolved provided like mDNS, accessing local resources like captive portals, and split-horizon dns...)

IPv6, if configured, should always be used first if possible, for the occasions where IPv6 is not 100% working, and software want to try and be smart, happy eyeballs implementations should be used (parallel connection attempts)

So IPv6 DNS server should always be tried first, every time. Even if it didn't work on the last request it should be used again.
This is also true for the full list of servers, where the primary should always be tried first. Keep using the last working server is not what network admins want or expect.

Consider that we have to restart our primary DNS server for some reason, when it comes back online, we expect it to serve all clients again. This is especially true in cases where it serves a different view of domains (often internal) than what secondarys have.

I think you are right in that clients shouldn't wait for servers to fail until it moves on to the next server. But tracking and keep using last working is the wrong solution.

Instead do parallel requests, with X ms delay between them in the order that is preferred. Use the fastest reply. Add additional delays before asking secondaries if the primary replied last time or if the secondary failed last time.

@poettering could you please revisit this issue? I know you don't really like IPv6, but just breaking interoperability by introducing non RFC conforming behavior as it seen right now also can't be the preferred solution.

> Hence, if you want resolved to prefer IPv6 then put the DNS server first in the configuration you give resolved...
> ...if you want it, then configure this in your network management solution, resolved follows what is configured there.

In most configurations, systemd-networkd is providing this configuration. I can find no method to change the order of discovered (RDNSS/DHCP) nameservers delivered to systemd-resolved. I suspect this is because of the developer's bias indicated above, but I would be glad to be politely informed of where in the extensive documentation I missed this setting.

Shouldn't this be not marked as resolved when the resolver has been set to non RFC compliant behavior due to the preferences of the developer? The issue remains that on a modern dual stack network, contrary to most platforms and standard behavior, IPv4 is preferred over IPv6 for DNS in systemd.

Given the issue was forcibly closed 4 years ago, flagrantly dismissing both the needs of the requestor and the relevant standards, it would seem the only viable path forward is the venerable workaround. Documenting here for anyone else who stumbles upon this as I did.

For `systemd-networkd`, the only apparent solution is to simply discard the IPv4 resolvers. In the `.network` file(s), add:
```
[DHCPv4]
UseDNS=no
```
There probably ought to be a tunable to set the order instead (see my inquiry above), but good luck getting that introduced.

For NetworkManager, you can change the order of the resolvers passed in by adding this to `NetworkManager.conf`:
```
[connection]
ipv4.dns-priority=100
ipv6.dns-priority=1
```
I presume this could be set on a per-connection basis if desired as well.