IPv6 Compliance RFC4861: Router Advertisement Processing, Router Lifetime (Hosts Only) (Lifetime 5s; Allowed to Expire) [v6LC.2.2.14 Part C]

### systemd version the issue has been seen with

256

### Used distribution

Ubuntu 24.04

### Linux kernel version used

6.8.0-35-generic

### CPU architectures issue was seen on

x86_64

### Component

systemd-networkd

### Expected behaviour you didn't see

#### IPv6 Conformance Test v6LC.2.2.14: Router Advertisement Processing, Router Lifetime (Hosts Only) - Part C: Router Lifetime Set to Five; Allowed to Expire.
**Purpose**: Verify that a host properly processes a Router Advertisement and the Router Lifetime field within it.
**Reference**: [RFC 4861, Section 6.3.4](https://www.ietf.org/rfc/rfc4861.html#section-6.3.4)

#### Network Configuration
* The last octet of the address is shown in square brackets so it can easily be associated with the attached PCAP.
```
            TN2
           [1181]
             |
    +--------+--------+
    |                 |
   TR1               TR2
  [1060]            [1061]
    |                 |
    +--------+--------+
             |
            HUT
           [77f6]
```

| Step | Action | Expected Behaviour of HUT |
|--------|--------|--------|
| 1. | TN2 sends global `Echo request` to HUT.| HUT sends `Echo reply` with first hop as either TR1 or TR2 |
| 2. | TR1 sends RA `Lifetime=5s` | |
| 3. | Wait 7 seconds | |
| 4. | TN2 sends global `Echo request` to HUT.| HUT sends `Echo reply` with first hop as TR2 |
| 5. | TR2 sends RA `Lifetime=5s` | |
| 6. | Wait 7 seconds | |
| 7. | TN2 sends global `Echo request` to HUT.| HUT MUST not send an `Echo reply` or transmit NS's for TR1 or TR2 |



### Unexpected behaviour you saw

In Step 4, the HUT sent an `Echo reply` with first hop set to TR1 (even though TR1's lifetime had expired).

### Steps to reproduce the problem

This is an intermittent problem. It's possibly related to #33470 in that both cases are handling two default routers. `networkd` is creating a single `default route` with two `ECMP nexthop paths`. It appears as if both paths are being impacted by changes in each router's RA.

When the expiry timer for one router changes, it seems to affect both paths, since they're both summarised under one route.

Meanwhile, if the kernel processes the RAs, it creates two separate default routes and each route entry is managed independently.

**QUESTION**:
TR1 and TR2 each manage their own expiration, yet they are summarised as a single default route with two ECMPs nexthops. So if TR1 changes its router-lifetime, then it appears to affect both nexthop entries.  E.g. the output from `ip -6 monitor all` shows:

```
[2024-07-02T03:35:23.356393] [ROUTE]default proto ra metric 10 expires 5sec pref medium
        nexthop via fe80::200:10ff:fe10:1060 dev eno0 weight 1 
        nexthop via fe80::200:10ff:fe10:1061 dev eno0 weight 1 
```

Notice both routes seem to be summarised under the same expiration of 5s.

This hypothesis seems to be supported by examining rtnetlink(7):

> From rtnetlink(7), it shows the [RTA_EXPIRES](https://man7.org/linux/man-pages/man7/rtnetlink.7.html#:~:text=Defined%20by%20RTA_ENCAP_TYPE-,RTA_EXPIRES,-int%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Expire%20time) entry is defined on a per-route basis and it does not show up under the `RTA_MULTIPATH` entry.  So it seems there's no mechanism to independently update the expiry time for just one of the paths.

I'll handcraft some packets tomorrow to better explore this.

Another (unlikely) possibility is that networkd is taking a long time to process the expired router. So when the test sends an `Echo request` 2 seconds after route expiration, `networkd` may not have completed the processing for the expiration. Is this possible?

[v6LC_2_2_14c-networkd-fail.zip](https://github.com/user-attachments/files/16061141/v6LC_2_2_14c-networkd-fail.zip)




### Additional program output to the terminal or log subsystem illustrating the issue

_No response_

This is a limitation of the kernel. We cannot set multiple IPv6 routes with the same destination and priority. You can see that by assigning multiple IPv6 routes by `ip route` command.
To support such test case, we need to adjust priority of route, say first route with 1000, and the second route with 999. But, we need huge rework to achieve that, huh...

I have a kernel patch that has been working for me. Once I finish shaking it out, I'll share it here.

Without the patch, `networkd` cannot be IPv6 Compliant.