DHCPv4 and DHCPv6 issue different Client Identifiers in violation of RFC4361 Section 5

### systemd version the issue has been seen with

252.33

### Used distribution

Debian 12

### Linux kernel version used

6.1.57

### CPU architectures issue was seen on

arm

### Component

systemd-networkd

### Expected behaviour you didn't see

I believe this problem is present in all versions of systemd-networkd to present, but I have verified it for certain in the above case.

The DHCP client(s) do not properly follow RFC4361 Section 5 which states:
    - DHCPv4 client identifiers used by dual-stack hosts that also use
     DHCPv6 must use the same host identification string for both DHCPv4
     and DHCPv6.  For example, a DHCPv4 server that uses the client's
     identity to update the DNS on behalf of a DHCPv4 client must
     register the same client identity in the DNS that would be
     registered by the DHCPv6 server on behalf of the DHCPv6 client
     running on that host, and vice versa.

I am seeing unique DHCP Client Identifiers in the two different protocols for the same host.  (trimmed for clarity)
DHCP4: 	    Client-ID (61), length 19: hardware-type 255, 4a:a6:f8:4a:00:02:00:00:ab:11:ab:80:8e:0c:13:3e:9f:8e
DHCP6:             client-ID vid 0000ab11ab808e0c

(Full tcpdump output in Additional Program Output below)



### Unexpected behaviour you saw

Distinct Client-Identifier strings in IPv4 and IPv6.


### Steps to reproduce the problem

Stand up a DHCPv4 and DHCPv6 client on the same interface using systemd-networkd


### Additional program output to the terminal or log subsystem illustrating the issue

```sh
07:45:09.320985 IP6 (flowlabel 0xe6100, hlim 1, next-header UDP (17) payload length: 129) fe80::xxxx:xxff:fexx:xxxx.546 > ff02::1:2.547: [bad udp cksum 0xe9c8 -> 0xfcd4!] dhcp6 solicit (xid=90df8c (rapid-commit) (IA_NA IAID:1252456522 T1:0 T2:0) (IA_PD IAID:1252456522 T1:0 T2:0 (IA_PD-prefix ::/60 pltime:0 vltime:0)) (Client-FQDN) (option-request DNS-server SNTP-servers NTP-server opt_82) (client-ID vid 0000ab11ab808e0c) (elapsed-time 0))
07:45:09.347334 IP6 (hlim 64, next-header UDP (17) payload length: 173) fe80::xxxx:xxff:fexx:xxxx.547 > fe80::xxxx:xxff:fexx:xxxx.546: [udp sum ok] dhcp6 advertise (xid=90df8c (client-ID vid 0000ab11ab808e0c) (server-ID hwaddr/time type 1 time 490204136 288023a2eeb8) (IA_NA IAID:1252456522 T1:128167 T2:205067 (IA_ADDR 2001:xxxx:xxxx:xxxx:61a1:a95a:7e4c:c24d pltime:256334 vltime:256334)) (IA_PD IAID:1252456522 T1:128167 T2:205067 (IA_PD-prefix 2601:xxxx:xxxx:xxx0::/60 pltime:256334 vltime:256334)) (DNS-server 2001:558:feed::1 2001:558:feed::2))
```

That is unclear wording in RFC 4361. In DHCPv6 client identifier contains only DUID by definition and IAID is provided explicitly. Allocated resources are associated with IAID and DUID.

DHCPv4 does not have IAID option which is retrofitted in DHCPv4 client identifier. 

There is no way DHCPv4 and DHCPv6 client identifiers can be byte to byte identical, but in your example, both DHCPv4 and DHCPv6 clients do have exactly the same identity DUID + IAID. I do not see any violation here.

The wording in the RFC is not unclear. Option 61 (DHCPv4) and Option 1 (DHCPv6) must contain the same value on dual stack systems. While the v6 requirements specify the content, the v4 specifications provide suggestions only, except for this requirement. 

The DCHP client-identifier options must be identical because having them not match causes significant problems for dynamic dns registrations. 